<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron alert alert-dismissible fade in inner-jumbotron shadow " id="no-border-round" role="alert">
    <h1>About Us</h1>
    <div class="staticpages">
        <p>EvezOwn is a unique commerce and community platform for 5 products and services categories of Health, Wellness & Fitness, Beauty & Fashion, Food & Nutrition, Education, Care & Parenting and Lifestyle. If you are an entrepreneur, Business professional or an organisation/association in these categories, Evezown offers a unique web presence combined with interaction and transaction features and a host of Ecom and digital promotional tools.</p>

        <p>Our five categories are at the core of economic activity. It is embedded in every consumer’s daily routine. They are buying, selling, recommending, searching and discovering various products and services to meet their needs and needs of their family and friends in these categories. EvezOwn provides the platform for entrepreneurs and consumers to pursue this activity more efficiently and effectively.  It allows them to present their identity, professional or personal, build their community and promote through a host of features such as blogs, discussion, Ads & Campaigns, events, and Stream It.</p>

        <p>The accent in EvezOwn is on categories and sub categories most of which are personalized, niche, reference oriented, high involvement, concept oriented and high quality products and services that are not so easily available or known widely.
		Evezown.com is the first initiative launched by Web Insights Private Limited, an Internet Innovations Company.</p>

    </div> 
</div>