<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron alert alert-dismissible fade in inner-jumbotron shadow " id="no-border-round" role="alert">
    <h1>Careers</h1>
    <div class="staticpages" style="margin-bottom:80px;">
        <p>We are looking for creative, passionate and committed professionals in the fields of webtechnology, vendor management and other support services. If you wish to apply, please email your resume to <a>careers@evezown.com</a> Please mention your specialization or experience in the subject line.</p>
    </div>
</div>