<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron alert alert-dismissible fade in inner-jumbotron shadow " id="no-border-round" role="alert">

    <h1>Contribute</h1>
    <div class="staticpages">
        <p>Thank you for your interest to contribute to evezown.com. You can contribute to evezown in the following manner</p>

        <p> &#10004; <b>As an Evangelist – To promote EvezOwn by creating large close knit circles (100 plus)</b> – for more information, write to <a>evezplace@evezown.com</a></p>

        <p> &#10004; As a Ecommerce /Sourcing  specialist - for more information, write to <a>evezplace@evezown.com</a></p>

        <p> &#10004; <b>As an active Writer /Content creator</b> – for more information, write to <a>editor@evezown.com</a></p>

        <p> &#10004; Any other manner you wish to contribute, send in your suggestion to <a>editor@evezown.com</a></p>
    </div>
</div>