<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron alert alert-dismissible fade in inner-jumbotron shadow " id="no-border-round" role="alert">
    <h1>Evezown FAQ</h1>
    <div class="staticpages">
        
        <h4>1.What is EvezOwn?</h4>
        <p>Evezown is a unique commerce and community platform. If you are an entrepreneur, Business professional or an organisation/association, Evezown offers a unique web presence combined with interaction and transaction features and a host of Ecom and digital promotional tools.</p>
       
        
        <h4>2.Which are the 5 categories?</h4>
        <p>The platform enables differentiation of categories as a) Stores, b) Business and c) Stores + Business. Under each of these there are 5 five main categories. These are:</p>
        <ul>
        	<li>Health Wellness & Fitness</li>
			<li>Food & Nutrition</li>
			<li>Beauty & Fashion</li>
			<li>Education, Care & Parenting</li>
			<li>Lifestyle</li>
        </ul>

        <p>Under each of the above category there are several, relevant sub categories to choose from. If a user is not able to find a suitable, pertinent sub category, they can request EvezOwn to add the category by writing to support@evezown.com</p>

        <h4>3.What are the sections on EvezOwn</h4>
        <p>EvezOwn platform is built on the following three sections:</p>
        <p>&#10004;<a href="#streamit">Evezown</a> - For every member this section gives you  host of features on sign in. You can create   your individual website, Mysite to capture the essence of your business and personality. It provides you the feature of creating your profile in-depth. You can create and <a href="#community">Build community</a> to connect with you friends or colleagues, or customers or just about any people you wish to connect with on this platform. It gives you features to engage with your community  dynamically through <a href="#streamit">Stream It</a>. You can share and  promote your ideas, business or ventures digitally both within Evezown and externally on social media using features such as regular posts, events, blogs, discussion and groups.</p>
        <p>&#10004;<a href="#evezplace">MarketPlace</a> – This is a place for all things exclusive,  unique, you can always find something that  reflects your personal touch and taste.If you know what want, search, filter or just browse through stores at leisure, explore, experience and then choose.</p>
        <p>&#10004;<a href="#wopportunity">Jobs</a> – This is the opportunities and career section. A resourcing platform, business people can use it for hiring talent and working professionals can use it to find an opportunity of their choice.</p>

        <h4>4.Target segment for EvezOwn</h4>
        <p>&#10004; Evezown is a unique commerce and community platform for 5 products and services categories of Health, Wellness & Fitness, Beauty & Fashion, Food & Nutrition, Education, Care & Parenting and Lifestyle. If you are an entrepreneur, Business professional or an organisation/association in these categories, Evezown offers a unique web presence combined with interaction and transaction features and a host of Ecom and digital promotional tools.</p>
        
        <h4>5.EvezOwn’s aim & objective</h4>
        <p>Our five categories are at the core of economic activity. It is embedded in every consumer’s daily routine. They are buying, selling, recommending, searching and discovering various products and services to meet their needs and needs of their family and friends in these categories. EvezOwn provides the platform for entrepreneurs and consumers to pursue this activity more efficiently and effectively.  It allows them to present their identity, professional or personal, build their community and promote through a host of features such as blogs, discussion, Ads & Campaigns, events, and Stream It.</p>
        <p>The accent in EvezOwn is on categories and sub categories most of which are personalized, niche, reference oriented, high involvement, concept oriented and high quality products and services that are not so easily available or known widely.</p>
        
    </div> 
</div>