<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron alert alert-dismissible fade in inner-jumbotron shadow " id="no-border-round" role="alert">
    <h1>Stream It FAQs</h1>
    <div class="staticpages">
        <h4>1.What is Stream It?</h4>

        <p>It is the community building and promotion platform. Members can create their profile in-depth; connect with friends, colleagues, customers, partners, employees or other people they wish to connect with. They can promote their business digitally within their private circles or publicly using Stream It features such as events, blogs, discussion and groups.
Though there is a lot of information available on the net on various topics and categories, authenticated and/or recommended content which is trustworthy and useful is still hard to find. Stream It essentially encourages to share experiences, good or bad, share their finds and discoveries, spread the word around in close knit personal circles. Word of mouth has always been very powerful in building opinions, Stream It helps automate it.</p>

        <h4>2.Features of Stream It</h4>

        <p>Stream It provides following features:</p>
        
        <p>&#10004;<b>Stream It is the section to promote, recommend or endorse a product or a service or both. It helps to create awareness and draw attention. Any member can recommend what or whom they believe in on account of direct experience with the product, service, person or place. This place is used for positive experiences as we have included ‘Be careful’ to voice negative experiences. It is in effect a good tool for word of mouth… spreading the word online.
Apart from choosing the categories and sub categories, Stream It posts are segregated as Share/ask, I recommend, My Find and Be Cautious. This helps in classifying the post according to the type of information shared.
Stream It provides the feature of recommending or endorsing a stores or a business service or both to your circles and friends. It helps to create awareness and draw attention.  It is in effect a good tool to spread the word online.</p>


        
    </div> 
</div>