<ng-comment-recco-rewoice-grade
        ng-comments="storeComments"
        ng-comments-metadata="commentMetadata"
        is-comments="true"
        total-grade="totalGrade"
        avg-grade="avgGrade"
        user-grade="userGrade"
        is-grades="true"
        restreams="totalRestreams"
        is-restream="true"
        add-comment="addComment(value)"
        update-comment="updateComment(commentId, comment)"
        delete-comment="deleteComment(id)"
        load-comments="loadComments(page)"
        add-grade="addGrade(grade)"
        add-restream="addRestream()">
</ng-comment-recco-rewoice-grade>