<div class="col-md-12 content-wrapper" ng-controller="ArticlesNewsInterviewsCtrl" style="background-color:#FFF5FF;">
    <div class="row">
        <h4 class="transparent-ribbon text-center" style="color: #e51385;">{{VideoPartialCaptions[12].description}}<br>
            _______________
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <a href="" ng-click="showMoreVideos()"><i class="glyphicon glyphicon-menu-hamburger" style="color: #FFFFFF;"></i></a>
            </span>
            ______________
        </h4>
    </div>
    <div class="row">
        <div class="videos-section">
            <div class="col-md-3 col-xs-6 text-center" ng-repeat="video in videos">
                <embed-video width="100%" data-ng-href="{{video.link}}" controls=1><a
                        href="{{video.link}}">Watch</a></embed-video>
            </div>
        </div>
    </div>
    <!--view more link-->
    <!-- <div class="row">
        <div class="col-md-12 text-right">
            <a href="" ng-click="showMoreVideos()" style="color: #e51385;">
                <p ng-if="!isShowMoreVideos">Show More</p>
                <p ng-if="isShowMoreVideos">Show Less</p>
            </a>
        </div>
    </div> -->
    <!--view more ends-->

    <div class="col-md-4">
        <h4 class="transparent-ribbon text-center" style="color: #e51385;">{{VideoPartialCaptions[13].description}}</h4>
        <div class="news-section" ng-repeat="newsItem in news">
        <p style="text-align:justify;font-size:12px;">
            <a href="{{newsItem.link}}" target="blank" style="text-decoration:none;font-size:13px;"><b>{{newsItem.title | strLimit:35}}</b></a> - {{newsItem.description | strLimit:120 }}<br>
        </p>
        </div>
    </div>

    <div class="col-md-4">
        <h4 class="transparent-ribbon text-center" style="color: #e51385;">{{VideoPartialCaptions[14].description}}</h4>
        <div class="interviews-section" ng-repeat="interview in interviews">
        
        <div class="col-md-12 no-padding">
        <div class="col-md-4 no-padding">
            <img ng-src="" src="img/custom_images/WomenShopping/{{interview.interview_image}}" class="img-responsive thumbnail" width="100" height="100"/>
        </div>
        <div class="col-md-8 no-padding">
            <p style="text-align:justify;font-size:12px;">
                <a href="{{interview.link}}" target="blank" style="text-decoration:none;font-size:13px;"><b>{{interview.title | strLimit:25}}</b></a> - {{interview.description | strLimit:120}}<br>
            </p>
        </div>
        </div>
        </div>
    </div>

    <div class="col-md-4" ng-include src='"partials/articles.html"'></div>
</div>