<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron alert alert-dismissible inner-jumbotron shadow " ng-show="caption" id="no-border-round"
     role="alert" ng-controller="ApplicationCtrl">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <h1>Build Community</h1>

    <p style="text-align:justify">Build community helps you replicate your existing, offline community online. You can use features like Connect, Circles, Groups, Events, Blogs and Discussions to interact with your community and grow it. These features are linked to Stream It, the streaming channel for promotion and propagation. This helps you spread the word better among your community about your activities.
    </p>
</div>
<!-- Static navbar -->
<nav class="navbar navbar-default" id="navContainer">
    <div id="navbar1">
        <ul class="nav navbar-nav">
            <li ng-class="">
                <a href="#profile/{{userId}}" class="{{isActive[1]}}">Mysite</a>
            </li>
            <li ng-class="{ active: isActive('/community')}"><a href="#community" >Build Community</a>
            </li>

            <li ng-class="{ active: isActive('/streamit')}"><a href="#streamit">Stream It</a></li>
            <li ng-class="{ active: isActive('/explore')}">
                <!-- Template which needs to be shown on click -->
                <script type="text/ng-template" id="explore">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip">
                        <ul>
                            <li style="padding: 5px; text-align: center"><a  href="#evezplace">MarketPlace</a></li>
                            <li style="padding: 5px; text-align: center"><a  href="#wopportunity">Jobs</a></li>
                        </ul>
                    </div>
                </script>

                <a ns-popover
                   ns-popover-template="explore"
                   ns-popover-trigger="click"
                   ns-popover-theme="ns-popover-list-theme">
                    Explore
                </a>
            </li>
            <li ng-class="{ active: isActive('/search/advanced')}"><a href="#search/advanced"
                                                                      id="search">Search&nbsp;<span
                    class="fa fa-search" id="searchIcon"></span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="col-md-2 user-menu-btns">
    <div class="btn-group-vertical square" id="responsive">
        <a href="#community" class="btn btn-default">
            <p>Connects</p>
        </a>
        <a href="#circles" class="btn btn-default">
            <p>Circles</p>
        </a>
        <a href="#albums" class="btn btn-default">
            <p>Gallery</p>
        </a>
        <a href="#groups" class="btn btn-default">
            <p>Groups</p>
        </a>
        <a href="#events" class="btn btn-default">
            <p>Events</p>
        </a>
        <a href="#blogs" class="btn btn-default btn-block  active">
            <p>Blogs</p>
        </a>
        <a href="#forums" class="btn btn-default">
            <p>Discussion</p>
        </a>
    </div>
</div>
<div class="col-md-10 user-menu user-pad"  ng-controller="blogCntrl">
    <div class="col-md-12 panel-heading" style="padding-left: 0px;padding-right: 0px;">
        <div class="fragment">
            <a><span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>x</span></a>
            <h4>Blogs</h4>
            <p>
                Your voice. Your blog. Express yourself.
            </p>
        </div>
    </div>
    <div class="col-md-12 panel-heading" style="padding-left: 0px">
        <div class="col-md-2" style="padding-left: 0px">
            <h4>
                Blogs ({{myBlogs.length}})
            </h4>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="search blogs" ng-model="blogsearch"/>
        </div>
        <div class="col-md-2 col-md-offset-4 pull-right custom-create-blog-button">
            <a href="#createblogs" class="btn btn-primary"><span class="fa fa-plus"></span> Create Blog</a>
        </div>
    </div>
    <div class="col-md-12 blog-post-items custom-blog-list" style="margin-top:30px;">
        <!-- Row 1-->
        <div class="col-md-6 post-item container-closed" ng-repeat="blog in myBlogs | filter:blogsearch">
            <figure class="post-thumbnail" style="max-height:200px;">
                <a href="#blogs/{{blog.id}}"
                   title="{{blog.title}}">
                    <img ng-src="img/blog.png" class="img-thumbnail" ng-if="blog.blog_image == null"/>
                    <img ng-src="{{service_url}}image/show/{{blog.blog_image.large_image_url}}" class="img-thumbnail" ng-if="blog.blog_image != null" alt="{{blog.title}}"/> </a>
            </figure>
            <section class="post-content" style="margin:0px;">
                <header>
                    <a href="#blogs/{{blog.id}}"
                       title="{{blog.title}}"><h2 class="post-title">{{blog.title | strLimit: 20}}</h2></a>

                    <div class="single-meta">
                        <span>
                            <span>
                                <a href="#profile/{{loggedInUserId}}" class="author-name">{{blog.author.firstname}} {{blog.author.lastname}}</a>&nbsp;&nbsp;•&nbsp;&nbsp;
                                <a href rel="category tag">{{blog.subcategory.category.category_name}}</a>&nbsp;&nbsp;•&nbsp;&nbsp;
                                <a href rel="category tag">{{blog.subcategory.subcategory_name}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>
                            <p  ng-bind="convertToDate(blog.updated_date.date) | date:'medium'"></p>
                        </span>
                    </div>
                </header>
                <div class="main-content">
                    <ANY ng-bind-html="blog.content | strLimit:150 "></ANY>
                </div>
                <footer>

                    <div ng-if="blog.status == 'published'"><font color="blue" >Published</font></div>
                <div  ng-if="blog.status == 'draft'"><font color="red">Draft</font></div>
                    <a href="#blogs/{{blog.id}}" title="{{blog.title}}" class="read-more-btn btn btn-blue">Read
                        more...</a>
                </footer>
                <div class="clearfix"></div>
            </section>
        </div>
        <button class="btn btn-block btn-blue" ng-if="myBlogs.length > 6">Load More</button>
    </div>

</div>