<!-- Static navbar -->
<nav class="navbar navbar-default" id="navContainer">
    <div id="navbar1">
        <ul class="nav navbar-nav">
            <li ng-class="">
                <a href="#profile/{{userId}}" >Mysite</a>
            </li>
            <li ><a href="#myevents/{{currentUserId}}" class="{{isActive[1]}}">Events</a>
            </li>
            <li ng-class="{ active: isActive('/explore')}">
                <!-- Template which needs to be shown on click -->
                <script type="text/ng-template" id="explore">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip">
                        <ul>
                            <li style="padding: 5px; text-align: center"><a  href="#evezplace">MarketPlace</a></li>
                            <li style="padding: 5px; text-align: center"><a  href="#wopportunity">Jobs</a></li>
                        </ul>
                    </div>
                </script>

                <a ns-popover
                   ns-popover-template="explore"
                   ns-popover-trigger="click"
                   ns-popover-theme="ns-popover-list-theme">
                    Explore
                </a>
            </li>
            <li ng-class="{ active: isActive('/search/advanced')}"><a href="#search/advanced"
                                                                      id="search">Search&nbsp;<span
                    class="fa fa-search" id="searchIcon"></span></a>
            </li>
        </ul>
    </div>
</nav>
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron alert alert-dismissible inner-jumbotron shadow " ng-show="caption" id="no-border-round"
     role="alert" ng-controller="ApplicationCtrl">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <h1>Build Community</h1>

    <p style="text-align:justify">Build community helps you replicate your existing, offline community online. You can use features like Connect, Circles, Groups, Events, Blogs and Discussions to interact with your community and grow it. These features are linked to Stream It, the streaming channel for promotion and propagation. This helps you spread the word better among your community about your activities.
    </p>
</div>


<ul class="breadcrumb">
    <li><a href="#home">Home</a></li>
    <li><a href="#myevents/{{currentUserId}}">Events</a></li>
</ul>
<div ng-controller="eventCtrl" class="custom-event-details">
<div class="col-md-12 circle-section" style="padding-right: 0px; padding-left: 0px">
<div class="col-md-9 panel-heading " style="padding-left: 0px; padding-right: 0px">
    <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px">
        <div class="col-sm-12" style="background: #000000; width: 100%; padding: 2px">
            <div  ng-if="selectedEvent.owner_id == loggedInUserId">
                <div class="pull-left" ng-controller="EventCoverImageChange">
                    <a href class="btn btn-primary" ng-click="ChangeEventCover();" id="ChangeEventCover" style="background-color:#e50880;color:#ffffff;position:absolute;opacity:0.6">Change Cover</a>
                </div>
            </div>
            <img  ng-src="{{coverImage}}" ng-if="coverImage != null" alt="" class="img-responsive"/>
            <img src="img/event.png" ng-if="coverImage == null" alt="" class="img-responsive"/>
        </div>
        <h4 style="position:absolute; padding-left:10px; bottom: 0px; color: #ffffff; z-index: 2;">
            <span class="fa fa-glass custom-event-title"> {{selectedEvent.title}}</span>
        </h4>

        <div class="col-sm-10"
             style="position:absolute; bottom: 0px; height: 38px;width:100%; background: #000000; opacity: 0.6"></div>
    </div>
    <div class="col-md-12 eve-panel-body" style="padding: 5px">
        <div class="row">
            <div class="col-md-3" ng-if="selectedEvent.owner_id == loggedInUserId">
                <a href="#editevent/{{selectedEvent.id}}" class="btn btn-link"><i class="fa fa-pencil"></i> edit event</a>
            </div>
            <div class="col-md-3" ng-if="selectedEvent.owner_id != loggedInUserId">
                <a class="btn btn-link" ng-click="WoiceIt()"><i class="fa fa-share-square-o"></i> Stream event</a>
            </div>
            <div class="col-md-3" ng-if="selectedEvent.owner_id == loggedInUserId">
                <a class="btn btn-link text-center" ng-click="WoiceIt()"><i class="fa fa-share-square-o"></i> Stream event</a>
            </div>
            <div class="col-md-3">
                <!--<a class="btn btn-link text-center"><i class="fa fa-envelope-o"></i> message attendees</a>-->
            </div>
            <div class="col-md-3 custom-delete-event" ng-if="selectedEvent.owner_id == loggedInUserId">
                <a class="btn btn-link pull-right" style="color: darkred" ng-click="DeleteEvent(selectedEvent.id)"><i class="fa fa-trash-o"></i> delete event</a>
            </div>
            <div class="col-md-12" style="padding-top: 20px;">
                <div class="col-md-1" style="padding-top: 20px;">
                    <bold style="font-size: 12px">Grade It</bold>
                </div>
                <div class="col-md-2 rating-back custom-event-grade">
                    <div class="ratingStyle text-center" ng-app="Duo">
                <span duo-stars max="4"
                      data-ng-model="eventGrade" ng-click="UpdateEventGrade(eventGrade,selectedEvent.id)"></span>
                        <p>
                            <small style="font-size: 12px">Current {{eventGrade}} Levels</small>
                        </p>
                    </div>
                    <!--<div class="text-center" ng-app="Duo" ng-if="selectedEvent.grades.length == 0">-->
                <!--<span duo-stars value="0" max="4"-->
                      <!--data-ng-model="stars" ng-click="UpdateEventGrade(stars,selectedEvent.id)"></span>-->
                        <!--<p>-->
                            <!--<small style="font-size: 12px">Current {{stars}} Levels</small>-->
                        <!--</p>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 eve-panel-body" style="text-align:justify;">
        <h5 style="text-transform: none">
            <b>Event Details: </b> {{selectedEvent.description}}
        </h5>
        <h5 style="text-transform: none">
            <b>Created By: </b> <a href="#profile/{{selectedEvent.owner_id}}">{{selectedEvent.owner.firstname}}
            {{selectedEvent.owner.lastname}}</a>
        </h5>
    </div>
    <div class="col-md-12 eve-panel-body">
        <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px">
            <h5>
                <b>From: </b> {{selectedEvent.start_date}}
            </h5>
        </div>
        <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px">
            <h5>
                <b>To: </b> {{selectedEvent.end_date}}
            </h5>
        </div>
        <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px">
            <h5>
                <b>Start time: </b>{{selectedEvent.start_time}}
            </h5>
        </div>
        <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px">
            <h5>
                <b>End time: </b>{{selectedEvent.end_time}}
            </h5>
        </div>
        <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px">
            <h5>
                <b>Address:</b> {{selectedEvent.location.locality}}
                {{selectedEvent.location.street_address2}}
            </h5>
        </div>
        <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px">
            <h5>
                <b>City: </b>{{selectedEvent.location.city}}
            </h5>
        </div>
    </div>

    <!-- Announcement posting section start -->
    <div class="col-md-12 eve-panel-body custom-event-activity-post" ng-if="selectedEvent.owner_id == currentUserId">
        <h5>Event activites: </h5>

        <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px">
            <input type="text" class="form-control" rows="2" placeholder="Whats your announcement?"
                   required data-ng-model="eventactivity"/>
        </div>
        <div class="col-sm-12 heading" style="padding-left: 0px; padding-right: 0px">
            <div class="col-sm-2 custom-event-select-photo" style="padding-left: 0px; padding-right: 0px">
                <div class="fileUpload btn btn-primary">
                    <span><i class="fa fa-camera"></i> Select photos</span>
                    <input type="file" class="upload" name="image" nv-file-select="" uploader="uploader1"
                           multiple/>
                </div>
            </div>
            <div class="col-sm-2 col-sm-offset-8 pull-left custom-event-activity-submit" style="padding-left: 0px; padding-right: 0px">
                <button class="btn btn-primary btn-block" id="btn-woiceit"
                        ng-disabled="uploader1.isUploading" ng-click="CreateActivity(uploader1,eventactivity)">Submit
                </button>
            </div>
        </div>
    </div>

    <!-- Announcement posting section ends-->

    <!-- Announcement list section starts-->

    <div class="col-md-12 trending-section custom-event-activity" ng-repeat="activity in myEventActivities">
        <div class="col-md-12 zero-padding-left-right">
            <div class="col-md-1">
                <img ng-src="{{imagePath+activity.profile.profile_image.large_image_url}}"
                     class="img-thumbnail" alt="" style="padding: 0px"/>
            </div>
            <div class="col-md-4">
                <h5>{{activity.profile.firstname}}&nbsp;{{activity.profile.lastname}}
                    <small> says...</small>
                </h5>
            </div>
            <div class="times-ago custom-event-times-ago col-md-2 col-md-offset-5 text-right">
                <!-- Template which needs to be shown on hover-->
                <script type="text/ng-template" id="menu" ng-if="currentUserId == activity.profile.id">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip">
                        <ul>
                            <li style="padding: 5px"><a ng-click="DeleteEventActivities(activity.id)"><span
                                    class="fa fa-remove"></span>Delete</a></li>
                        </ul>
                    </div>
                </script>

                <a ns-popover
                   ns-popover-template="menu"
                   ns-popover-trigger="click"
                   ns-popover-theme="ns-popover-list-theme">
                            <span class="fa fa-gear"
                                  style="position: absolute; right: 5px; top: 10px; color: #ffffff;"></span>
                </a>
                <h5 style="margin-right: 10px">
                    <time class="relative custom-event-relative" without-suffix datetime="{{activity.created_date.date}}"></time>
                </h5>
            </div>
        </div>
        <div class="col-md-12 zero-padding-left-right" ng-if="post.description != ''">
            <div class="col-md-12">
                <p>{{activity.comment}}</p>
            </div>
        </div>

        <!-- activity images-->
        <div ng-if="activity.images.length > 0" class="col-md-12 col-xs-12 spec center-block reco-image-gallery">
            <div class="col-lg-3 col-md-6 col-xs-3 no-padding" ng-repeat="image in activity.images | slice:0:1">
                <a  href ng-click="openLightBox(activity.images,$index)" class="thumbnail">
                    <img ng-src="{{service_url+'image/show/'+image.large_image_url}}"
                         alt="125x125">
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-3 no-padding" ng-repeat="image in activity.images | slice:1:2">
                <a  href ng-click="openLightBox(activity.images,$index + 1)" class="thumbnail">
                    <img ng-src="{{service_url+'image/show/'+image.large_image_url}}"
                         alt="125x125">
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-3 no-padding" ng-repeat="image in activity.images | slice:2:3">
                <a href ng-click="openLightBox(activity.images,$index + 2)" class="thumbnail">
                    <img ng-src="{{service_url+'image/show/'+image.large_image_url}}"
                         alt="125x125">
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-3 no-padding" ng-repeat="image in activity.images | slice:3:4">
                <a href ng-click="openLightBox(activity.images,$index + 3)" class="thumbnail">
                    <img ng-if="activity.images.length > 4" ng-src="{{service_url+'image/show/'+image.large_image_url}}"
                         alt="125x125" style="opacity:0.7">
                    <i class="custom-text-over-image" ng-if="activity.images.length > 4">+{{activity.images.length - 4}}</i>
                    <img  ng-if="activity.images.length <= 4"ng-src="{{service_url+'image/show/'+image.large_image_url}}"
                         alt="125x125">
                </a>
            </div>
        </div>
        <!-- activity images ends-->

    </div>
    <!-- Announcement list section ends -->
</div>
<div class="col-md-3 custom-event-panel" style="padding-right: 0px" ng-controller="eventCtrl">
    <div class="panel" style="background: #f7f7f7;">
        <div class="panel-heading">
            <h5 style="color: #337ab7; font-weight: 600 ;margin-top: 5px; margin-bottom: 5px">Attendees
                ({{selectedEvent.attendees.length}})</h5>
        </div>
        <div class="col-sm-12 text-center panel-body" style=" height: 300px"
             ng-if="selectedEvent.attendees.length == 0">
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="search attendees" ng-model="friendsearch"/>
            </div>
            <h5 style="margin-top: 150px; color: #444444; text-transform: none">Event does not have any
                attendees</h5>
        </div>
        <div class="col-md-12 friends-section panel-body" ng-if="selectedEvent.attendees.length > 0"
             style="padding-left: 0px;">
            <div class="col-sm-12">
                <input type="text" class="form-control" placeholder="search attendees" ng-model="friendsearch"/>
            </div>
            <ul class="row" style="padding-left: 0px">
                <li class="col-lg-3 col-md-3 col-sm-4 col-xs-6"
                    style="padding-left: 10px; padding-right: 10px; padding-top:10px "
                    ng-repeat="friend in selectedEvent.attendees | filter:friendsearch | orderBy:'firstname':true">
                    <a href="#profile/{{friend.friend_user_id}}">
                        <center>
                            <div>
                                <img ng-src="{{service_url+'image/show/'+friend.profile.profile_image.large_image_url}}"
                                     class="img-thumbnail"/>
                            </div>
                            <p>{{friend.profile.firstname}}</p>
                        </center>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-12 custom-event-invite" style="padding-right: 0px" ng-if="selectedEvent.owner_id == loggedInUserId">
           
            <div class="panel" style="background: #f7f7f7;" ng-controller="eventCtrl">
                <div class="panel-heading">
                    <input type="text" placeholder="Search friends" ng-model="queryMembers" class="form-control"/>
                </div>
                <ul class="list-group"
                    ng-repeat="member in friendList | limitTo:5 | filter:queryMembers | orderBy:'firstname':true">
                    <li class="list-group-item col-sm-12">
                        <div class="col-sm-9" style="padding-left: 0px; padding-right: 0px">
                            <a href="#profile/{{member.friend_user_id}}"><img ng-src="{{service_url+'image/show/'+member.profile.profile_image.large_image_url}}"
                                                                  class="img-thumbnail" style="width: 32px; height: 32px"
                                                                  alt=""/> {{member.profile.firstname}}, {{member.profile.lastname}}</a>
                        </div>
                        <div class="col-sm-3" style="padding-left: 0px; padding-right: 0px">
                            <a href ng-click="AddFriendsToEvents(member)" class="btn btn-link btn-sm"><span
                                    class="fa fa-check"></span> Invite</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

</div>
<script type="text/ng-template" id="WoicetemplateId">
    <div class="ngdialog-buttons popuptemplate" ng-controller="eventCtrl">
        <h4>Stream Event</h4>
        <input class="form-control" type="text" placeholder="Stream Title"
               id="woiceTitle" ng-model="WoiceTitle" style="margin-bottom: 10px; height: 50px; font-size: 18px"/>
        <textarea class="form-control" rows="4" placeholder="Description (optional)"
                  ng-model="Woicedescription"/>
        <button class="btn primary pull-right form-control" type="button" ng-click="CreateWoice(selectedEvent)">Save</button>
    </div>
</script>

<!--Change/crop Event Cover Image-->
<script type="text/ng-template" id="EventCover">
    <div class="ngdialog-buttons popuptemplate">
        <b>Crop Cover Image</b>
        <br/>

        <form>
            <div class="fileUpload btn btn-primary btn-block">
                <span><i class="fa fa-camera"></i> Select Event Cover</span>

                <input type="file"
                       class="upload"
                       ng-file-select="onFileSelect($files)"
                       ng-model="slideImage.src">
            </div>
            <b>Preview:</b>
            <br/>
            <i ng-hide="slideImage.src">No body image chosen</i>

            <ng-crop data-src="slideImage.src"
                     ratio={{slideImage.cropConfig.aspectRatio}}
                     box-width={{slideImage.boxWidth}}
                     selected='slideImage.selected(cords)'>
            </ng-crop>
            <br/>
            <a ng-click="ChangeEventCoverImage()" class="btn btn-primary pull-right" style="width:120px;">Upload
            <span style="position:absolute;margin-top:10px;margin-left:18px;" us-spinner="{radius:6, width:2, length: 2,color: '#FFFFFF'}" spinner-key="spinner-1" spinner-start-active="false"></span>
            </a>
            <p style="color:#0992F0">Please crop the image before upload</p>
            <br/>
        </form>
    </div>
</script>
