<!-- Static navbar -->
<nav class="navbar navbar-default" id="navContainer">
    <div id="navbar1">
        <ul class="nav navbar-nav">
            <li ng-class="">
                <a href="#profile/{{userId}}" >Mysite</a>
            </li>
            <li><a class="{{isActive[1]}}" href="#mydiscussion/{{currentUserId}}" >Discussions</a>
            </li>
            <li ng-class="{ active: isActive('/explore')}">
                <!-- Template which needs to be shown on click -->
                <script type="text/ng-template" id="explore">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip">
                        <ul>
                            <li style="padding: 5px; text-align: center"><a  href="#evezplace">MarketPlace</a></li>
                            <li style="padding: 5px; text-align: center"><a  href="#wopportunity">Jobs</a></li>
                        </ul>
                    </div>
                </script>

                <a ns-popover
                   ns-popover-template="explore"
                   ns-popover-trigger="click"
                   ns-popover-theme="ns-popover-list-theme">
                    Explore
                </a>
            </li>
            <li ng-class="{ active: isActive('/search/advanced')}"><a href="#search/advanced"
                                                                      id="search">Search&nbsp;<span
                    class="fa fa-search" id="searchIcon"></span></a>
            </li>
        </ul>
    </div>
</nav>

<ul class="breadcrumb" ng-controller="activity">
    <li><a href="#home">Home</a></li>
    <li><a href="#mydiscussion/{{currentUserId}}">Discussion</a></li>
</ul>
<div class="custom-forum-details-section">
<div class="col-md-12 trending-section custom-forum-header" ng-controller="forums">
    <!--<div ng-if="selectedActivity.images.length > 0"  class="col-xs-12 spec center-block reco-image-gallery">-->
        <!--<div class="col-xs-3 reco-image" ng-repeat="image in selectedActivity.images | limitTo:4">-->
            <!--<a ng-click="openLightBox(selectedActivity.images,$index)" class="thumbnail">-->
                <!--<img ng-src="{{service_url+'image/show/'+image.large_image_url}}"-->
                     <!--alt="125x125">-->
            <!--</a>-->
        <!--</div>-->

    <!--</div>-->
    <div class="col-md-12 zero-padding-left-right">
        <div class="col-md-4" ng-if="selectedForum.topic_title != ''">
            <h3 style="color:#2d9db8;">{{selectedForum.topic_title}}</h3>
        </div>
    </div>
    <div class="col-md-12 reco-testimonial" ng-if="selectedForum.topic_description != ''">
         <h4>{{selectedForum.topic_description}}</h4>
    </div>
    <div class="col-md-12 zero-padding-left-right">
        <div class="col-md-6">
             <h5 style="color: #333333;">Topic created by: {{selectedForum.created_by.firstname}}&nbsp;{{selectedForum.created_by.lastname}}</h5>
        </div>
        <div class="times-ago custom-forum-times-ago col-md-2 col-md-offset-4 text-right">
            <h5><time class="relative" without-suffix datetime="{{selectedForum.created_date.date}}"></time></h5>
        </div>
    </div>
    <div class="col-md-12 eve-panel-body" style="padding: 5px">
            <div class="col-md-3" ng-if="selectedForum.owner_id ==loggedInUserId">
                <a class="btn btn-link" ng-click="EditForum();"><i class="fa fa-pencil"></i> edit discussion</a>
            </div>
            <div class="col-md-3" ng-if="selectedForum.owner_id !=loggedInUserId">
                <a class="btn btn-link" ng-click="WoiceIt();"><i class="fa fa-share-square-o"></i> Stream It</a>
            </div>
            <div class="col-md-3" ng-if="selectedForum.owner_id ==loggedInUserId">
                <a class="btn btn-link" ng-click="WoiceIt();"><i class="fa fa-share-square-o"></i> Stream It</a>
            </div>
            <div class="col-md-3 " ng-if="selectedForum.owner_id ==loggedInUserId">
                <a href class="btn btn-link" ng-click="EditForum();"><i class="glyphicon glyphicon-tag" ng-model="showVisibility">Visibility : {{showVisibility.type}}</i></a>
            </div>
            <div class="col-md-3 custom-forum-delete" ng-if="selectedForum.owner_id ==loggedInUserId">
                <a class="btn btn-link pull-right" style="color: darkred" ng-click="DeleteForum(selectedForum)"><i class="fa fa-trash-o"></i> delete discussion</a>
            </div>
            <div class="col-md-12" style="padding-top: 20px;">
                <div class="col-md-1" style="padding-top: 20px;">
                    <bold style="font-size: 12px">Grade It</bold>
                </div>
                <div class="col-md-2 rating-back">
                    <div class="ratingStyle text-center" ng-app="Duo">
                <span duo-stars max="4"
                      data-ng-model="forumGrade" ng-click="UpdateForumGrade(forumGrade,selectedForum.id)"></span>
                        <p>
                            <small style="font-size: 12px">Current {{forumGrade}} Levels</small>
                        </p>
                    </div>
                    <!--<div class="text-center" ng-app="Duo" ng-if="selectedEvent.grades.length == 0">-->
                    <!--<span duo-stars value="0" max="4"-->
                    <!--data-ng-model="stars" ng-click="UpdateEventGrade(stars,selectedEvent.id)"></span>-->
                    <!--<p>-->
                    <!--<small style="font-size: 12px">Current {{stars}} Levels</small>-->
                    <!--</p>-->
                    <!--</div>-->
                </div>
            </div>
    </div>
    <!--<div class="col-md-12 zero-padding-left-right reco-brand-section">-->
        <!--<div class="col-md-4 col-md-offset-8 text-right" ng-if="selectedActivity.links.length > 0">-->
            <!--<span class="fa fa-link"></span><a href="{{selectedActivity.links[0]}}"><b style="color: #4cb1ca;">-->
            <!--selectedActivity.links[0]</b></a>-->
        <!--</div>-->
    <!--</div>-->
    <div class="col-md-12 no-right-pad">
        <div class="col-md-2 commentStyle">
            <!--<span class="glyphicon glyphicon-comment"></span>-->
            <span style="font-size: 12px; font-weight: bold">Comments ({{selectedForum.replies.length}})</span>
        </div>
    </div>
</div>
<div ng-controller="forums">
    <div class="col-md-12 commentLoadSection" ng-repeat="reply in selectedForum.replies">
        <div class="col-md-12">
            <div class="row" >
                <div class="col-md-12 deleteSection">
                    <a href ng-click="DeleteClick(reply)"><span ng-if="reply.user.user_id == loggedInUserId" style="color:#E50880;">X</span></a>
                    <a href><span ng-if="reply.user.user_id != loggedInUserId">.</span></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 commentdetailsSection">
                    <img ng-src="{{service_url+'image/show/'+reply.user.profile_image.large_image_url}}" class="img-thumbnail" style="width: 32px; height: 32px" alt=""/>
                </div>
                <div class="col-md-9 zero-padding-left-right commentdetailsSection">
                    <h5>{{reply.user.firstname}}&nbsp;{{reply.user.lastname}}
                        <small> says...</small>
                    </h5>
                </div>
                <div class="times-ago1 custom-comment-time col-md-2 text-right">
                    <h5><time class="relative" without-suffix datetime="{{reply.updated_at}}"></time></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 zero-padding-left-right commentvalues" ng-if="reply.reply != ''">
                    <div class="col-md-12">
                        <p>{{reply.reply}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row custom-forum-add-comment" class="col-md-12" ng-controller="forums">
    <div class="col-md-10 commentSection">
        <textarea class="form-control" rows="2" placeholder="Add comment?"  data-ng-model="addedcomment"/>
    </div>
    <div class="col-md-2 commentSection">
        <a href class="btn btn-primary btn-block" id="btn-comment" ng-click="CreateComment(selectedForum.id)">Add Comment</a>
    </div>
</div>
</div>
<script type="text/ng-template" id="WoicetemplateId">
    <div class="ngdialog-buttons popuptemplate" ng-controller="forums">
        <h4>Stream Discussion</h4>
        <input class="form-control" type="text" placeholder="Stream Title"
               id="woiceTitle" ng-model="WoiceTitle" style="margin-bottom: 10px; height: 50px; font-size: 18px"/>
        <textarea class="form-control" rows="4" placeholder="Description (optional)"
                  ng-model="Woicedescription"/>
        <button class="btn primary pull-right form-control" type="button" ng-click="CreateWoice(selectedForum)">Save</button>
    </div>
</script>

<script type="text/ng-template" id="EdittemplateId">
    <div class="ngdialog-buttons popuptemplate" ng-controller="forums">
        <h4>Edit Discussion</h4>
        <input class="form-control" type="text" placeholder="Forum Title"
               id="circle" ng-model="selectedForum.topic_title" style="margin-bottom: 10px; height: 50px; font-size: 18px"/>
        <textarea class="form-control" rows="4" placeholder="Forum Description (optional)"
                  ng-model="selectedForum.topic_description"/>
        <div class="row" style="padding-bottom: 10px">
            <div class="col-md-6" style="margin-top: 10px; height: 50px; font-size: 18px">
                <label for="category-type">choose category?</label>
            </div>
            <div class="col-md-6" style="margin-top: 10px; height: 50px; font-size: 18px">
                <select class="form-control" id="category-type"
                        ng-options="category as category.category_name for category in categories"
                        ng-change="GetSub()" data-ng-model="selectedCategory">
                </select>
            </div>
        </div>
        <div class="row"  style="padding-bottom: 10px;" >
            <div class="col-md-6" style="margin-top: 10px; height: 50px; font-size: 18px">
                <label for="sub-category-type">choose sub category?</label>
            </div>
            <div class="col-md-6" style="margin-top: 10px; height: 50px; font-size: 18px">
                <select class="form-control" id="sub-category-type"
                        ng-options="subcategory as subcategory.subcategory_name for subcategory in subcategories"
                        data-ng-model="selectedSubCategory" ng-change="ReloadBrand()">
                </select>
            </div>
            <div class="col-sm-12" >
                <h5>Visibility Settings</h5>
                <select class="form-control" id="sub-visibility-type"
                        ng-options="visibility as visibility.type for visibility in visibilties"
                        data-ng-model="selectedVisibility" style="margin-top: 10px; margin-bottom: 10px; height: 50px; font-size: 18px">

                </select>
            </div>
        </div>
        <button class="btn primary pull-right form-control" type="button" ng-click="UpdateForum(selectedForum)">Save</button>
    </div>
</script>