<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron alert alert-dismissible inner-jumbotron shadow " ng-show="caption" id="no-border-round"
     role="alert" ng-controller="ApplicationCtrl">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <h1>Build Community</h1>

    <p style="text-align:justify">Build community helps you replicate your existing, offline community online. You can use features like Connect, Circles, Groups, Events, Blogs and Discussions to interact with your community and grow it. These features are linked to Stream It, the streaming channel for promotion and propagation. This helps you spread the word better among your community about your activities.
    </p>
</div>
<!-- Static navbar -->
<nav class="navbar navbar-default" id="navContainer">
    <div id="navbar1">
        <ul class="nav navbar-nav">
            <li ng-class="">
                <a href="#profile/{{userId}}" class="{{isActive[1]}}">Mysite</a>
            </li>
            <li ng-class="{ active: isActive('/community')}"><a href="#community" >Build Community</a>
            </li>

            <li ng-class="{ active: isActive('/streamit')}"><a href="#streamit">Stream It</a></li>
            <li ng-class="{ active: isActive('/explore')}">
                <!-- Template which needs to be shown on click -->
                <script type="text/ng-template" id="explore">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip">
                        <ul>
                            <li style="padding: 5px; text-align: center"><a  href="#evezplace">MarketPlace</a></li>
                            <li style="padding: 5px; text-align: center"><a  href="#wopportunity">Jobs</a></li>
                        </ul>
                    </div>
                </script>

                <a ns-popover
                   ns-popover-template="explore"
                   ns-popover-trigger="click"
                   ns-popover-theme="ns-popover-list-theme">
                    Explore
                </a>
            </li>
            <li ng-class="{ active: isActive('/search/advanced')}"><a href="#search/advanced"
                                                                      id="search">Search&nbsp;<span
                    class="fa fa-search" id="searchIcon"></span></a>
            </li>
        </ul>
    </div>
</nav>

<div ng-controller="groups">
<div class="col-md-2 user-menu-btns">
    <div class="btn-group-vertical square" id="responsive">
        <a href="#community" class="btn btn-default">
            <p>Connect</p>
        </a>
        <a href="#circles" class="btn btn-default">
            <p>Circles</p>
        </a>
        <a href="#albums" class="btn btn-default">
            <p>Gallery</p>
        </a>
        <a href="#groups" class="btn btn-default btn-block active">
            <p>Groups</p>
        </a>
        <a href="#events" class="btn btn-default">
            <p>Events</p>
        </a>
        <a href="#blogs" class="btn btn-default">
            <p>Blogs</p>
        </a>
        <a href="#forums" class="btn btn-default">
            <p>Discussion</p>
        </a>
    </div>
</div>
<div class="col-md-7 user-menu user-pad">
    <div class="col-md-12 panel-heading" style="padding-left: 0px;padding-right: 0px;">
        <div class="fragment">
            <a><span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>x</span></a>
            <h4>Groups</h4>
            <p>
                Move your offline interests online and create an interested community within your personal circle
            </p>
        </div>
    </div>
    <div class="col-md-12 panel-heading custom-group-header" style="padding-left: 0px">
        <div class="col-md-2" style="padding-left: 0px">
            <h5>
                Groups ({{myGroups.length}})
            </h5>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="search groups" ng-model="groupsearch"/>
        </div>
        <div class="col-md-2 col-md-offset-4 pull-right custom-create-group-button">
            <a href ng-click="CreateGroup()" class="btn btn-primary pull-right"><span class="fa fa-plus"></span> Create Group</a>
        </div>
    </div>
    <div class="col-md-12 circle-section" style="margin-top:30px;">
        <div class="row group-section">
            <div class="col-md-12 group-item" ng-repeat="group in myGroups | filter:groupsearch">
                <div class="col-md-2" style="padding: 0px">
                        <img ng-src="img/community-groups-header.jpg" class="img-thumbnail" ng-if="group.group_image == null"/>
                        <img ng-src="{{service_url}}image/show/{{group.group_image.large_image_url}}" class="img-thumbnail" ng-if="group.group_image != null" alt="{{group.title}}"/>
                </div>
                <div class="col-md-10" style="padding: 10px">
                    <h5 class="group-item-title"><a
                            href="#groups/{{group.id}}" class="topic-link">{{group.title}}</a></h5>

                    <p class="group-item-description" style="text-align:justify;">{{group.description}}</p>

                    <div class="group-item-info">
                        <p>
                            <span><strong>Open Group</strong> | </span>
                            <span>Members <strong>{{group.members.length}}</strong> | </span>
                            <span>Created by <strong>{{group.group_owner.firstname}} {{group.group_owner.lastname}}</strong> | </span>
                            <span ng-if="loggedInUserId == group.group_owner.user_id"><a href ng-click="DeleteGroup(group)" class="topic-link">Delete</a>|</span>
                            <span ng-if="loggedInUserId != group.group_owner.user_id"><a href ng-click="JoinGroup(group)" class="topic-link">Join</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 custom-group-request" style="padding-right: 0px">
    <!-- Friend requests -->
    <div class="panel" style="background: #f7f7f7;">
        <div class="panel-heading">
            <h5 style="color: #337ab7; font-weight: 600 ;margin-top: 5px; margin-bottom: 5px">Group Requests ({{allGroupRequest.length}})</h5>
        </div>
        <ul class="list-group" ng-repeat="request in allGroupRequest">
            <li class="list-group-item col-sm-12" style="text-transform:capitalize">
                <div class="col-sm-8" style="padding-left: 0px; padding-right: 0px">
                    <!--<img ng-src="{{service_url+'image/show/'+request.profileImage1}}" class="img-thumbnail" style="width: 32px; height: 32px" alt=""/>-->
                    <a href="#groups/{{request.group.id}}">{{request.group.title}}</a>
                    <span><a href="#profile/{{request.group.owner.user_id}}">({{request.group.owner.firstname}} {{request.group.owner.lastname}})</a></span>
                </div>
                <div class="col-sm-2 pull-right" style="padding-left: 0px; padding-right: 0px;">
                    <a href class="custom-group-accept" ng-click="SetRequest(request,true)"><span class="fa fa-check"></span></a>
                </div>
                <div class="col-sm-2 pull-right" style="padding-left: 0px; padding-right: 0px">
                    <a href="" class="custom-group-reject" ng-click="SetRequest(request,false)"><span class="fa fa-times"></span></a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-3 custom-group-invites" style="padding-right: 0px">
    <!-- Friend requests -->
    <div class="panel" style="background: #f7f7f7;">
        <div class="panel-heading">
            <h5 style="color: #337ab7; font-weight: 600 ;margin-top: 5px; margin-bottom: 5px">Group Invites ({{allGroupInvites.length}})</h5>
        </div>
        <ul class="list-group" ng-repeat="request in allGroupInvites">
            <li class="list-group-item col-sm-12" style="text-transform:capitalize">
                <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px">
                    <a href="#groups/{{request.group.id}}">{{request.group.title}}</a>
                    <span><a href="#profile/{{request.profile.user_id}}">({{request.profile.firstname}} {{request.profile.lastname}})</a></span>
                </div>
                <div class="col-sm-2 pull-right" style="padding-left: 0px; padding-right: 0px;">
                    <a href ng-click="SetInviteStatus(request,true)"><span class="fa fa-check"></span></a>
                </div>
                <div class="col-sm-2 pull-right" style="padding-left: 0px; padding-right: 0px">
                    <a href="" ng-click="SetInviteStatus(request,false)"><span class="fa fa-times"></span></a>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
<script type="text/ng-template" id="templateId">
    <div class="ngdialog-buttons popuptemplate" ng-controller="groups">
        <h4>Add Group</h4>
        <input class="form-control" type="text" placeholder="Group Title"
               id="group" ng-model="group" style="margin-bottom: 10px; height: 50px; font-size: 18px" maxlength="18"/>
        <textarea class="form-control" rows="4" placeholder="Group Description (optional)"
                  ng-model="description" maxlength="255"/>
        <div class="col-sm-12" >
            <h5>Visibility Settings</h5>
            <select class="form-control" id="sub-visibility-type"
                    ng-options="visibility as visibility.type for visibility in visibilties"
                    data-ng-model="selectedVisibility" style="margin-top: 10px; margin-bottom: 10px; height: 50px; font-size: 18px">

            </select>
        </div>
        <button class="btn primary pull-right form-control" type="button" ng-click="SaveGroup()">Add</button>
    </div>
</script>
