<!-- Static navbar -->
<nav class="navbar navbar-default" id="navContainer">
    <div id="navbar1">
        <ul class="nav navbar-nav">
            <li ng-class="">
                <a href="#profile/{{userId}}">Mysite</a>
            </li>
            <li><a class="active" href="#invitehistory">Invite History</a></li>
            <li ng-class="{ active: isActive('/explore')}">
                <!-- Template which needs to be shown on click -->
                <script type="text/ng-template" id="explore">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip">
                        <ul>
                            <li style="padding: 5px; text-align: center"><a  href="#evezplace">MarketPlace</a></li>
                            <li style="padding: 5px; text-align: center"><a  href="#wopportunity">Jobs</a></li>
                        </ul>
                    </div>
                </script>

                <a ns-popover
                   ns-popover-template="explore"
                   ns-popover-trigger="click"
                   ns-popover-theme="ns-popover-list-theme">
                    Explore
                </a>
            </li>
            <li ng-class="{ active: isActive('/search/advanced')}"><a href="#search/advanced"
                                                                      id="search">Search&nbsp;<span
                    class="fa fa-search" id="searchIcon"></span></a>
            </li>
        </ul>
    </div>
</nav>
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron alert alert-dismissible inner-jumbotron shadow " ng-show="caption" id="no-border-round"
     role="alert" ng-controller="ApplicationCtrl">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <h1>Build Community</h1>

    <p style="text-align:justify">Build community helps you replicate your existing, offline community online. You can use features like Connect, Advertise, Circles, Invite People, Invite history. These features are linked to Stream It, the streaming channel for promotion and propagation. This helps you spread the word better among your community about your activities.
    </p>
</div>

<div class="col-md-12" style="margin-top: 10px;">
    <ul class="breadcrumb" style="background: transparent; padding-left: 0px" >
        <li><a href="#home">Home</a> <span class="divider"></span></li>
        <li><a href="#profile/{{userId}}">Mysite</a></li>
        <li class="active">Build Community</li>
    </ul>
</div>

<div class="col-md-2 user-menu-btns">
    <div class="btn-group-vertical square" id="responsive">
        <a href="#community" class="btn btn-default">
            <p>Connect</p>
        </a>
        <a href="#advertise" class="btn btn-default btn-block">
            <p>Advertise</p>
        </a>
        <a href="#circles" class="btn btn-default btn-block">
            <p>Circles</p>
        </a>
        <a href="#friends/invite" class="btn btn-default">
            <p>Invite People</p>
        </a>
        <a href="#invitehistory" class="btn btn-default btn-block active">
            <p>Invite History</p>
        </a>
    </div>
</div>
<div class="col-md-10 user-menu user-pad" ng-controller="inviteHistory">
    <div class="col-md-12 panel-heading" style="padding-left: 0px">
        <div class="col-md-2" style="padding-left: 0px">
            <h4>
                Invite History
            </h4>
        </div> 
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Invite send to</th>
                <th>Referrer Email</th>
                <th>Referrer Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="invite in getInvites">
                <td>{{ $index+1}}</td>
                <td>{{invite.email}}</td>
                <td>{{invite.referrer_email}}</td>
                <td>{{invite.referrer_name}}</td>
                <td ng-if="invite.claimed_at != null">
                    <p style="color:green">Accepted</p>
                </td>
                <td ng-if="invite.claimed_at == null">
                    <p style="color:{{invite.status == 'Registered' ? 'green' : '#DB1800' }}">{{invite.status}}</p>
                </td>
                <td>
                    <a href ng-if="invite.claimed_at == null"><i class="fa fa-trash" style="color:#DB1800;" title="Delete" ng-click="InviteDelete(invite.email)"></i></a>
                </td>
                <td>
                    <a href style="text-decoration:none;" ng-if="invite.claimed_at == null && invite.status != 'Registered'">
                        <i class="glyphicon glyphicon-share-alt" title="Resend" style="color:green" ng-click="ResendInvite(invite.email)"></i>
                        <a style="text-decoration:none;font-size:10px;" ng-if="invite.reminder > '0' && invite.status != 'Registered' && invite.claimed_at == null">({{invite.reminder}})</a>
                    </a>
                </td>
               <!--  <td>
                <label>
                <font color="green">{{ invite.claimed_at != null ? 'Accepted':''}} </font>
                <font color="red">{{ invite.claimed_at == null ? 'Pending':''}} </font>
                </label>
                </td> -->
            </tr>
        </tbody>
    </table>
    <!-- <uib-pager total-items="totalItems" ng-model="currentPage"></uib-pager> -->
    <uib-pagination ng-show="getInvites.length > 0" total-items="invitePagination.total"
                                ng-model="currentInvitePage"
                                max-size="maxSize"
                                class="pagination-custom pagination-sm pull-right"
                                rotate="false"
                                num-pages="numPages"
                                ng-change="pageChanged()">
                            </uib-pagination>
</div>

<script type="text/ng-template" id="DeleteHistory">
    <div class="ngdialog-buttons popuptemplate" ng-controller="inviteHistory">
        <h4>Are you sure you want to Delete this invite ?</h4>
        <button class="btn primary pull-right form-control" type="button" ng-click="DeleteInvite()">Delete</button>
        <button class="btn primary pull-right form-control" type="button" ng-click="CancelDeleteInvite()">Cancel</button>
    </div>
</script>
