<!-- Static navbar -->
<nav class="navbar navbar-default" id="navContainer">
    <div id="navbar1">
        <ul class="nav navbar-nav">
            <li ng-class="">
                <a href="#profile/{{userId}}">Mysite</a>
            </li>
            <li ng-class="{ active: isActive('/friend/invite')}"><a class="active" href="#friends/invite">Invite People</a></li>
            <li ng-class="{ active: isActive('/explore')}">
                <!-- Template which needs to be shown on click -->
                <script type="text/ng-template" id="explore">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip">
                        <ul>
                            <li style="padding: 5px; text-align: center"><a  href="#evezplace">MarketPlace</a></li>
                            <li style="padding: 5px; text-align: center"><a  href="#wopportunity">Jobs</a></li>
                        </ul>
                    </div>
                </script>

                <a ns-popover
                   ns-popover-template="explore"
                   ns-popover-trigger="click"
                   ns-popover-theme="ns-popover-list-theme">
                    Explore
                </a>
            </li>
            <li ng-class="{ active: isActive('/search/advanced')}"><a href="#search/advanced"
                                                                      id="search">Search&nbsp;<span
                    class="fa fa-search" id="searchIcon"></span></a>
            </li>
        </ul>
    </div>
</nav>
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron alert alert-dismissible inner-jumbotron shadow " ng-show="caption" id="no-border-round"
     role="alert" ng-controller="ApplicationCtrl">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <h1>Build Community</h1>

    <p style="text-align:justify">Build community helps you replicate your existing, offline community online. You can use features like Connect, Advertise, Circles, Invite People, Invite history. These features are linked to Stream It, the streaming channel for promotion and propagation. This helps you spread the word better among your community about your activities.
    </p>
</div>

<div class="col-md-12" style="margin-top: 10px;">
    <ul class="breadcrumb" style="background: transparent; padding-left: 0px" >
        <li><a href="#home">Home</a> <span class="divider"></span></li>
        <li><a href="#profile/{{userId}}">Mysite</a></li>
        <li class="active">Build Community</li>
    </ul>
</div>

<div class="col-md-2 user-menu-btns">
    <div class="btn-group-vertical square" id="responsive">
        <a href="#community" class="btn btn-default">
            <p>Connect</p>
        </a>
        <a href="#advertise" class="btn btn-default btn-block ">
            <p>Advertise</p>
        </a>
        <a href="#circles" class="btn btn-default btn-block">
            <p>Circles</p>
        </a>
        <a href="#friends/invite" class="btn btn-default active">
            <p>Invite People</p>
        </a>
        <a href="#invitehistory" class="btn btn-default">
            <p>Invite History</p>
        </a>
    </div>
</div>
<div class="col-md-10 user-menu user-pad">
    <div class="row" ng-controller="inviteFriendsCtrl">
    <div class="col-md-12 panel-heading" style="padding-left: 0px;padding-right: 0px;">
        <div class="fragment">
            <a><span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>x</span></a>
            <h4 style="color: #369;font-family:'Raleway', sans-serif;font-size:18px;font-weight:500;">Invite People</h4>
            <p>
                Invite your real world connections, friends and family to your site and store/s, In effect they will also become members of Evezown. We don’t make all our members visible to each other de-facto. We ensure complete exclusivity for your business, our aim to give privacy that you need for your growth, go ahead, safely  invite your customers too.
            </p>
        </div>
    </div>
    <div class="col-md-12 invite-section">
        <div class="panel panel-default" style="margin-top:30px;">
            <div class="panel-body text-left">
                <h1>Start building your community</h1>

                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-6">
                        <div class="panel panel-plain">
                             <div class="panel-body">
                                <button class="btn btn-block btn-social btn-lg btn-facebook"
                                        ng-click="sendFacebookRequests()">
                                    <i class="fa fa-facebook"></i> Invite using Facebook
                                </button>
                            </div>
                            <!--<div class="panel-body">
                                <div class="btn-watsapp">
                                    <a href="whatsapp://send?text={{whatsAppDescription}}"
                                       data-action="www.evezown.com"
                                       class="btn btn-block btn-social btn-lg btn-whatsapp">
                                        <i class="fa fa-whatsapp"></i> Invite using Whatsapp
                                    </a>
                                </div>
                            </div> -->
                            <div class="panel panel-plain">
                                <div class="panel-body">
                                    <button class="btn btn btn-block btn-social btn-lg btn-google-plus"
                                            id="signInButton" ng-click="start()">
                                        <i class=" fa fa-google-plus"></i>Invite using Google+
                                    </button>
                                    <div ng-show="friendslist != null && friendslist.length > 0"
                                         class="alert alert-dismissible shadow" style="height:250px;overflow-y:auto;overflow-x: hidden;">
                                        <form class="col-md-8" style="padding-left: 0px; padding-right: 0px">
                                            <input ng-model="search" type="text"
                                                   placeholder="Search by firstname" autofocus class="form-control">
                                        </form>
                                        <div class="col-md-2">
                                          <button class="btn btn-primary btn-sm"  ng-click="sendGmailInvite()">Invite</button>
                                        </div>                  
                                        <button type="button" class="close" ng-click="resetGooglePlus()"
                                                aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <table class="table table-condensed">
                                            <tbody>
                                            
                                            <tr ng-repeat="friend in friendslist | filter:search | orderBy: 'firstName'">
                                                <td> 
                                                    {{ friend.firstName }} 
                                                    <i><small>({{friend.email}})</small></i>
                                                </td>
                                                <td>
                                                    <input type="checkbox" ng-model="friend.selected" value={{friend.email}} >
                                                </td>
                                            </tr>
                                            
                                            </tbody>
                                            <!-- <tfoot>
                                            <td colspan="4">
                                                <nav>
                                                    <ul class="pagination pull-right">
                                                        <li ng-class="prevPageDisabled1()">
                                                            <a href ng-click="prevPage1()">« Prev</a>
                                                        </li>
                                                        <li ng-repeat="n in range1()"
                                                            ng-class="{active: n == currentPage1}"
                                                            ng-click="setPage1(n)" ng-if="n >= 0">
                                                            <a href>{{n+1}}</a>
                                                        </li>
                                                        <li ng-class="nextPageDisabled1()">
                                                            <a href ng-click="nextPage1()">Next »</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </td>
                                            </tfoot> -->
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <!--invite through email-->
                        <div class="panel panel-plain">
                            <h4>Enter space after each email to send multiple invites</h4>
                            <tags-input ng-model="emails" placeholder="Add an Email" add-on-space="true" allowed-tags-pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
                            </tags-input>
                            <button class="btn btn-primary pull-right" style="margin-top: 10px" ng-click="sendInvite(emails)">Send Invites</button><br><br>
                        </div>
                        <!--invite by uploading excel-->
                        <div class="panel panel-plain">
                            <h4>Upload XLSX/XLS files</h4>
                            <i>Your XLSX file should contain field named "EMAIL"</i>
                            <select name="format" hidden>
                            <option value="json" selected> JSON</option>
                            </select><br>
                            <p><input type="file" name="xlfile" id="xlf" /></p>
                            <textarea name="invite-emails" class="form-control" id="out2" rows="4" data-ng-model="ExcelEmails"></textarea>
                            <button class="btn btn-primary pull-right" style="margin-top: 10px" id="ExcelInvite">Send Invites
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                if (typeof wabtn4fg === "undefined") {
                    wabtn4fg = 1;
                    h = document.head || document.getElementsByTagName("head")[0], s = document.createElement("script");
                    s.type = "text/javascript";
                    s.src = "custom/whatsapp/whatsapp-button.js";
                    h.appendChild(s);
                }
            </script>
        </div>
    </div>
</div>
</div>

<!--XLSX/XLS upload section script starts-->
<script>
var X = XLSX;
var rABS = false;

function fixdata(data) {
    var o = "", l = 0, w = 10240;
    for(; l<data.byteLength/w; ++l) o+=String.fromCharCode.apply(null,new Uint8Array(data.slice(l*w,l*w+w)));
    o+=String.fromCharCode.apply(null, new Uint8Array(data.slice(l*w)));
    return o;
}

function ab2str(data) {
    var o = "", l = 0, w = 10240;
    for(; l<data.byteLength/w; ++l) o+=String.fromCharCode.apply(null,new Uint16Array(data.slice(l*w,l*w+w)));
    o+=String.fromCharCode.apply(null, new Uint16Array(data.slice(l*w)));
    return o;
}

function s2ab(s) {
    var b = new ArrayBuffer(s.length*2), v = new Uint16Array(b);
    for (var i=0; i != s.length; ++i) v[i] = s.charCodeAt(i);
    return [v, b];
}

function get_radio_value( radioName ) {
    var radios = document.getElementsByName( radioName );
    for( var i = 0; i < radios.length; i++ ) {
        if( radios[i].checked || radios.length === 1 ) {
            return radios[i].value;
        }
    }
}

function to_json(workbook) {
   var result = [];
    workbook.SheetNames.forEach(function(sheetName) {
        var emails = [];
        var roa = X.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
            roa.forEach(function(value)
                {
                    //value.EMAIL == 'selvasajin@gmail.com'
                    var index = value.EMAIL;
                    emails.push(index);
                   
                });
        function_two(emails);
        result = emails;


    });
    return result;
}

function function_two(emails) {

    var emails2 = emails;
    document.getElementById("out2").innerHTML = emails;
}

function to_csv(workbook) {
    var result = [];
    workbook.SheetNames.forEach(function(sheetName) {
        var csv = X.utils.sheet_to_csv(workbook.Sheets[sheetName]);
        if(csv.length > 0){
            result.push("SHEET: " + sheetName);
            result.push("");
            result.push(csv);
        }
    });
    return result.join("\n");
}

function process_wb(wb) {
    var output = "";
    switch(get_radio_value("format")) {
        case "json":
            output = JSON.stringify(to_json(wb), 2, 2);
            break;
        case "form":
            output = to_formulae(wb);
            break;
        default:
        output = to_csv(wb);
    }
    if(out.innerText === undefined) out.textContent = output;
    else out.innerText = output;
    if(typeof console !== 'undefined') console.log("output", new Date());
}

var xlf = document.getElementById('xlf');
function handleFile(e) {
    var files = e.target.files;
    var f = files[0];
    {
        var reader = new FileReader();
        var name = f.name;
        reader.onload = function(e) {
            if(typeof console !== 'undefined') console.log("onload", new Date());
            var data = e.target.result;
                var arr = fixdata(data);
                wb = X.read(btoa(arr), {type: 'base64'});
                process_wb(wb);
        };
        if(rABS) reader.readAsBinaryString(f);
        else reader.readAsArrayBuffer(f);
    }
}

if(xlf.addEventListener) xlf.addEventListener('change', handleFile, false);
</script>
<!--XLSX/XLS upload section script ends-->