<ul class="breadcrumb create-store-breadcrumb" style="background: transparent">
    <li><a href="#evezplace">Marketplace</a></li>
    <li>Manage Ads & Campaigns</li>
</ul>

<div ng-include src='"partials/evezplace/manage/Classifieds/manage_classifieds_left_menu.html"'></div>

<!--Description starts-->
<div class="col-sm-9 jumbotron alert alert-dismissible inner-jumbotron shadow" id="no-border-round" role="alert"
     style="padding:0px 28px 10px 16px;font-size:12px;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <h1>Ads & Campaigns Request for Info</h1>

    <p style="text-align:justify;font-size:16px;">You can see all the request for info sent by users here.
    </p>
</div>
<!--Description Ends-->

<div class="col-sm-9">
    <div class="row">
        <div class="create-store-section" ng-controller="ManageClassifiedCtrl">

            <div class="col-sm-12" ng-repeat="classifiedRfi in classifiedRfiCollection"
                 style="background-color: #fff; margin-bottom: 10px">
                <div class="row">
                    <div class="col-sm-6">
                        <h5>Enquirer : <span style="font-weight: 600">{{classifiedRfi.name}}</span></h5>
                    </div>
                    <div class="col-sm-4">
                        <h5>Date : <span style="font-weight: 600">{{classifiedRfi.created_date}}</span></h5>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-link pull-right"
                           ng-click="classifiedRfi.isShowMore = !classifiedRfi.isShowMore">
                            <span ng-if="classifiedRfi.isShowMore">show less</span>
                            <span ng-if="!classifiedRfi.isShowMore">show more</span>
                        </a>
                    </div>
                </div>

                <p>Mobile: <span style="font-weight: 600">{{classifiedRfi.mobile}}</span>
                    Email: <span style="font-weight: 600">{{classifiedRfi.email}}</span></p>

                <div class="row" ng-if="classifiedRfi.isShowMore">
                    <div class="col-sm-12">
                        <h5>Enquiry : <span style="font-weight: 300">{{classifiedRfi.other_info}}</span></h5>
                        <h5>Feedback : <span style="font-weight: 300">{{classifiedRfi.other_feedback}}</span></h5>
                        <h5>Comments : <span style="font-weight: 300">{{classifiedRfi.comment}}</span></h5>
                        <h5>Should be contacted through email? : <span style="font-weight: 300">{{classifiedRfi.is_contact_email ? 'Yes' : 'No'}}</span>
                        </h5>
                        <h5>Should be contacted through phone? : <span style="font-weight: 300">{{classifiedRfi.is_contact_phone ? 'Yes' : 'No'}}</span>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="row text-center" ng-if="rfiMeta.pagination.total > 10">
                <uib-pagination
                        total-items="rfiMeta.pagination.total"
                        ng-model="rfiMeta.pagination.current_page"
                        max-size="rfiMeta.metadata.pagination.per_page"
                        class="pagination-sm"
                        boundary-links="true"
                        rotate="false"
                        num-pages="rfiMeta.pagination.total_pages"
                        ng-change="loadMoreRfi(rfiMeta.pagination.current_page);">
                </uib-pagination>
            </div>
        </div>
    </div>
</div>