<ul class="breadcrumb create-store-breadcrumb" style="background: transparent">
    <li><a href="#evezplace">marketplace</a></li>
    <li>Manage Ads & Campaigns</li>
</ul>

<div ng-include src='"partials/evezplace/manage/Classifieds/manage_classifieds_left_menu.html"'></div>

<!--Description starts-->
<div class="col-sm-9 jumbotron alert alert-dismissible inner-jumbotron shadow"  id="no-border-round" role="alert" style="padding:0px 28px 10px 16px;font-size:12px;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <h1>Ads & Campaigns Type</h1>

    <p style="text-align:justify;font-size:16px;">You can edit the Ads & Campaigns Type here. You can edit the Ads & Campaigns title and description. You can change the category or sub-category of your Ads & Campaigns listing.
    </p>
</div>
<!--Description Ends-->

<div class="col-sm-9">
    <div class="row">

        <div class="create-store-section" ng-controller="ManageClassifiedCtrl">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3 style="color: #e51385">Choose Ads & Campaigns Type</h3>
                </div>
            </div>
            <form role="form"
                  name="customOptionsForm"
                  ng-submit="saveClassifiedsStep1()"
                  ng-fab-form-options="customFormOptions">
                <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-4">
                            <label for="classifiedFor">You want to create Ads & Campaigns for</label>
                        </div>
                        <div class="col-md-4">
                            <label>
                                <input type="radio"
                                       id="classifiedFor"
                                       name="classifiedFor"
                                       value="1"
                                       ng-model="addClassified.classified_for"
                                       required>
                                Existing Store
                            </label>
                        </div>

                        <div class="col-md-offset-6 col-md-4">
                            <label>
                                <input type="radio"
                                       name="classifiedFor"
                                       value="2"
                                       ng-model="addClassified.classified_for"
                                       required>
                                Existing Event (Stream it)
                            </label>
                        </div>
                        <div class="col-md-offset-6 col-md-4">
                            <label>
                                <input type="radio"
                                       name="classifiedFor"
                                       value="3"
                                       ng-model="addClassified.classified_for"
                                       required>
                                New Ads & Campaigns
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-4">
                            <label for="classifiedCategory">Category</label>
                        </div>
                        <div class="col-md-4">
                            <select name="classifiedCategory"
                                    id="classifiedCategory"
                                    class="form-control"
                                    ng-model="addClassified.classified_category_id"
                                    style="font-weight: 700"
                                    default-option="Choose Category"
                                    ng-options="category.id as category.category_name for category in categories"
                                    ng-change="GetSubCategories(addClassified.classified_category_id)"
                                    required>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-4">
                            <label for="classifiedSubcategory">Subcategory</label>
                        </div>
                        <div class="col-md-4">
                            <select name="classifiedCategory"
                                    id="classifiedSubcategory"
                                    class="form-control"
                                    ng-model="addClassified.classified_subcategory_id"
                                    style="font-weight: 700"
                                    default-option="Choose Subcategory"
                                    ng-options="subcategory.id as subcategory.subcategory_name for subcategory in subcategories"
                                    required>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-4">
                            <label for="classifiedSpecify">Specify</label>
                        </div>
                        <div class="col-md-4">
                            <select name="classifiedSpecify"
                                    id="classifiedSpecify"
                                    class="form-control"
                                    ng-model="addClassified.classified_type"
                                    style="font-weight: 700"
                                    default-option="Choose Specify"
                                    ng-options="specify.id as specify.name for specify in specifyItems"
                                    required>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-4">
                            <label for="classifiedDuration">Duration (Choose Date Range)</label>
                        </div>
                        <div class="col-md-4">
                            <input date-range-picker
                                   options="{format: 'MMM/DD/YYYY', timePicker: true, timePickerIncrement: 30}"
                                   id="classifiedDuration" class="form-control date-picker"
                                   type="text"
                                   ng-model="addClassified.classifiedDateRange" style="font-weight: 600"/>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-4">
                            <label>Tag Keywords</label>
                        </div>
                        <div class="col-md-4">
                            <tags-input
                                    ng-model="addClassified.tags"
                                    placeholder="Add a classified tag"
                                    on-tag-removed="tagRemoved($tag)"
                                    display-property="name">
                                <auto-complete source="loadTags($query)"></auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 40px">
                    <div class="col-md-4 col-md-offset-6">
                        <button type="submit" class="btn btn-primary btn-lg btn-block" style="background-color: #e50880">
                            <i></i> Save
                        </button>
                    </div>
                </div>
            </form>
            <div class="row" style="margin-top: 20px">

            </div>
</div>
<script type="text/ng-template" id="cropSlideImageDialogId">
    <div class="ngdialog-buttons popuptemplate">
        <b>Crop promotion slide Image</b>
        <br/>

        <form>
            <div class="fileUpload btn btn-primary btn-block">
                <span><i class="fa fa-camera"></i> Select slide image</span>

                <input type="file"
                       class="upload"
                       ng-file-select="onFileSelect($files)"
                       ng-model="slideImage.src">
            </div>
            <b>Preview:</b>
            <br/>
            <i ng-hide="slideImage.src">No body image chosen</i>

            <ng-crop data-src="slideImage.src"
                     ratio={{slideImage.cropConfig.aspectRatio}}
                     box-width={{slideImage.boxWidth}}
                     selected='slideImage.selected(cords)'>
            </ng-crop>
            <br/>
            <a ng-click="uploadSlideImage()" class="btn btn-primary pull-right">Upload</a>
            <br/>
        </form>
    </div>
</script>

<script type="text/ng-template" id="cropSlideImageDialogId1">
    <div class="ngdialog-buttons popuptemplate">
        <b>Crop promotion slide Image</b>
        <br/>

        <form>
            <div class="fileUpload btn btn-primary btn-block">
                <span><i class="fa fa-camera"></i> Select slide image</span>

                <input type="file"
                       class="upload"
                       ng-file-select="onFileSelect($files)"
                       ng-model="slideImage1.src">
            </div>
            <b>Preview:</b>
            <br/>
            <i ng-hide="slideImage1.src">No body image chosen</i>

            <ng-crop data-src="slideImage1.src"
                     ratio={{slideImage1.cropConfig.aspectRatio}}
                     box-width={{slideImage1.boxWidth}}
                     selected='slideImage1.selected(cords)'>
            </ng-crop>
            <br/>
            <a ng-click="uploadSlideImage1()" class="btn btn-primary pull-right">Upload</a>
            <br/>
        </form>
    </div>
</script>

<script type="text/ng-template" id="cropSlideImageDialogId2">
    <div class="ngdialog-buttons popuptemplate">
        <b>Crop promotion slide Image</b>
        <br/>

        <form>
            <div class="fileUpload btn btn-primary btn-block">
                <span><i class="fa fa-camera"></i> Select slide image</span>

                <input type="file"
                       class="upload"
                       ng-file-select="onFileSelect($files)"
                       ng-model="slideImage2.src">
            </div>
            <b>Preview:</b>
            <br/>
            <i ng-hide="slideImage2.src">No body image chosen</i>

            <ng-crop data-src="slideImage2.src"
                     ratio={{slideImage2.cropConfig.aspectRatio}}
                     box-width={{slideImage2.boxWidth}}
                     selected='slideImage2.selected(cords)'>
            </ng-crop>
            <br/>
            <a ng-click="uploadSlideImage2()" class="btn btn-primary pull-right">Upload</a>
            <br/>
        </form>
    </div>
</script>

<script type="text/ng-template" id="cropSlideImageDialogId3">
    <div class="ngdialog-buttons popuptemplate">
        <b>Crop promotion slide Image</b>
        <br/>

        <form>
            <div class="fileUpload btn btn-primary btn-block">
                <span><i class="fa fa-camera"></i> Select slide image</span>

                <input type="file"
                       class="upload"
                       ng-file-select="onFileSelect($files)"
                       ng-model="slideImage3.src">
            </div>
            <b>Preview:</b>
            <br/>
            <i ng-hide="slideImage3.src">No body image chosen</i>

            <ng-crop data-src="slideImage3.src"
                     ratio={{slideImage3.cropConfig.aspectRatio}}
                     box-width={{slideImage3.boxWidth}}
                     selected='slideImage3.selected(cords)'>
            </ng-crop>
            <br/>
            <a ng-click="uploadSlideImage3()" class="btn btn-primary pull-right">Upload</a>
            <br/>
        </form>
    </div>
</script>
<script type="text/ng-template" id="imagePreviewDialogId">
    <div class="ngdialog-buttons popuptemplate">
        <img src="{{imagePath}}" alt="" class="img-responsive" width="100%"/>
    </div>
</script>
<script type="text/ng-template" id="imagePreviewDialogId1">
    <div class="ngdialog-buttons popuptemplate">
        <img src="{{imagePath1}}" alt="" class="img-responsive" width="100%"/>
    </div>
</script>
<script type="text/ng-template" id="imagePreviewDialogId2">
    <div class="ngdialog-buttons popuptemplate">
        <img src="{{imagePath2}}" alt="" class="img-responsive" width="100%"/>
    </div>
</script>
<script type="text/ng-template" id="imagePreviewDialogId3">
    <div class="ngdialog-buttons popuptemplate">
        <img src="{{imagePath3}}" alt="" class="img-responsive" width="100%"/>
    </div>
</script>