<ul class="breadcrumb create-store-breadcrumb" style="background: transparent">
    <li><a href="#evezplace">Marketplace</a></li>
    <li>Manage Store</li>
</ul>

<div ng-include src='"partials/evezplace/manage/store/manage_store_left_menu.html"'></div>

<!--Description starts-->
<div class="col-sm-9 jumbotron alert alert-dismissible inner-jumbotron shadow"  id="no-border-round" role="alert" style="padding:0px 28px 10px 16px;font-size:12px;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <h1>Commerce Engine</h1>

    <p style="text-align:justify;font-size:16px;">Please indicate if you would like to avail payment gateway services from us. Please click on terms and conditions link to understand our payment gateway policy, before clicking on enable link. If you would like to provide offline payment services, tick the box. Provide Shipment, Delivery Co-ordination Information. Please note your shop will not come complete without enabling appropriate commerce engine.
    </p>
</div>
<!--Description Ends-->

<div class="col-sm-9" ng-controller="ManageStoreCtrl">
    <div class="row">

        <div class="create-store-section">
            <div style="border: 1px solid #ffffff; border-radius: 5px">
                <div class="row">
                    <div class="col-md-9 col-md-offset-1">
                        <h4 style="color: #e51385">Enable Payment Gateway</h4>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px; margin-bottom: 10px">
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-5">
                            <h5 style="font-weight: 600">Do you need Payment Gateway?</h5>
							<h5 style="font-weight: 600">Transaction Fee</h5>
                            <p>Credit Card Transaction : 2.9%</br>
                               Debit Card Transactoion : 2.9%</br>
                               Net Banking Transaction : 2.9%</p>
                               
                          <!--   <p>(2.9% of the transaction fee would
                                be charged your account)</p> -->
                            <a href="https://www.payumoney.com/merchant_integration_tnc.html" target="_blank" style="color: #e51385">Payment gateway PayU terms and conditions</a>
                        </div>
                        
                        
                        
                        <div class="col-md-5">
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox2" type="checkbox" ng-checked="storeCommerce.wantPaymentGateway == 1" name="wantPaymentGateway" ng-model="storeCommerce.wantPaymentGateway" ng-true-value="1"
                                ng-false-value="0">
                                <label for="checkbox2"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-5">
                            <h5 style="font-weight: 600">Billing Information for Evezown Billing</h5>
                        </div>
                        <div class="col-md-5">
                            <textarea rows="3" placeholder="Address" class="form-control"
                                      id="productTitleDesc" name="productTitleDesc"
                                      ng-model="storeCommerce.billingAddress"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="form-group">
                        <div class="col-md-offset-6 col-sm-5">
                            <input type="text" id="cityStateCountry" class="form-control" name="cityStateCountry" placeholder="City, State, Country"  g-places-autocomplete ng-model="storeCommerce.cityStateCountry" />
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="form-group">
                        <div class="col-md-offset-6 col-sm-5">
                            <input type="number" placeholder="Please enter 6 digits Pincode" class="form-control"
                                   id="billingPincode" name="billingPincode"
                                   ng-model="storeCommerce.billingPincode">
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 20px; margin-bottom: 20px">
                    <div class="col-md-3 col-sm-offset-8">
                        <a href ng-click="EnablePaymentGateWay(storeCommerce)" class="btn btn-primary btn-block">Enable Payment Gateway</a>
                    </div>
                </div>
            </div>

            <div style="border: 1px solid #ffffff; border-radius: 5px; margin-top: 20px">
                <div class="row" style="margin-top: 20px;">
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-5">
                            <h5 style="font-weight: 600">Enter Alternate Payment Terms</h5>
                        </div>
                        <div class="col-md-5">
                            <div class="checkbox checkbox-primary">
                                <input id="isOffline" type="checkbox" checked="" name="isOffline"
                                       ng-model="storeCommerce.isOffline" ng-true-value="'1'"
                                       ng-false-value="'0'">
                                <label for="isOffline">Offline</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-6 col-md-5">
                            <div class="checkbox checkbox-primary">
                                <input id="isCod" type="checkbox" checked="" name="isCod"
                                       ng-model="storeCommerce.isCod" ng-true-value="'1'"
                                       ng-false-value="'0'">
                                <label for="isCod">Cash On Delivery</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-6 col-md-5">
                            <div class="checkbox checkbox-primary">
                                <input id="isChequePayment" type="checkbox" checked="" name="isCod"
                                       ng-model="storeCommerce.isChequePayment" ng-true-value="'1'"
                                       ng-false-value="'0'">
                                <label for="isChequePayment">Cheque Payment</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-5">
                            <h5 style="font-weight: 600">Shipment, Delivery Co-ordination
                                Information</h5>
                        </div>
                        <div class="col-md-5">
                            <input type="text" placeholder="Contact Number" class="form-control"
                                      id="contactNumber" name="contactNumber"
                                      ng-model="storeCommerce.contactNumber"/>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="form-group">
                        <div class="col-md-offset-6 col-sm-5">
                            <input type="text" placeholder="Vendor Name" class="form-control"
                                   id="vendorName" name="vendorName"
                                   ng-model="storeCommerce.vendorName">
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                    <div class="form-group">
                        <div class="col-md-offset-6 col-md-5">
                            <textarea rows="3" placeholder="Additional Info (If Any)" class="form-control"
                                      id="additionalInfo" name="productTitleDesc"
                                      ng-model="storeCommerce.additionalInfo"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 20px; margin-bottom: 20px">
                    <div class="col-md-2 col-sm-offset-9">
                        <a href ng-click="SaveStoreCommerce(storeCommerce)" class="btn btn-primary btn-block">Save</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>