<div class="jumbotron alert alert-dismissible inner-jumbotron shadow" id="no-border-round" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <h1>MarketPlace</h1>

    <p style="text-align:justify">Our stores and business in marketplace is 5 key categories: Health, Wellness & Fitness, Food & Nutrition, Beauty & Fashion, Education, Care & Parenting, and Lifestyle. If you are in business, you can create your store and/or ads & campaigns. If you are a consumer you can buy products or business services in these five categories</p>

	<p style="text-align:justify">You can use our digital tools to stream to close knit community for promotions and branding. You can also stream it on select social sites. A good tool for spreading the word online.</p>
    <!-- <p>For more visit MarkePlace FAQs. <a href="#evezownfaq">Click here</a></p> -->
</div>