<div class="jumbotron alert alert-dismissible inner-jumbotron shadow " ng-show="caption" id="no-border-round"
     role="alert" ng-controller="ApplicationCtrl">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <h1>Woice</h1>

    <p style="text-align:justify">This is the content-based community building and promotion platform. You can create your profile in-depth, connect with friends, colleagues, customers, partners, employees or other people you wish to connect with. You can promote yourself or your business digitally within your circles privately or publicly using features of Stream It section such as events, blogs, discussions and groups.
    </p>
    <p>Echo your Stream It. Be heard.</p>
    <p>For more visit Stream It FAQs. <a href="#woicefaq"> Click here </a></p>
</div>