<!-- Static navbar -->
<nav class="navbar navbar-default" id="navContainer">
    <div id="navbar1">
        <ul class="nav navbar-nav">
            <li>
                <a href="#profile/{{userId}}" ng-class="{ active: isActive('/profile')}">Mysite</a>
            </li>
            <li>
                <a href="#profile/{{userId}}/personalinfo" class="{{isActive[1]}}">Manage Mysite</a>
            </li>
            <li ng-class="{ active: isActive('/explore')}">
                <!-- Template which needs to be shown on click -->
                <script type="text/ng-template" id="explore">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip">
                        <ul>
                            <li style="padding: 5px; text-align: center"><a  href="#evezplace">MarketPlace</a></li>
                            <li style="padding: 5px; text-align: center"><a  href="#wopportunity">Jobs</a></li>
                        </ul>
                    </div>
                </script>

                <a ns-popover
                   ns-popover-template="explore"
                   ns-popover-trigger="click"
                   ns-popover-theme="ns-popover-list-theme">
                    Explore
                </a>
            </li>
            <li ng-class="{ active: isActive('/search/advanced')}"><a href="#search/advanced" id="search">Search&nbsp;
            <span class="fa fa-search" id="searchIcon"></span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="col-md-12" ng-controller="profileCtrl">
    <div class="row user-menu-container square">
        <div class="col-md-12 user-details">
            <div class="row coralbg white">
                <div class="col-md-3 top-margin">
                    <div class="user-image biothumb">
                        <img ng-src="{{profileImage}}" src="http://placehold.it/300x450"
                             class="img-responsive thumbnail" />
                        <div class="overlay fileUpload" ng-if="userId == loggedInUserId">
                            <ul class="list-unstyled text-center">
                                <li><a href>Update Mysite Image</a></li>
                                <input type="file" class="upload" name="image" nv-file-select uploader="uploader"/>
                                <div ng-if="uploader.queue.length > 0">
                                    <!-- Image upload queue section start -->
                                    <div class="progress" style="">
                                        <div class="progress-bar" role="progressbar" id="upload-progress-bar"
                                             ng-style="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                    <!-- Image upload queue section end -->
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 no-pad">
                    <div class="user-pad-profile">
                        <!--name-->
                        <h3 style="text-transform: capitalize;">{{ firstname }} {{ lastname }}</h3>
                        <!--Location-->
                        <div ng-hide="city == '' || country =='' || city == null || country == null">
                            <h4 style="text-transform: capitalize;"><i class="fa fa-location-arrow"></i>&nbsp;{{locationDetails}}</h4>
                        </div>
                        <!--job and company-->
                        <div ng-hide="designation == '' || organization =='' || designation == null || organization == null">
                            <h4 style="text-transform: capitalize;">
                                <i class="fa fa-briefcase"></i> {{designation}}&nbsp;&nbsp;{{connectingtext}}&nbsp;&nbsp;{{organization}}
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <a href="#" ng-controller="community">
                                <div class="col-md-2 col-xs-2 well text-center" id="user-profile">
                                    <h3>{{friendList.length}}</h3>
                                    <h4>Connects</h4>
                                </div>
                            </a>

                            <div class="col-md-2 col-xs-2 well text-center" id="user-profile" ng-controller="circles">
                                <h3>{{myCircles.length}}</h3>
                                <h4>Circles</h4>
                            </div>
                            <div class="col-md-2 col-xs-2 well text-center" id="user-profile" ng-controller="eventCtrl">
                                <h3>{{myEvents.length}}</h3>
                                <h4>Events</h4>
                            </div>
                            <div class="col-md-2 col-xs-2 well text-center" id="user-profile" ng-controller="blogCntrl">
                                <h3>{{myBlogs.length}}</h3>
                                <h4>Blogs</h4>
                            </div>
                            <div class="col-md-2 col-xs-2 well text-center" id="user-profile" ng-controller="albums">
                                <h3>{{myAlbums.length}}</h3>
                                <h4>Gallery</h4>
                            </div>
                            <div class="col-md-2 col-xs-2 well text-center" id="user-more">
                                <h3><i class="fa fa-circle"></i>
                                    <i class="fa fa-circle"></i>
                                    <i class="fa fa-circle"></i>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h3>About Me</h3>

                    <p>{{ aboutme }}</p>
                </div>
            </div>

        </div>
        <div class="col-md-12" style="margin-top: 10px;">
            <ul class="breadcrumb" style="background: transparent; padding-left: 0px" >
                <li><a href="#home">Home</a> <span class="divider"></span></li>
                <li><a href="#profile/{{userId}}">Profile</a></li>
                <li class="active">Details</li>
            </ul>
        </div>
        <div class="col-md-2 user-menu-btns">
            <div class="btn-group-vertical square" id="responsive">
                <a href="#profile/{{userId}}/personalinfo" class="btn btn-block btn-default ">
                    <p>Personal Info Basic</p>
                </a>
                <a href="#profile/{{userId}}/enhance" class="btn btn-block btn-default ">
                    <p>Enhance Profile Page</p>
                </a>
                <a href="#profile/{{userId}}/change_password" class="btn btn-default">
                <p>Change Password</p>
                </a>
                <a href="#profile/{{userId}}/myonline" class="btn btn-default ">
                    <p>My Online Presence </p>
                </a>
                <a href="#profile/favorites" class="btn btn-default">
                    <p>Favorites-Topics /</br>Areas of Interest </p>
                </a>
                <a href="#profile/{{userId}}/reference" class="btn btn-default ">
                    <p>My Reference info </p>
                </a>
                <a href="#profile/{{userId}}/participation" class="btn btn-default ">
                    <p>My Participation in </br>MarketPlace </p>
                </a>
                <a href="#profile/{{userId}}/other" class="btn btn-default">
                    <p>Other EvezOwn services </p>
                </a>
                <a href="#profile/partnering" class="btn btn-default active">
                    <p>Partnering with EvezOwn </p>
                </a>
                <a href="#profile/feedback" class="btn btn-default">
                    <p>Feedback/suggestions </p>
                </a>
            </div>
        </div>

        <div class="col-md-10 user-menu user-pad" ng-controller="profileDetailsCtrl">
            <h3>
                Partnering with EvezOwn
            </h3>
            <div class="signup-section">
                <form>
                    <div class="col-xs-12 checkbox checkbox-primary">
                        <input type="checkbox" name="interest" id="contentcreation" ng-model="partnering.interested_in_content_creation" ng-true-value="1"
                               ng-false-value="0"
                               ng-checked="partnering.interested_in_content_creation == 1"/>
                        <label for="contentcreation">
                            Would you be interested in contributing to EvezOwn content creation?
                        </label>
                        <ul class="list-group" style="margin-left: 20px">
                            <li>
                                <input type="checkbox" name="interest" id="thoughblogs" value="1" ng-model="partnering.through_blogs" ng-disabled="partnering.interested_in_content_creation != 1" ng-true-value="1"
                                       ng-false-value="0"
                                       ng-checked="partnering.through_blogs == 1"/>
                                <label for="thoughblogs">
                                    Through Blogs
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" name="interest" id="thoughforums" value="1" ng-model="partnering.through_forums" ng-disabled="partnering.interested_in_content_creation != 1" ng-true-value="1"
                                       ng-false-value="0"
                                       ng-checked="partnering.through_forums == 1"/>
                                <label for="thoughforums">
                                    Through Discussion
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" name="interest" id="thoughevent" value="1" ng-model="partnering.through_events" ng-disabled="partnering.interested_in_content_creation != 1" ng-true-value="1"
                                       ng-false-value="0"
                                       ng-checked="partnering.through_events == 1"/>
                                <label for="thoughevent">
                                    Through Events advertising
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" name="interest" id="thoughrecco" value="1" ng-model="partnering.through_recco" ng-disabled="partnering.interested_in_content_creation != 1" ng-true-value="1"
                                       ng-false-value="0"
                                       ng-checked="partnering.through_recco == 1"/>
                                <label for="thoughrecco">
                                    Through Stream It
                                </label>
                            </li>
                            <li>
                                <input type="checkbox" name="interest" id="thoughwoice" value="1" ng-model="partnering.as_woice_user" ng-disabled="partnering.interested_in_content_creation != 1" ng-true-value="1"
                                       ng-false-value="0"
                                       ng-checked="partnering.as_woice_user == 1"/>
                                <label for="thoughwoice">
                                    As a normal Stream It user only
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 checkbox checkbox-primary">
                        <input type="checkbox" name="interest" id="evangelist" value="1" ng-model="partnering.as_evangelist" ng-true-value="1"
                               ng-false-value="0"
                               ng-checked="partnering.as_evangelist == 1"/>
                        <label for="evangelist">
                            As an Evangelist – To promote EvezOwn by creating large close knit circles
                        </label>
                    </div>
                    <div class="col-xs-12 checkbox checkbox-primary">
                        <input type="checkbox" name="interest" id="asContentCreator" value="1" ng-model="partnering.as_active_writer"  ng-true-value="1"
                               ng-false-value="0"
                               ng-checked="partnering.as_active_writer == 1"/>
                        <label for="asContentCreator">
                            As an active Writer /Content creator
                        </label>
                    </div>
                    <div class="col-xs-12 checkbox checkbox-primary">
                        <input type="checkbox" name="interest" id="asSourcingSpecialist" value="1" ng-model="partnering.as_ecommerce" ng-true-value="1"
                               ng-false-value="0"
                               ng-checked="partnering.as_ecommerce == 1"/>
                        <label for="asSourcingSpecialist">
                            As a Ecommerce /Sourcing  specialist
                        </label>
                    </div>
                    <div class="col-xs-12 form-group">
                        <!--<div class="fileUpload btn btn-primary">-->
                            <!--<span><i class="fa fa-cloud-upload"></i> Upload job profile</span>-->
                            <!--<input type="file" class="upload" name="image" nv-file-select="" uploader="uploader"-->
                                   <!--multiple/>-->
                        <!--</div>-->
                    </div>
                    <div class="form-group">
                        <input type="text"  name="other" id="other" class="form-control input-lg"
                               placeholder="Any other idea for partnership you have? Explain" tabindex="4" ng-model="partnering.other_ideas">
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-md-offset-8" style="margin-top: 10px">
                            <button
                                    class="btn btn-primary btn-block btn-lg"
                                    tabindex="7" ng-click="savePartneringProfile(partnering)" style="height: 40px">Save</button>
                        </div>
                    </div>

                </form>
                <!--<pre>form = {{user | json}}</pre>-->
                <!--<pre>master = {{master | json}}</pre>-->
            </div>
        </div>
    </div>
</div>