<div class="row" ng-controller="ClassifiedDetailsCtrl" style="margin-top: 10px; background-color: #f2f2f2">
    <div class="col-sm-12">
        <div class="col-sm-12 no-padding">
            <div class="col-sm-6 no-padding">
                <h2 style="font-weight: 600;">{{classifiedDetails.title}}</h2>
            </div>
            <div class="col-sm-6 no-padding" ng-if="OwnerID == loggedInUserId">
                <div class="col-sm-2">
                    <a  style="margin-top:10px;" href ng-click="publishClassified()" class="btn btn-primary">Publish</a>
                </div>
                <div class="col-sm-2">
                    <a style="margin-top:10px;" href="#classified/{{SelectedClassified}}/manage/classified_type" class="btn btn-primary">Manage</a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-sm-8">
                <h3 style="margin: 30px 0px">{{classifiedDetails.deal_description}}</h3>

                <h4 style="margin-top: 20px">Description</h4>
                <hr style="border-color: #ab2faa"/>
                <p>{{classifiedDetails.description}}</p>
            </div>
            <div class="col-sm-4">
                <flex-slider flex-slide="image in classifiedDetails.classified_images"
                             style="margin-top: 10px; padding: 20px 0px">
                    <li>
                        <img ng-src="{{image}}">
                    </li>
                </flex-slider>
            </div>
        </div>
        <div class="row" style="padding: 20px">
            <ng-comment-recco-rewoice-grade
                    ng-comments="classifiedComments"
                    ng-comments-metadata="commentMetadata"
                    is-comments="true"
                    total-grade="totalGrade"
                    avg-grade="avgGrade"
                    user-grade="userGrade"
                    is-grades="true"
                    restreams="totalRestreams"
                    is-restream="true"
                    add-comment="addComment(value)"
                    update-comment="updateComment(commentId, comment)"
                    delete-comment="deleteComment(id)"
                    load-comments="loadComments(page)"
                    add-grade="addGrade(grade)"
                    add-restream="addRestream()">
            </ng-comment-recco-rewoice-grade>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4">
                <div class="row classified-details" style="padding: 0px 0px 0px 20px">
                    <h4 style="color: #692668; margin-top: 20px">Share using</h4>
                    <hr style="border-color: #ab2faa"/>

                    <social-share
                            sharelink="shareUrl()"
                            sharemedia="classifiedDetails.classifiedDetails.classified_images[0]"
                            whatsapp="classifiedDetails.is_watsapp_share"
                            facebook="classifiedDetails.is_facebook_share"
                            twitter="classifiedDetails.is_twitter_share"
                            linkedin="classifiedDetails.is_linkedin_share"
                            gmail="classifiedDetails.is_gmail_share"
                            googleplus="classifiedDetails.is_googleplus_share"
                            email="classifiedDetails.contact.email"
                            title="classifiedDetails.title">
                    </social-share>
                </div>
            </div>
            <div class="col-sm-4">
                <h4 style="color: #692668; margin-top: 20px">Contact details</h4>
                <hr style="border-color: #ab2faa"/>

                <div class="contact-details">
                    <p>Phone: <span>{{classifiedDetails.contact.phone}}</span></p>

                    <p>Email: <span>{{classifiedDetails.contact.email}}</span></p>

                    <p>Contact Person: <span>{{classifiedDetails.contact.name}}</span></p>
                </div>
            </div>
            <div class="col-sm-4">
                <h4 style="color: #692668; margin-top: 20px">Location</h4>
                <hr style="border-color: #ab2faa"/>

                <div class="contact-details">
                    <p>Street Address: <span>{{classifiedDetails.location.street_address}}</span></p>

                    <p>City: <span>{{classifiedDetails.location.city}}, {{classifiedDetails.location.state}}</span></p>

                    <p>pincode: <span>{{classifiedDetails.location.pincode}}</span></p>
                </div>


            </div>
        </div>
        <div class="row text-center" style="margin: 30px 0px">
            <div class="col-sm-12">
                <a class="btn btn-primary btn-block btn-lg"
                   ng-click="ClassifiedRfiDialog(classifiedDetails.id)">Enquiry/Request for
                    Information (RFI)</a>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="finishClassifiedDialogId">
    <div class="ngdialog-buttons popuptemplate">
        <div class="create-store-section text-center" style="margin-bottom: 0px">
            <div class="row">
                <div class="col-md-12">
                    <h5 style="color: #e51385; font-weight: 700; font-size: 1.8em; margin-bottom: 20px">Publish
                        Ads & Campaigns</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
            <span class="fa-stack fa-lg fa-2x">
              <i class="fa fa-circle fa-stack-2x" style="color: #ffffff"></i>
              <i class="fa fa-check fa-stack-1x fa-inverse" style="color: #009966"></i>
            </span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="padding: 20px 80px">
                    <p style="font-weight: 100; font-size: 1.2em">You can activate your Ads & Campaigns now or publish it to
                        Stream It channel.
                    </p>
                </div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-md-6  col-md-offset-3">
                    <p style="font-weight: 400; font-size: 1.2em">Publish Ads & Campaigns to stream it?
                        <input type="checkbox"
                               ng-model="publishToRecco"
                               ng-checked="publishToRecco"/>
                    </p>
                </div>
            </div>

            <div class="row" style="margin-top: 10px">
                <div class="col-md-6  col-md-offset-3">
                    <p style="font-weight: 400; font-size: 1.2em">Activate Ads & Campaigns now?
                        <input type="checkbox"
                               ng-model="activateClassified"
                               ng-checked="activateClassified"/>
                    </p>
                </div>
            </div>

            <div class="row" style="margin-top: 30px;">
                <div class="col-md-6  col-md-offset-3">
                    <a ng-click="finishClassified(activateClassified)" class="btn btn-primary btn-block btn-lg">Finish</a>
                </div>
            </div>
        </div>
    </div>
</script>