<!-- Static navbar -->
<nav class="navbar navbar-default" id="navContainer">
    <div id="navbar1">
        <ul class="nav navbar-nav">
            <li>
                <a href="#profile/{{userId}}" class="{{isActive[0]}}" ng-class="{ active: isActive('/profile')}">Mysite</a>
            </li>
            
            <li ng-if="loggedInUserId == currentUserId">
                <a href="#myalbums/{{userId}}" class="active" ng-class="{ active: isActive('/myalbums/{{userId}}')}">Gallery</a>
            </li>
            <li ng-if="loggedInUserId != currentUserId">
                <a href="#community" class="active" ng-class="{ active: isActive('/community')}">Build Community</a>
            </li>
            <li ng-class="{ active: isActive('/explore')}">
                <!-- Template which needs to be shown on click -->
                <script type="text/ng-template" id="explore">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip">
                        <ul>
                            <li style="padding: 5px; text-align: center"><a  href="#evezplace">MarketPlace</a></li>
                            <li style="padding: 5px; text-align: center"><a  href="#wopportunity">Jobs</a></li>
                        </ul>
                    </div>
                </script>

                <a ns-popover
                   ns-popover-template="explore"
                   ns-popover-trigger="click"
                   ns-popover-theme="ns-popover-list-theme">
                    Explore
                </a>
            </li>
            <li ng-class="{ active: isActive('/search/advanced')}"><a href="#search/advanced"  id="search">Search&nbsp;
                <span class="fa fa-search" id="searchIcon"></span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="col-md-12" ng-controller="profileCtrl">
    <div class="row user-menu-container square">
    <div class="row cover-section custom-profile-covers">
        <div class="col-md-4 small-cover-pic">
            <div class="small-cover-pic-top">
                <div>
                    <img ng-src="{{leftCoverImage}}" src="http://placehold.it/393x220"
                         class="img-responsive thumbnail"/>
                    <!--<img ng-src="http://www.turquoiseandgold.com/images/store_bng1.jpg" class="img-responsive" alt=""/>-->
                </div>
            </div>
            <div class="small-cover-pic-bottom">
                <img ng-src="{{bottomCoverImage}}" src="http://placehold.it/393x220"
                     class="img-responsive thumbnail"/>
                <!--<img ng-src="http://alphacityguides.com/sites/default/files/1281558593/10030175813_9260a60d14_k.jpg"-->
                <!--class="img-responsive" alt=""/>-->
            </div>
        </div>
        <div class="col-md-8 large-cover-pic custom-user-right-coverpic">
            <img ng-src="{{rightCoverImage}}" src="http://placehold.it/803x452"
                 class="img-responsive thumbnail"/>
            <!--<img ng-src="http://alphacityguides.com/sites/default/files/1281558593/10030175813_9260a60d14_k.jpg"-->
            <!--class="img-responsive" alt=""/>-->
            <!--<button class="btn btn-primary btn-sm btn-cover-pic-left"><span class="fa fa-camera"></span> Change Pic-->
            <!--</button>-->

        </div>
    </div>
        <div class="col-md-12 user-details">
            <div class="row coralbg white custom-profile-userpic">
                <div class="col-md-3 top-margin">
                    <div class="user-image biothumb">
                        <img ng-src="{{currentProfileImage}}" src="http://placehold.it/300x450" class="img-responsive thumbnail" />
                    </div>
                </div>


                <div class="col-md-9 no-pad">
                    <div class="user-pad-profile">
                       <!--name-->
                        <h3 style="text-transform: capitalize;">{{ firstname }} {{ lastname }}</h3>
                        <!--Location-->
                        <div ng-hide="city == '' || country =='' || city == null || country == null">
                            <h4 style="text-transform: capitalize;"><i class="fa fa-location-arrow"></i>&nbsp;{{locationDetails}}</h4>
                        </div>
                        <!--job and company-->
                        <div ng-hide="designation == '' || organization =='' || designation == null || organization == null">
                            <h4 style="text-transform: capitalize;">
                                <i class="fa fa-briefcase"></i> {{designation}}&nbsp;&nbsp;{{connectingtext}}&nbsp;&nbsp;{{organization}}
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href ng-controller="community">
                                <div class="col-md-2 well text-center" id="user-profile">
                                    <h3>{{friendList.length}}</h3>
                                    <h4>Connects</h4>
                                </div>
                            </a>

                            <div class="col-md-2  well text-center" id="user-profile" ng-controller="circles">
                                <h3>{{myCircles.length}}</h3>
                                <h4>Circles</h4>
                            </div>
                            <div class="col-md-2  well text-center" id="user-profile" ng-controller="eventCtrl">
                                <h3>{{myEvents.length}}</h3>
                                <h4>Events</h4>
                            </div>
                            <div class="col-md-2  well text-center" id="user-profile" ng-controller="blogCntrl">
                                <h3>{{myBlogs.length}}</h3>
                                <h4>Blogs</h4>
                            </div>
                            <div class="col-md-2 well text-center" id="user-profile" ng-controller="albums">
                                <h3>{{myAlbums.length}}</h3>
                                <h4>Gallery</h4>
                            </div>
                            <div class="col-md-2  well text-center" id="user-more">
                                <h3><i class="fa fa-circle"></i>
                                    <i class="fa fa-circle"></i>
                                    <i class="fa fa-circle"></i>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h3>About Me</h3>

                    <p style="text-align:justify;padding-bottom:10px;">{{ aboutme }}</p>
                </div>
            </div>

        </div>
        <div class="col-md-2 user-menu-btns" ng-include src='"partials/profile/profileLeftMenu.html"'>
            
        </div>
<div class="col-md-10 user-menu user-pad"  ng-controller="albums">
    <div class="col-md-12 panel-heading">
    	<div class="col-md-12 panel-heading" style="padding-left: 0px;padding-right: 0px;">
	        <div class="fragment">
	            <a><span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>x</span></a>
	            <h4 style="color: #369;font-family:'Raleway', sans-serif;font-size:18px;font-weight:500;">Gallery</h4>
	            <p>
	                This is a photo gallery to showcase yourself, your venture, business and aspirations, share with your circles, audience, your can choose.
	            </p>
	        </div>
	    </div>
        <div class="col-md-2">
            <h4>
               Gallery ({{myAlbums.length}})
            </h4>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="search gallery" ng-model="albumsearch"/>
        </div>
        <div class="col-md-2 col-md-offset-4 pull-right" ng-if="loggedInUserId == currentUserId">
            <a href ng-click="CreateAlbum()" class="btn btn-primary"><span class="fa fa-plus"></span> Create Gallery</a>
        </div>
    </div>
    <div class="col-md-12 album-section">
        <!-- Row 1-->
        <div class="col-md-4" style="padding-left: 0px; padding-right: 0px" ng-repeat="album in myAlbums | filter:albumsearch">
            <div class="view view-first">
                <img ng-if="album.images.length == 0" src="http://creativethoughts.co.in/evezown/api/public/v1/image/show/2015-02-27-05:22:10-evezown_album.jpg" class="img-responsive"/>
                <img ng-if="album.images.length > 0" src="{{service_url}}image/show/{{album.images[0].large_image_url}}" class="img-responsive"/>
                <div class="mask">
                    <h2>{{album.title}}</h2><br><br>
                    <a href="#myalbumdetails/{{album.id}}/{{currentUserId}}" class="info">view gallery</a>
                    <!-- <a href ng-click="DeleteAlbum(album)" class="info" ng-if="loggedInUserId == currentUserId">Delete album</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
<script type="text/ng-template" id="templateId">
    <div class="ngdialog-buttons popuptemplate" ng-controller="albums">
        <h4>Add album</h4>
        <input class="form-control" type="text" placeholder="Album Title"
               id="circle" ng-model="album" maxlength="100" style="margin-bottom: 10px; height: 50px; font-size: 18px"/>
               <span class="pull-right" ng-hide="album == dirty">{{100 - album.length}}</span>
        <textarea class="form-control" rows="4" placeholder="Album Description (optional)"
                  ng-model="description"/><br>
        <button class="btn primary pull-right form-control" type="button" ng-click="SaveAlbum()">Add</button>
    </div>
</script>