<!-- Static navbar -->
<nav class="navbar navbar-default" id="navContainer">
    <div id="navbar1">
        <ul class="nav navbar-nav">
            <li>
                <a href="#profile/{{userId}}" class="{{isActive[0]}}" ng-class="{ active: isActive('/profile')}">Mysite</a>
            </li>
            
            <li ng-if="loggedInUserId == currentUserId">
                <a href="#myblogs/{{userId}}" class="{{isActive[1]}}" ng-class="{ active: isActive('/myblogs/{{userId}}')}">Blogs</a>
            </li>
            <li ng-if="loggedInUserId != currentUserId">
                <a href="#community" class="{{isActive[1]}}" ng-class="{ active: isActive('/community')}">Build Community</a>
            </li>
            <li ng-class="{ active: isActive('/explore')}">
                <!-- Template which needs to be shown on click -->
                <script type="text/ng-template" id="explore">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip">
                        <ul>
                            <li style="padding: 5px; text-align: center"><a  href="#evezplace">MarketPlace</a></li>
                            <li style="padding: 5px; text-align: center"><a  href="#wopportunity">Jobs</a></li>
                        </ul>
                    </div>
                </script>

                <a ns-popover
                   ns-popover-template="explore"
                   ns-popover-trigger="click"
                   ns-popover-theme="ns-popover-list-theme">
                    Explore
                </a>
            </li>
            <li ng-class="{ active: isActive('/search/advanced')}"><a href="#search/advanced"  id="search">Search&nbsp;
                <span class="fa fa-search" id="searchIcon"></span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="col-md-12" ng-controller="profileCtrl">
    <div class="row user-menu-container square">
    <div class="row cover-section custom-profile-covers">
        <div class="col-md-4 small-cover-pic">
            <div class="small-cover-pic-top">
                <div>
                    <img ng-src="{{leftCoverImage}}" src="http://placehold.it/393x220"
                         class="img-responsive thumbnail"/>
                    <!--<img ng-src="http://www.turquoiseandgold.com/images/store_bng1.jpg" class="img-responsive" alt=""/>-->
                </div>
            </div>
            <div class="small-cover-pic-bottom">
                <img ng-src="{{bottomCoverImage}}" src="http://placehold.it/393x220"
                     class="img-responsive thumbnail"/>
                <!--<img ng-src="http://alphacityguides.com/sites/default/files/1281558593/10030175813_9260a60d14_k.jpg"-->
                <!--class="img-responsive" alt=""/>-->
            </div>
        </div>
        <div class="col-md-8 large-cover-pic custom-user-right-coverpic">
            <img ng-src="{{rightCoverImage}}" src="http://placehold.it/803x452"
                 class="img-responsive thumbnail"/>
            <!--<img ng-src="http://alphacityguides.com/sites/default/files/1281558593/10030175813_9260a60d14_k.jpg"-->
            <!--class="img-responsive" alt=""/>-->
            <!--<button class="btn btn-primary btn-sm btn-cover-pic-left"><span class="fa fa-camera"></span> Change Pic-->
            <!--</button>-->

        </div>
    </div>
        <div class="col-md-12 user-details">
            <div class="row coralbg white custom-profile-userpic">
                <div class="col-md-3 top-margin">
                    <div class="user-image biothumb">
                        <img ng-src="{{currentProfileImage}}" src="http://placehold.it/300x450" class="img-responsive thumbnail" />
                    </div>
                </div>


                <div class="col-md-9 no-pad">
                    <div class="user-pad-profile">
                        <!--name-->
                        <h3 style="text-transform: capitalize;">{{ firstname }} {{ lastname }}</h3>
                        <!--Location-->
                        <div ng-hide="city == '' || country =='' || city == null || country == null">
                            <h4 style="text-transform: capitalize;"><i class="fa fa-location-arrow"></i>&nbsp;{{locationDetails}}</h4>
                        </div>
                        <!--job and company-->
                        <div ng-hide="designation == '' || organization =='' || designation == null || organization == null">
                            <h4 style="text-transform: capitalize;">
                                <i class="fa fa-briefcase"></i> {{designation}}&nbsp;&nbsp;{{connectingtext}}&nbsp;&nbsp;{{organization}}
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href ng-controller="community">
                                <div class="col-md-2 well text-center" id="user-profile">
                                    <h3>{{friendList.length}}</h3>
                                    <h4>Connects</h4>
                                </div>
                            </a>

                            <div class="col-md-2  well text-center" id="user-profile" ng-controller="circles">
                                <h3>{{myCircles.length}}</h3>
                                <h4>Circles</h4>
                            </div>
                            <div class="col-md-2  well text-center" id="user-profile" ng-controller="eventCtrl">
                                <h3>{{myEvents.length}}</h3>
                                <h4>Events</h4>
                            </div>
                            <div class="col-md-2  well text-center" id="user-profile" ng-controller="blogCntrl">
                                <h3>{{myBlogs.length}}</h3>
                                <h4>Blogs</h4>
                            </div>
                            <div class="col-md-2  well text-center" id="user-profile" ng-controller="albums">
                                <h3>{{myAlbums.length}}</h3>
                                <h4>Gallery</h4>
                            </div>
                            <div class="col-md-2 well text-center" id="user-more">
                                <h3><i class="fa fa-circle"></i>
                                    <i class="fa fa-circle"></i>
                                    <i class="fa fa-circle"></i>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h3>About Me</h3>

                    <p style="text-align:justify;padding-bottom:10px;">{{ aboutme }}</p>
                </div>
            </div>

        </div>
        <div class="col-md-2 user-menu-btns" ng-include src='"partials/profile/profileLeftMenu.html"'>
            
        </div>
<div class="col-md-10 user-menu user-pad"  ng-controller="blogCntrl">
	<div class="col-md-12 panel-heading" style="padding-left: 0px;padding-right: 0px;">
        <div class="fragment">
            <a><span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>x</span></a>
            <h4 style="color: #369;font-family:'Raleway', sans-serif;font-size:18px;font-weight:500;">Blogs</h4>
            <p>
                Express your thoughts through articles and blogs, you can write free flow, all features for smart editing are available to make writing simple. Share and control visibility.
            </p>
        </div>
    </div>
    <div class="col-md-12 panel-heading">
        <div class="col-md-2">
            <h4>
                Blogs ({{myBlogs.length}})
            </h4>
        </div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="search blogs" ng-model="blogsearch"/>
        </div>
        <div class="col-md-2 col-md-offset-4 pull-right" ng-if="loggedInUserId == currentUserId">
            <!-- <a href="#createmyblogs" class="btn btn-primary"><span class="fa fa-plus"></span> Create Blog</a> -->
            <a href="#createblogs" class="btn btn-primary"><span class="fa fa-plus"></span> Create Blog</a>
        </div>
    </div>

    <!--for loggedin users-->
    <div class="col-md-12 blog-post-items" ng-if="currentUserId == loggedInUserId">
        <!-- Row 1-->
        <div class="col-md-6 post-item container-closed" ng-repeat="blog in myBlogs | filter:blogsearch">
            <figure class="post-thumbnail" style="max-height:200px;">
                <a href="#blogs/{{blog.id}}/{{currentUserId}}"
                   title="{{blog.title}}">
                    <img ng-src="img/blog.png" class="img-thumbnail" ng-if="blog.blog_image == null"/>
                    <img ng-src="{{service_url}}image/show/{{blog.blog_image.large_image_url}}" class="img-thumbnail" ng-if="blog.blog_image != null" alt="{{blog.title}}"/> </a>
            </figure>
            <section class="post-content">
                <header>
                    <a href="#blogs/{{blog.id}}/{{currentUserId}}"
                       title="{{blog.title}}"><h2 class="post-title">{{blog.title | strLimit: 20}}</h2></a>

                    <div class="single-meta">
                        <span>
                            <span>
                                <a href="#profile/{{loggedInUserId}}" class="author-name">{{blog.author.firstname}} {{blog.author.lastname}}</a>&nbsp;&nbsp;•&nbsp;&nbsp;
                                <a href rel="category tag">{{blog.subcategory.category.category_name}}</a>&nbsp;&nbsp;•&nbsp;&nbsp;
                                <a href rel="category tag">{{blog.subcategory.subcategory_name}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>
                            <p  ng-bind="convertToDate(blog.updated_date.date) | date:'medium'"></p>
                        </span>
                    </div>
                </header>
                <div class="main-content">
                    <ANY ng-bind-html="blog.content | strLimit:150">
                    </ANY>
                </div>
                <footer>
                <font color="red" size= "2">{{blog.status == 'draft'?'Draft':''}}</font>
                <font color="green" size= "2">{{blog.status == 'published'?'Published':''}}</font>
                 <a href="#blogs/{{blog.id}}/{{currentUserId}}" title="{{blog.title}}" class="read-more-btn btn btn-blue">Read
                        more...</a>
                </footer>
                <div class="clearfix"></div>
            </section>
        </div>
        <button class="btn btn-block btn-blue" ng-if="myBlogs.length > 6">Load More</button>
    </div>

    <!--for viewing friends blogs-->
    <div class="col-md-12 blog-post-items" ng-if="loggedInUserId != currentUserId">
        <!-- Row 1-->
        <div class="col-md-6 post-item container-closed" ng-repeat="blog in myBlogs | filter:blogsearch" ng-if="blog.status == 'published'">
            <figure class="post-thumbnail" style="max-height:200px;">
                <a href="#blogs/{{blog.id}}/{{currentUserId}}"
                   title="{{blog.title}}">
                    <img ng-src="img/blog.png" class="img-thumbnail" ng-if="blog.blog_image == null"/>
                    <img ng-src="{{service_url}}image/show/{{blog.blog_image.large_image_url}}" class="img-thumbnail" ng-if="blog.blog_image != null" alt="{{blog.title}}"/> </a>
            </figure>
            <section class="post-content">
                <header>
                    <a href="#blogs/{{blog.id}}/{{currentUserId}}"
                       title="{{blog.title}}"><h2 class="post-title">{{blog.title | strLimit: 20}}</h2></a>

                    <div class="single-meta">
                        <span>
                            <span>
                                <a href="#profile/{{loggedInUserId}}" class="author-name">{{blog.author.firstname}} {{blog.author.lastname}}</a>&nbsp;&nbsp;•&nbsp;&nbsp;
                                <a href rel="category tag">{{blog.subcategory.category.category_name}}</a>&nbsp;&nbsp;•&nbsp;&nbsp;
                                <a href rel="category tag">{{blog.subcategory.subcategory_name}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>
                            <p  ng-bind="convertToDate(blog.updated_date.date) | date:'medium'"></p>
                        </span>
                    </div>
                </header>
                <div class="main-content">
                    <ANY ng-bind-html="blog.content | strLimit:150">
                    </ANY>
                </div>
                <footer>
                    <a href="#blogs/{{blog.id}}/{{currentUserId}}" title="{{blog.title}}" class="read-more-btn btn btn-blue">Read
                        more...</a>
                </footer>
                <div class="clearfix"></div>
            </section>
        </div>
        <button class="btn btn-block btn-blue" ng-if="myBlogs.length > 6">Load More</button>
    </div>

</div>
        </div>
    </div>