<div class="container" ng-controller="profileCtrl">
<div class="row user-menu-container square">
<div class="row cover-section custom-profile-covers">
    <div class="col-md-4 small-cover-pic">
        <div class="small-cover-pic-top">
            <div class="overlay fileUpload" ng-if="userId == loggedInUserId">
                <ul class="list-unstyled text-center">
                    <li><a href>Change left Cover</a></li>
                    <input type="file" class="upload" name="coverimage3" nv-file-select uploader="uploader1"/>

                    <div ng-if="uploader1.queue.length > 0">
                        <!-- Image upload queue section start -->
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" id="upload-cover3-bar"
                                 ng-style="{ 'width': uploader1.progress + '%' }"></div>
                        </div>
                        <!-- Image upload queue section end -->
                    </div>
                </ul>
            </div>
            <div>
                <img ng-src="{{leftCoverImage}}" src="http://placehold.it/393x220"
                     class="img-responsive thumbnail"/>
                <!--<img ng-src="http://www.turquoiseandgold.com/images/store_bng1.jpg" class="img-responsive" alt=""/>-->
            </div>
        </div>
        <div class="small-cover-pic-bottom">
            <div class="overlay fileUpload" ng-if="userId == loggedInUserId">
                <ul class="list-unstyled text-center">
                    <li><a href>Change Bottom Cover</a></li>
                    <input type="file" class="upload" name="coverimage2" nv-file-select uploader="uploader2"/>

                    <div ng-if="uploader2.queue.length > 0">
                        <!-- Image upload queue section start -->
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" id="upload-cover2-bar"
                                 ng-style="{ 'width': uploader2.progress + '%' }"></div>
                        </div>
                        <!-- Image upload queue section end -->
                    </div>
                </ul>
            </div>
            <img ng-src="{{bottomCoverImage}}" src="http://placehold.it/393x220"
                 class="img-responsive thumbnail"/>
            <!--<img ng-src="http://alphacityguides.com/sites/default/files/1281558593/10030175813_9260a60d14_k.jpg"-->
            <!--class="img-responsive" alt=""/>-->
        </div>
    </div>
    <div class="col-md-8 large-cover-pic custom-user-right-coverpic">
        <div class="overlay fileUpload" ng-if="userId == loggedInUserId">
            <ul class="list-unstyled text-center">
                <li><a href>Change Right Cover</a></li>
                <input type="file" class="upload" name="coverimage1" nv-file-select uploader="uploader3"/>

                <div ng-if="uploader3.queue.length > 0">
                    <!-- Image upload queue section start -->
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" id="upload-cover1-bar"
                             ng-style="{ 'width': uploader3.progress + '%' }"></div>
                    </div>
                    <!-- Image upload queue section end -->
                </div>
            </ul>
        </div>
        <img ng-src="{{rightCoverImage}}" src="http://placehold.it/803x452"
             class="img-responsive thumbnail"/>
        <!--<img ng-src="http://alphacityguides.com/sites/default/files/1281558593/10030175813_9260a60d14_k.jpg"-->
        <!--class="img-responsive" alt=""/>-->
        <!--<button class="btn btn-primary btn-sm btn-cover-pic-left"><span class="fa fa-camera"></span> Change Pic-->
        <!--</button>-->

    </div>
</div>
<div class="col-md-12 user-details">
    <div class="row coralbg white custom-profile-userpic">
        <div class="col-md-3 top-margin">
            <div class="user-image biothumb">
                <img ng-src="{{currentProfileImage}}" src="http://placehold.it/300x450"
                     class="img-responsive thumbnail" />
                <div class="overlay fileUpload" ng-if="userId == loggedInUserId">
                    <ul class="list-unstyled text-center">
                        <li><a href>Update Mysite Image</a></li>
                        <input type="file" class="upload" name="image" nv-file-select uploader="uploader"/>
                        <div ng-if="uploader.queue.length > 0">
                            <!-- Image upload queue section start -->
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" id="upload-progress-bar"
                                     ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                            <!-- Image upload queue section end -->
                        </div>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-md-9 no-pad">
            <div class="user-pad-profile">
                <!--name-->
                <h3 style="text-transform: capitalize;">{{ firstname }} {{ lastname }}</h3>
                <!--Location-->
                <div ng-hide="city == '' || country =='' || city == null || country == null">
                    <h4 style="text-transform: capitalize;"><i class="fa fa-location-arrow"></i>&nbsp;{{locationDetails}}</h4>
                </div>
                <!--job and company-->
                <div ng-hide="designation == '' || organization =='' || designation == null || organization == null">
                    <h4 style="text-transform: capitalize;">
                        <i class="fa fa-briefcase"></i> {{designation}}&nbsp;&nbsp;{{connectingtext}}&nbsp;&nbsp;{{organization}}
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href ng-controller="community">
                        <div class="col-md-2  well text-center" id="user-profile">
                            <h3>{{friendList.length}}</h3>
                            <h4>Connects</h4>
                        </div>
                    </a>

                    <div class="col-md-2  well text-center" id="user-profile" ng-controller="circles">
                        <h3>{{myCircles.length}}</h3>
                        <h4>Circles</h4>
                    </div>
                    <div class="col-md-2  well text-center" id="user-profile" ng-controller="eventCtrl">
                        <h3>{{myEvents.length}}</h3>
                        <h4>Events</h4>
                    </div>
                    <div class="col-md-2  well text-center" id="user-profile" ng-controller="blogCntrl">
                        <h3>{{myBlogs.length}}</h3>
                        <h4>Blogs</h4>
                    </div>
                    <div class="col-md-2  well text-center" id="user-profile" ng-controller="albums">
                        <h3>{{myAlbums.length}}</h3>
                        <h4>gallery</h4>
                    </div>
                    <div class="col-md-2  well text-center" id="user-more">
                        <h3><i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h3>About Me</h3>

            <p style="text-align:justify;padding-bottom:10px;">{{ aboutme }}</p>
        </div>
    </div>

</div>
<div class="col-md-2 user-menu-btns" ng-include src='"partials/profile/profileLeftMenu.html"'>
    
</div>

<ul class="breadcrumb">
    <li><a href="#profile/{{loggedInUserId}}">Home</a></li>
    <li><a href="#myblogs">Blogs</a></li>
</ul>

<div class="col-md-8 blog-content-section" ng-controller="blogCntrl">
    <div class="col-md-8 pull-left">
        <button class="fa fa-edit" ng-click="EditMyBlog(selectedBlog)" ng-if="selectedBlog.author.user_id == loggedInUserId"></button>
    </div>
    <article class="blog-content-details">

        <div>

            <figure class="text-center">
                <img src="http://images.naldzgraphics.net/2013/08/thor-inspired-text-photoshop.jpg"
                     class="img-responsive" alt="thor-inspired-text-photoshop" title="">
            </figure>
            <section>
                <header>
                    <h2><a href="" rel="bookmark"
                           title="{{selectedBlog.title}}" property="name">{{selectedBlog.title}}</a></h2>
                </header>
                <div class="clearfix"></div>
            </section>
        </div>

        <ul class="pmd clearfix" style="padding-left: 0px">
            <li class="a">By <a rel="author" class="poa"
                                href=""
                                title="Posts by {{selectedBlog.author.firstname}} {{selectedBlog.author.lastname}}">{{selectedBlog.author.firstname}} {{selectedBlog.author.lastname}}</a>
            </li>
            <li class="date" ng-bind="convertToDate(selectedBlog.updated_date.date) | date:'medium'"><span class="glyphicon glyphicon-time"></span>
            </li>
            <li class="tags">
                <a href=""><span class="glyphicon glyphicon-tag"></span> {{selectedBlog.subcategory.category.category_name}}</a>
            <li class="comments">
                <a href><span class="glyphicon glyphicon-comment"></span> {{selectedBlog.comments.length}} Comments</a></li>
        </ul>

        <ANY ng-bind-html="selectedBlog.content">
        </ANY>
    </article>

    <!-- Show comments -->
    <div id="discussion" class="blog-comments-section subtab-pages">
        <h2>Comments:</h2>
        <div id="show-comments">
            <ol id="comments-overview" class="cl">
                <li class="comment clearfix"  ng-repeat="comment in selectedBlog.comments">
                    <div class="c">
                        <div class="cau clearfix">
                            <img alt=""
                                 src="{{service_url+'image/show/'+comment.profile.profile_image.large_image_url}}/32/32"
                                 data-gravatar-url="{{service_url+'image/show/'+comment.profile.profile_image.large_image_url}}/32/32"
                                 class="avatar img-thumbnail avatar-38 photo">

                            <div class="aum">
                                <h3>{{comment.profile.firstname}}</h3>
				<span class="dati">
					<a title=""
                       href ng-bind="convertToDate(comment.updated_at) | date:'medium'">
                    </a>
				</span>
                            </div>
                        </div>
                        <div class="ctx">
                            <p >{{comment.comment}}</p>
                        </div>

                        <div class="ctx">
                            <a href ng-click="DeleteComment(comment.id)"  ng-if="comment.profile.user_id == loggedInUserId">delete</a>
                        </div>
                    </div>
                </li>
            </ol>
            <button class="btn btn-lg btn-block btn-blue" ng-if="selectedBlog.comments.length > 5">Load more comments</button>
        </div>
        <div class="col-md-12">
            <textarea class="form-control" rows="2" placeholder="Add comment?"  data-ng-model="addedcomment"/>
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary btn-block" style="margin-top: 5px;" ng-click="AddBlogComment(selectedBlog,addedcomment)">Add Comment</button>
        </div>
    </div>

</div>
</div>
</div>


