<style>
.social-icons
{
    padding-top:10px;
}
.summary-header
{
    background-color: #FFFFFF;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid #DDDDDD;
}
.summary-header h5
{
    color:#1A85BC;
    font-size:20px;
    padding-left:10px;
    
}
.summary-box-outer
{
    padding-left:5px;
    padding-right:5px;
}
.summary-content
{
    background-color: #FFFFFF;
    min-height: 180px;
    border-radius: 0px 0px 4px 4px;
}
.summary-box
{   
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.30);
}
.summary-content p
{
    padding-left:15px;
    padding-right:15px;
    text-align:justify;
    line-height: 100%;
}
.summary-content p i
{
    color:#E50880;
}


</style>
<!-- Static navbar -->
<nav class="navbar navbar-default" id="navContainer">
    <div id="navbar1">
        <ul class="nav navbar-nav">
            <li ng-if="loggedInUserId == currentUserId">
                <a href="#profile/{{loggedInUserId}}" ng-class="{ active: isActive('/profile')}">Mysite</a>
            </li>
            <li ng-if="loggedInUserId != currentUserId">
                <a href="#profile/{{loggedInUserId}}">Mysite</a>
            </li>
            <!-- <li ng-if="loggedInUserId == currentUserId"> -->
            <li>
                <a href="#profile/myprofile/{{userId}}" class="active" ng-class="{ active: isActive('/profile/myprofile/{{userId}}')}">My Profile</a>
            </li>
            <!-- <li ng-if="loggedInUserId != currentUserId">
                <a href="#community" class="active" ng-class="{ active: isActive('/community')}">Build Community</a>
            </li> -->
            <li ng-class="{ active: isActive('/explore')}">
                <!-- Template which needs to be shown on click -->
                <script type="text/ng-template" id="explore">
                    <div class="triangle"></div>
                    <div class="ns-popover-tooltip">
                        <ul>
                            <li style="padding: 5px; text-align: center"><a  href="#evezplace">MarketPlace</a></li>
                            <li style="padding: 5px; text-align: center"><a  href="#wopportunity">Jobs</a></li>
                        </ul>
                    </div>
                </script>

                <a ns-popover
                   ns-popover-template="explore"
                   ns-popover-trigger="click"
                   ns-popover-theme="ns-popover-list-theme">
                    Explore
                </a>
            </li>
            <li ng-class="{ active: isActive('/search/advanced')}"><a href="#search/advanced" id="search">Search&nbsp;
                <span class="fa fa-search" id="searchIcon"></span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron alert alert-dismissible inner-jumbotron shadow " id="no-border-round"
     role="alert" ng-controller="ApplicationCtrl">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <h1>Build Mysite</h1>

    <p style="text-align:justify">This is your website on Evezown and captures the essence of your business and
        personality. You can create your profile in-depth, build community to connect with friends, colleagues,
        customers, partners, employees or any one you wish to connect with. You can promote yourself or your
        business digitally within your circles privately or publicly using features such as events, blogs, stream it, discussion
        and groups.
    </p>

    <!-- <p style="text-align:justify">For more visit <a href style="text-decoration:none;">Mysite FAQs</a>.</p> -->
</div>
<div class="col-md-12">
    <div class="container col-md-12" ng-controller="profileCtrl">
        <div class="row user-menu-container square">
            <div class="row cover-section custom-profile-covers">
                <div class="col-md-4 small-cover-pic">
                    <!--left cover-->
                    <div class="small-cover-pic-top" ng-controller="ProfileImageCrop">
                        <div class="overlay text-center" ng-if="userId == loggedInUserId">
                            <a href class="btn btn-primary" ng-click="CropProfileLeft()" id="ProfileLeft">Change Left Cover</a>
                        </div>
                        <div>
                            <img ng-src="{{leftCoverImage}}" src="http://placehold.it/393x220"
                                 class="img-responsive thumbnail"/>
                        </div>
                    </div>
                    <!--Bottom cover-->
                    <div class="small-cover-pic-bottom" ng-controller="ProfileImageCrop">
                        <div class="overlay text-center" ng-if="userId == loggedInUserId">
                            <a href class="btn btn-primary" ng-click="CropProfileBottom()" id="ProfileBottom">Change Bottom Cover</a>
                        </div>
                        <div>
                            <img ng-src="{{bottomCoverImage}}" src="http://placehold.it/393x220"
                                 class="img-responsive thumbnail" style="min-height: 216px;"/>
                        </div>
                    </div>
                </div>
                <!--Right Cover-->
                <div class="col-md-8 large-cover-pic custom-user-right-coverpic" ng-controller="ProfileImageCrop">
                    <div class="overlay text-center" ng-if="userId == loggedInUserId">
                        <a href class="btn btn-primary" ng-click="CropProfileRight()" id="ProfileRight">Change Right Cover</a>
                    </div>
                    <img ng-src="{{rightCoverImage}}" src="http://placehold.it/803x452"
                         class="img-responsive thumbnail"/>
                </div>
            </div>
            <div class="col-md-12 user-details">
                <div class="row coralbg white custom-profile-userpic">
                    <div class="col-md-3 top-margin">
                        <div class="user-image biothumb" ng-controller="ProfileImageCrop">
                            <img ng-src="{{profileImage}}" src="http://placehold.it/300x200"
                                 class="img-responsive thumbnail" style="min-height: 200px;"/>

                            <div class="overlay fileUpload" ng-if="userId == loggedInUserId">
                                <ul class="list-unstyled text-center">
                                    <li><a href ng-click="CropEvezsiteImage()" id="CropEvezsiteImage">Update Myzsite
                                        Image</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-9 no-pad">
                        <div class="col-md-12 user-pad-profile custom-profile-user-details">
                        <!--name-->
                        <h3 style="text-transform: capitalize;">{{ firstname }} {{ lastname }}</h3>
                        <!--Location-->
                        <div ng-hide="city == '' || country =='' || city == null || country == null">
                            <h4 style="text-transform: capitalize;"><i class="fa fa-location-arrow"></i>&nbsp;{{locationDetails}}</h4>
                        </div>
                        <!--job and company-->
                        <div ng-hide="designation == '' || organization =='' || designation == null || organization == null">
                            <h4 style="text-transform: capitalize;">
                                <i class="fa fa-briefcase"></i> {{designation}}&nbsp;&nbsp;{{connectingtext}}&nbsp;&nbsp;{{organization}}
                            </h4>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="col-md-2 well text-center" id="user-profile" ng-controller="community">
                                    <h3>{{friendList.length}}</h3>
                                    <h4>Connects</h4>
                                </div>

                                <div class="col-md-2 well text-center" id="user-profile" ng-controller="circles">
                                    <h3>{{myCircles.length}}</h3>
                                    <h4>Circles</h4>
                                </div>
                                <div class="col-md-2 well text-center" id="user-profile" ng-controller="eventCtrl">
                                    <h3>{{myEvents.length}}</h3>
                                    <h4>Events</h4>
                                </div>
                                <div class="col-md-2 well text-center" id="user-profile" ng-controller="blogCntrl">
                                    <h3>{{myBlogs.length}}</h3>
                                    <h4>Blogs</h4>
                                </div>
                                <div class="col-md-2 well text-center" id="user-profile" ng-controller="albums">
                                    <h3>{{myAlbums.length}}</h3>
                                    <h4>Gallery</h4>
                                </div>
                                <div class="col-md-2 well text-center" id="user-more">
                                    <h3><i class="fa fa-circle"></i>
                                        <i class="fa fa-circle"></i>
                                        <i class="fa fa-circle"></i>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <h3>About Me</h3>

                    <p style="text-align:justify;padding-bottom:10px;">{{ aboutme }}</p>
                </div>
            </div>
            <div class="col-md-2 user-menu-btns"
                 ng-include src='"partials/profile/profileLeftMenu.html"'>

            </div>

            <!--summary-->
            <div class="col-md-10 col-xs-12 user-menu user-pad">
                <!-- <h3 style="font-size: 1.5em">
                    My Profile
                </h3> -->
                <div class="col-md-12 panel-heading" style="padding-left: 0px;padding-right: 0px;">
                    <div class="fragment">
                        <a><span id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'>x</span></a>
                        <h4 style="color: #369;font-family:'Raleway', sans-serif;font-size:18px;font-weight:500;">My Profile</h4>
                        <p>
                            This is you, in all your glory! Go ahead, share what you want to share, you decide on what to make visible and to whom! You can add data, images through Create and Edit Profile tab.
                        </p>
                    </div>
                </div>
            <div class="col-md-12 col-xs-12 no-padding" ng-controller="profileDetailsCtrl">
                <div class="col-md-4 col-xs-12 summary-box-outer" style="margin-top:10px;">
                    <div class="col-md-12 col-xs-12 no-padding summary-box">
                        <div class="col-md-12 col-xs-12 no-padding summary-header">
                            <h5><i class="fa fa-user"></i>&nbsp;&nbsp;Contact & Basic Info</h5>
                        </div>
                        <div class="col-md-12 col-xs-12 no-padding summary-content">
                            <br><p><i class="fa fa-user"></i>&nbsp;&nbsp;{{profile.firstname}} {{profile.lastname}}</p>
                            <p><i class="fa fa-envelope"></i>&nbsp;&nbsp;{{profile.email}}</p>
                            <p ng-if="profile.phone"><i class="fa fa-phone"></i>&nbsp;&nbsp;{{profile.phone}}</p>
                            <p ng-if="profile.streetAddress"><i class="fa fa-home"></i>&nbsp;&nbsp;{{profile.streetAddress}}</p>
                            <p  ng-if="profile.state && profile.city"><i class="fa fa-location-arrow"></i>&nbsp;&nbsp;{{profile.state}},{{profile.city}}</p>                    
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-xs-12 summary-box-outer" style="margin-top:10px;">
                    <div class="col-md-12 col-xs-12 no-padding summary-box">
                        <div class="col-md-12 col-xs-12 no-padding summary-header">
                            <h5><i class="fa fa-briefcase"></i>&nbsp;&nbsp;Work & Education</h5>
                        </div>
                        <div class="col-md-12 col-xs-12 no-padding summary-content">
                            <br><p ng-if="profile.designation1 && profile.name_organization1"><i class="fa fa-briefcase"></i>&nbsp;&nbsp;{{profile.designation1}} @ {{profile.name_organization1}}</p>
                            <p ng-if="profile.education1"><i class="fa fa-graduation-cap"></i>&nbsp;{{profile.education1}}</p>
                            <p ng-if="profile.skills"><i class="fa fa-bookmark"></i>&nbsp;&nbsp;{{profile.skills}}</p>                          
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 summary-box-outer" style="margin-top:10px;">
                    <div class="col-md-12 col-xs-12 no-padding summary-box">
                        <div class="col-md-12 col-xs-12 no-padding summary-header">
                            <h5><i class="fa fa-yelp"></i>&nbsp;&nbsp;Hobbies</h5>
                        </div>
                        <div class="col-md-12 col-xs-12 no-padding summary-content">
                            <br><p ng-if="enhancedProfile.hobbies"><i class="fa fa-yelp"></i>&nbsp;&nbsp;{{enhancedProfile.hobbies}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-xs-12 summary-box-outer" style="margin-top:10px;">
                    <div class="col-md-12 col-xs-12 no-padding summary-box">
                        <div class="col-md-12 col-xs-12 no-padding summary-header">
                            <h5><i class="fa fa-angellist"></i>&nbsp;&nbsp;Achievements & Press Articles</h5>
                        </div>
                        <div class="col-md-12 col-xs-12 no-padding summary-content">
                            <br><p ng-if="enhancedProfile.achievements"><i class="fa fa-angellist"></i>&nbsp;&nbsp;{{enhancedProfile.achievements}}</p>                      
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 summary-box-outer" style="margin-top:10px;">
                    <div class="col-md-12 col-xs-12 no-padding summary-box">
                        <div class="col-md-12 col-xs-12 no-padding summary-header">
                            <h5><i class="fa fa-thumb-tack"></i>&nbsp;&nbsp;Online Presence</h5>
                        </div>
                        <div class="col-md-12 col-xs-12 no-padding summary-content">
                            <div class="col-md-3 col-xs-2 social-icons" ng-if="onlineProfile.facebook">
                                <a href="{{onlineProfile.facebook}}" class="btn btn-social-icon btn-facebook">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </div>
                            <div class="col-md-3 col-xs-2 social-icons" ng-if="onlineProfile.linkedin">
                                <a href="{{onlineProfile.linkedin}}" class="btn btn-social-icon btn-linkedin">
                                    <span class="fa fa-linkedin"></span>
                                </a>
                            </div>
                            <div class="col-md-3 col-xs-2 social-icons" ng-if="onlineProfile.googlePlus">
                                <a href="{{onlineProfile.googlePlus}}" class="btn btn-social-icon btn-pinterest">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </div>
                            <div class="col-md-3 col-xs-2 social-icons" ng-if="onlineProfile.pinterest">
                                <a href="{{onlineProfile.pinterest}}" class="btn btn-social-icon btn-pinterest">
                                    <span class="fa fa-pinterest"></span>
                                </a>
                            </div>
                            <div class="col-md-3 col-xs-2 social-icons" ng-if="onlineProfile.twitter">
                                <a href="{{onlineProfile.twitter}}" class="btn btn-social-icon btn-twitter">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </div>
                            <div class="col-md-3 col-xs-2 social-icons" ng-if="onlineProfile.website">
                                <a href="{{onlineProfile.website}}" class="btn btn-info">
                                    <span class="fa fa-weibo"></span>
                                </a>
                            </div>
                            <div class="col-md-3 col-xs-2 social-icons" ng-if="onlineProfile.ecommerce">
                                <a href="{{onlineProfile.ecommerce}}" class="btn btn-info">
                                  <span class="glyphicon glyphicon-shopping-cart"></span>
                                </a>
                            </div>
                            <div class="col-md-3 col-xs-2 social-icons" ng-if="onlineProfile.otherSocial">
                                <a href="{{onlineProfile.otherSocial}}" class="btn btn-info">
                                    <span class="glyphicon glyphicon-option-horizontal"></span>
                                </a>
                            </div>
                            <div class="col-md-3 col-xs-2 social-icons" ng-if="onlineProfile.youtube">
                                <a href="{{onlineProfile.youtube}}" class="btn btn-social-icon btn-youtube">
                                    <span class="fa fa-youtube"></span>
                                </a>
                            </div>               
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12 summary-box-outer" style="margin-top:10px;">
                    <div class="col-md-12 col-xs-12 no-padding summary-box">
                        <div class="col-md-12 col-xs-12 no-padding summary-header">
                            <h5><i class="fa fa-tencent-weibo"></i>&nbsp;&nbsp;Talents</h5>
                        </div>
                        <div class="col-md-12 col-xs-12 no-padding summary-content">
                            <br><p ng-if="enhancedProfile.talents"><i class="fa fa-tencent-weibo"></i>&nbsp;&nbsp;{{enhancedProfile.talents}}</p>                      
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-xs-12 summary-box-outer" style="margin-top:10px;">
                    <div class="col-md-12 col-xs-12 no-padding summary-box" style="margin-bottom:10px;">
                        <div class="col-md-12 col-xs-12 no-padding summary-header">
                            <h5><i class="fa fa-puzzle-piece"></i>&nbsp;&nbsp;Area Of Intrests</h5>
                        </div>
                        <div class="col-md-12 col-xs-12 no-padding summary-content">
                            <br><p ng-if="favorites.interests"><i class="fa fa-puzzle-piece"></i>&nbsp;&nbsp;{{favorites.interests}}</p>      
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-xs-12 summary-box-outer" style="margin-top:10px;">
                    <div class="col-md-12 col-xs-12 no-padding summary-box" style="margin-bottom:10px;">
                        <div class="col-md-12 col-xs-12 no-padding summary-header">
                            <h5><i class="fa fa-sitemap"></i>&nbsp;&nbsp;You Online Mentions</h5>
                        </div>
                        <div class="col-md-12 col-xs-12 no-padding summary-content">
                            <br>
                            <p><i class="fa fa-sitemap"></i>&nbsp;&nbsp;<a href="http://indiatoday.intoday.in/story/varsha-anand-avaya-india-communications-company-business-communication/1/163299.html">http://indiatoday.intoday.in/story/varsha-anand-avaya-india-communications-company-business-communication/1/163299.html</a></p>      
                        </div>
                    </div>
                </div>

                

            </div>
            </div>
            <!--summary ends-->
            
        </div>
    </div>
</div>
<script type="text/ng-template" id="leftProfilePicUploadTemplateId">
    <div class="ngdialog-buttons popuptemplate" ng-controller="profileCtrl">
        <a type="file" name="image" class="btn btn-default" ngf-select ngf-change="onFileSelect($files)">Choose
            Image</a>
        <image-cropper image="{{image}}"
                       dest-width="640"
                       dest-height="480"
                       show-controls="showControls"
                       cropped-image="imageResult"
        ></image-cropper>
    </div>
</script>

<!--Left Cover Image-->
<script type="text/ng-template" id="CropLeftImage">
    <div class="ngdialog-buttons popuptemplate">
        <b>Crop Left Cover Image</b>
        <br/>
        <form>
            <div class="fileUpload btn btn-primary btn-block">
                <span><i class="fa fa-camera"></i> Select Left Cover</span>

                <input type="file"
                       class="upload"
                       ng-file-select="onFileSelect($files)"
                       ng-model="slideImage.src">
            </div>
            <b>Preview:</b>
            <br/>
            <i ng-hide="slideImage.src">No body image chosen</i>

            <ng-crop data-src="slideImage.src"
                     ratio={{slideImage.cropConfig.aspectRatio}}
                     box-width={{slideImage.boxWidth}}
                     selected='slideImage.selected(cords)'>
            </ng-crop>
            <br/>

            <a ng-click="LeftCoverImage()" class="btn btn-primary pull-right" style="width:120px;">Upload 
            <span style="position:absolute;margin-top:10px;margin-left:18px;" us-spinner="{radius:6, width:2, length: 2,color: '#FFFFFF'}" spinner-key="spinner-1" spinner-start-active="false"></span>
            </a>
            <p style="color:#0992F0">Please crop the image before upload</p>
            <br/>
        </form>
    </div>
</script>

<!--Bottom Cover Image-->
<script type="text/ng-template" id="CropBottomImage">
    <div class="ngdialog-buttons popuptemplate">
        <b>Crop Bottom Cover Image</b>
        <br/>

        <form>
            <div class="fileUpload btn btn-primary btn-block">
                <span><i class="fa fa-camera"></i> Select Bottom Cover</span>

                <input type="file"
                       class="upload"
                       ng-file-select="onFileSelect($files)"
                       ng-model="slideImage.src">
            </div>
            <b>Preview:</b>
            <br/>
            <i ng-hide="slideImage.src">No body image chosen</i>

            <ng-crop data-src="slideImage.src"
                     ratio={{slideImage.cropConfig.aspectRatio}}
                     box-width={{slideImage.boxWidth}}
                     selected='slideImage.selected(cords)'>
            </ng-crop>
            <br/>
            <a ng-click="BottomCoverImage()" class="btn btn-primary pull-right" style="width:120px;">Upload
            <span style="position:absolute;margin-top:10px;margin-left:18px;" us-spinner="{radius:6, width:2, length: 2,color: '#FFFFFF'}" spinner-key="spinner-1" spinner-start-active="false"></span>
            </a>
            <p style="color:#0992F0">Please crop the image before upload</p>
            <br/>
        </form>
    </div>
</script>

<!--Right cover Image-->
<script type="text/ng-template" id="CropRightImage">
    <div class="ngdialog-buttons popuptemplate">
        <b>Crop Right Cover Image</b>
        <br/>

        <form>
            <div class="fileUpload btn btn-primary btn-block">
                <span><i class="fa fa-camera"></i> Select Right Cover</span>

                <input type="file"
                       class="upload"
                       ng-file-select="onFileSelect($files)"
                       ng-model="slideImage.src">
            </div>
            <b>Preview:</b>
            <br/>
            <i ng-hide="slideImage.src">No body image chosen</i>

            <ng-crop data-src="slideImage.src"
                     ratio={{slideImage.cropConfig.aspectRatio}}
                     box-width={{slideImage.boxWidth}}
                     selected='slideImage.selected(cords)'>
            </ng-crop>
            <br/>
            <a ng-click="RightCoverImage()" class="btn btn-primary pull-right" style="width:120px;">Upload
            <span style="position:absolute;margin-top:10px;margin-left:18px;" us-spinner="{radius:6, width:2, length: 2,color: '#FFFFFF'}" spinner-key="spinner-1" spinner-start-active="false"></span>
            </a>
            <p style="color:#0992F0">Please crop the image before upload</p>
            <br/>
        </form>
    </div>
</script>

<!--Profile cover Image-->
<script type="text/ng-template" id="EvezsiteImage">
    <div class="ngdialog-buttons popuptemplate">
        <b>Crop Profile Image</b>
        <br/>

        <form>
            <div class="fileUpload btn btn-primary btn-block">
                <span><i class="fa fa-camera"></i> Select Profile image</span>

                <input type="file"
                       class="upload"
                       ng-file-select="onFileSelect($files)"
                       ng-model="slideImage.src">
            </div>
            <b>Preview:</b>
            <br/>
            <i ng-hide="slideImage.src">No body image chosen</i>

            <ng-crop data-src="slideImage.src"
                     ratio={{slideImage.cropConfig.aspectRatio}}
                     box-width={{slideImage.boxWidth}}
                     selected='slideImage.selected(cords)'>
            </ng-crop>
            <br/>
            <a ng-click="UpdateEvezsiteImage()" class="btn btn-primary pull-right" style="width:120px;">Upload
            <span style="position:absolute;margin-top:10px;margin-left:18px;" us-spinner="{radius:6, width:2, length: 2,color: '#FFFFFF'}" spinner-key="spinner-1" spinner-start-active="false"></span>
            </a>
            <p style="color:#0992F0">Please crop the image before upload</p>
            <br/>
        </form>
    </div>
</script>