<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron alert alert-dismissible fade in inner-jumbotron shadow " id="no-border-round" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <h1>Jobs</h1>

    <p style="text-align:justify">This is resourcing platform. If you are in business, you can use it for hiring talent. As a working professional you can use this platform to find an opportunity of your choice. Customized categorization helps you identify suitable opportunity.

    <!-- <p>For more visit W’Opportunity FAQs. <a href="#evezownfaq">Click here</a></p> -->

</div>
<div class="col-md-12" id="postingArea" style="margin-bottom:20px;">
	<div class="col-md-12 text-center" style="color: #800080;margin: 20px;">
        <h1>Coming soon</h1>
    </div>

</div>


