<div class="col-md-12 blog-content-section">
    <article class="blog-content-details">
        <div class="col-md-12 eve-panel-body" style="padding: 5px">
            <div class="row">
                <div class="col-md-3">
                    <a class="btn btn-link" ><h3>Taking matters in our own hands</h3></a>
                </div>   
            </div>
        </div>
        <!-- <div>
            <figure class="text-center">
                <div class="col-sm-12" style="background: #000000; width: 100%; padding: 2px">
                    <img ng-src="" alt=""
                         class="img-responsive"/>
                </div>
            </figure>
            <section>
                <header>
                    <h2><a href="" rel="bookmark"
                           title="" property="name"><p>hello</p></a></h2>
                </header>
                <div class="clearfix"></div>
            </section>
        </div> -->
        <ul class="pmd clearfix" style="padding-left: 0px">
            <li class="a">Article by <a rel="author" class="poa" href="">Mysite</a>
            </li>
            <li class="date">13/08/2015 18:41:56<span
                    class="glyphicon glyphicon-time"></span>
            </li>
            <li class="tags">
                <a ><span class="glyphicon glyphicon-tag"></span>
                    Women Safety</a>
            </li>
        </ul>
        <ANY>
            <div class="staticpages">
            <i>“We have reached a level where women on the streets are being killed.” – Mehri Amiri.</i>
            <p>The matter-of-fact tone of this quote speaks of an evident horror that is much stranger than fiction. Today, crimes against women seem to even have a special space reserved for them in the newspaper – a shameful space that’s calmly digested with every sip of the morning tea. Such is the new extent of its ubiquity.</p>
            <p>While laws have been optimized, postulations acknowledged, decisions declared, regulations regulated and verdicts encored but still the women of today dread the possibilities of “male audacity”. They dread the vehement ignorance and the assault of those virile eyes and words, because the things that can happen to a woman can only happen to her; she would know it but would he?</p>
            <p>While the ‘mindset’ which has been established and enforced over centuries will take time to change, there are some things we can do on our own. The idea behind this article is to reach out to every woman out there, who still thinks she’s trapped in her helpless world of insecurities with practical guidelines on self-defence and some simple do’s and don’ts that can prove to be the difference between security and tragedy. We believe it’s better to focus on “if it happens”, rather than dwelling on “What if that happens”. So here they are:</p>
            <ol>
                <li>The back tails of the trunk of a car is easy to break; if you’re thrown in, just break them and wave, everyone will be able to see you except the driver, which; is a good thing.</li>
                <li>When you’re unsure of the situation keep the police number in speed dial, you don’t need to look for the number while you call for help.</li>
                <li>If you’re alone inside a big building, always take the elevator. Stairs are good for health, but may not be such a good idea if no one is around.</li>
                <li>Sometimes sympathy is a choice. There is no face that says I’m good and there is no help that only a lone woman can provide to a stranger. Judge your call to help, start by keeping distance.</li>
                <li>Use your head. We mean literally use it, when in close contact with the attacker, the skull bone can pack a good blow on the face. It might not knock the attacker out but you will get your buffer time to run and shout for HELP!!</li>
                <li>Sit close to the seat near the door and the driver during late night bus rides, back seats could make you “late”.</li>
                <li>Always remember that if you can bear a child. When in a situation, fight it and fight it hard.</li>
                <li>Cell phones are not just for selfies. Carry one and keep all the safety apps on!</li>
                <li>Keep basic things you need besides makeup, in your car, like a blanket, shoes, flashlight etc.</li>
                <li>“I can’t take this; I’m going out, I need a walk” & the door slams; the temperament works but not after midnight. Anger is understood but stupidity has consequences.</li>
                <li>Where it’s dark and you’re being attacked scream “FIRE” it works better than “HELP”, people might not want to indulge in a situation late night but fire; the chances of humanity is better than heroism; this little white lie can save your life.</li>
                <li>Everybody is not out to kill you; don’t be afraid to ask for help.</li>
                <li>If you’re being followed don’t panic; this could trigger the attacker. Keep calm. If you’re on foot knock the first house you come across and if you’re driving don’t park near your house, but let it tail chase you till the nearest police station.</li>
            </ol>
            <p>Danger is everywhere these days. And while we wait for the roads in the cities and towns of this nation to be safer for women, let’s take matter into our own hands and do our bit to ensure our own safety. But whenever in a situation make sure the screams and tears are not the only things that can save you.</p>
            <p>Take good care</p>
        </div>
        </ANY>
    </article>
</div>