<div class="col-md-12 blog-content-section">
    <article class="blog-content-details">
        <div class="col-md-12 eve-panel-body" style="padding: 5px">
            <div class="row">
                <div class="col-md-3">
                    <a class="btn btn-link" ><h3>Women’s Health – Preventive Care</h3></a>
                </div>   
            </div>
        </div>
        <!-- <div>
            <figure class="text-center">
                <div class="col-sm-12" style="background: #000000; width: 100%; padding: 2px">
                    <img ng-src="" alt=""
                         class="img-responsive"/>
                </div>
            </figure>
            <section>
                <header>
                    <h2><a href="" rel="bookmark"
                           title="" property="name"><p>hello</p></a></h2>
                </header>
                <div class="clearfix"></div>
            </section>
        </div> -->
        <ul class="pmd clearfix" style="padding-left: 0px">
            <li class="a">Article by <a rel="author" class="poa" href="">mysite</a>
            </li>
            <li class="date">12/08/2015 18:41:56<span
                    class="glyphicon glyphicon-time"></span>
            </li>
            <li class="tags">
                <a ><span class="glyphicon glyphicon-tag"></span>
                    Health</a>
            </li>
        </ul>
        <ANY>
        <div class="staticpages">
            <p>For a woman her good health means her healthy family, living in a healthy atmosphere, be it home, her office or the society. It makes complete sense when it’s said “a healthy woman makes a healthy home, society and a country”. So if this notion of good health successfully inspires every woman then every future has a brighter prospect, starting from the womb to a prosperous population one day. Though this theory and concept sounds amazing but the ground reality still has sand grains amount of challenges in every society, be it urban or rural, women of today are still unaware of the risks involved in their daily routines and their personal lifestyle.</p>
            <p>In fact, preventive care is one of the most important aspect one needs to have a clear idea about. Before treating any disease or curing their symptoms, preventive care is all about preventing those diseases or in direct words by Hugh R. Leavell and E. Gurney Clark, preventive cure is "the science and art of preventing disease, prolonging life, and promoting physical and mental health and efficiency". Here are some of the preventive cure measures to be acknowledged in order to prevent some very serious ailments; they’ve been categorized as per the age requirements:</p>
            <ol>
                <li>Vaccinations and Immunizations: The immunizations given below should be given to every child after birth – before 18 years. They all have their different schedules that depend upon the type of vaccine. Your paediatrician or the family physician will give you the perfect schedules required for them.
                    <ul>
                        <li>MMR – Measles, Mumps & Rubella</li>
                        <li>Chicken Pox (Varicella)</li>
                        <li>Hepatitis B</li>
                        <li>DTap – Diphtheria, Tetanus and Acellular Pertussis</li>
                        <li>Td- Adult Diphtheria and Tetanus</li>
                        <li>Polio</li>
                        <li>HIB – a combined vaccine for Diphtheria, Pertussis,Tetanus & Hemophilus.</li>
                    </ul>
                </li>
                <li>Pap Smears:  It’s a method of cervical screening used for examining abnormal cell growth. It’s always recommended that at 18 years of age a woman should have a Pap smear examination and should repeat it every three years.</li>
                <li>Diphtheria – Tetanus Immunization and Vaccination boosters every 10 years.</li>
                <li>40 to 49 years: Health maintenance evaluation every two years, Pap Smear every three years and starting 40 Mammogram test every 1-2 years. Mammography is an X-Ray used to diagnose and locate tumors of the breasts.</li>
                <li>After 45 and then every 5 years from then on, tests for cholesterol are also strongly advised.</li>
                <li>After 50 to 64 years Sigmoidoscopy every five years; Sigmoidoscopy is a test done to examine colorectal cancer, colon polyps and other related dysfunctions.</li>
            </ol>
            <p>These are some of the important preventive cure measures that can help you prevent some serious diseases. The major endeavor towards good health is your consciousness, so your knowledge is your safety and your action will determine it. Stay healthy and spread it around.</p>
        </div>
        </ANY>
    </article>
</div>