<div class="col-md-12 blog-content-section">
    <article class="blog-content-details">
        <div class="col-md-12 eve-panel-body" style="padding: 5px">
            <div class="row">
                <div class="col-md-3">
                    <a class="btn btn-link" ><h3>Get your kids into eating food they like the way you like...</h3></a>
                </div>   
            </div>
        </div>
        <!-- <div>
            <figure class="text-center">
                <div class="col-sm-12" style="background: #000000; width: 100%; padding: 2px">
                    <img ng-src="" alt=""
                         class="img-responsive"/>
                </div>
            </figure>
            <section>
                <header>
                    <h2><a href="" rel="bookmark"
                           title="" property="name"><p>hello</p></a></h2>
                </header>
                <div class="clearfix"></div>
            </section>
        </div> -->
        <ul class="pmd clearfix" style="padding-left: 0px">
            <li class="a">Article by <a rel="author" class="poa" href="">Mysite</a>
            </li>
            <li class="date">12/08/2015 18:41:56<span
                    class="glyphicon glyphicon-time"></span>
            </li>
            <li class="tags">
                <a ><span class="glyphicon glyphicon-tag"></span>
                    Food</a>
            </li>
        </ul>
        <ANY>
            <div class="staticpages">
            <i>Try making the restaurant items at home with great substitutes from your own kitchen…. which guarantees much higher nutritional value, freshness and quality of ingredients, proportion of various food groups without compromising taste….</i>
            <p>A few quick examples:</p>
            <ol>
                <li>Load salad bowl with any combination of either thin and long cut cabbage, carrots, capsicum, onion, apples and enhance with “cold Indian tadka”, salt, honey, lime and pepper.</li>
                <li>Make any combination of variety of salad vegetables cut in shapes of small cubes and add either home-made paneer cubes or “pressure cooked with salt, turmeric and hing – chhole (kabuli chana)”.  Mix with olive oil,salt, pepper, lime juice, homey (or sweet fresh fruit juice).</li>
                <li>previous day’s unwanted rotis – microwave for 1.5 mins each (or until) crisp – use for hard tachos or make large pieces and serve as sev-puri replacing the “fried” puris with these tori pieces.</li>
                <li>old vegetable leftovers – just mix with a couple of bouled potatoes, chat masala and make into patties or make stuffed veg paraths…</li>
                <li>White sauce – make at home butter replaced with home-made white butter and maida replaced by “atta”.  The cheese also you can reduce almost by half compared to what you get outside without compromising on taste.</li>
            </ol>
        </div>
        </ANY>
    </article>
</div>