<div class="col-md-12 blog-content-section">
    <article class="blog-content-details">
        <div class="col-md-12 eve-panel-body" style="padding: 5px">
            <div class="row">
                <div class="col-md-3">
                    <a class="btn btn-link" ><h3>Tips from a wannabe trekker</h3></a>
                </div>   
            </div>
        </div>
        <!-- <div>
            <figure class="text-center">
                <div class="col-sm-12" style="background: #000000; width: 100%; padding: 2px">
                    <img ng-src="" alt=""
                         class="img-responsive"/>
                </div>
            </figure>
            <section>
                <header>
                    <h2><a href="" rel="bookmark"
                           title="" property="name"><p>hello</p></a></h2>
                </header>
                <div class="clearfix"></div>
            </section>
        </div> -->
        <ul class="pmd clearfix" style="padding-left: 0px">
            <li class="a">Article by <a rel="author" class="poa" href="">Mysite</a>
            </li>
            <li class="date">12/08/2015 18:41:56<span
                    class="glyphicon glyphicon-time"></span>
            </li>
            <li class="tags">
                <a ><span class="glyphicon glyphicon-tag"></span>
                    Hobbies</a>
            </li>
        </ul>
        <ANY>
            <div class="staticpages">
            <p>I am so glad to hear that you are taking up trekking. It is a wonderful hobby and it will give you a lot of joy. But before you begin, a few words of advice. Though I myself am a beginner to this, if trekking is not taken up correctly and gradually, you might get discouraged. So want to share a few things from my experience.</p>
            <p>To say that someone is taking up trekking is not an entirely true statement. We all were born discoverers. As children, we all were discoverers. Somewhere along the line, we lost it. That discoverer needs to be rediscovered. Now when you take up trekking, that is precisely what you are doing – rediscovering the discoverer that was always there within you.</p>
            <b>Types of Treks</b>
            <p>There are different kinds of treks –day treks, weekend treks, longer duration circular treks.</p>
            <p>Start with a day trek. Delaware WaterGap is good. It will gradually ease you into the wonders of this sport. You will get away from the man-made clutter and into the lap of Mother Nature. Use this time to get to know her, to appreciate her bounty, the greenery, the clean fresh air, the song of the birds, the streams and the lakes. And then a feeling of gratefulness comes, just how much we are blessed by her.</p>
            <p>Use this time to be with yourself. There will be plenty of sounds of Nature but it will not be a noise. It is the noise that creates problems. The Nature sounds are always in harmony. And when the external noise disappears, we hear our own song that is in our hearts. I think it was Frost who said</p>
            <p>The fault must partly be in me,</p>
            <p>The bird is not to blame for its key,</p>
            <p>For there must be something wrong,</p>
            <p>In wanting to silence any song….</p>
            <p>The din and the turmoil of our daily rut tries to silence that song that is within our hearts. The noise is so loud and the pace is so fast that we don’t even hear that song. Take this opportunity to listen to it.</p>
            <p>Then gradually move to the longer duration treks. Then you can do the Canyon. But do not go to longer duration treks in the beginning. If the body is not used to trekking, at the end of the day, instead of hearing your heart’s song, all you would hear is the complaining joints :) So before going for longer duration treks, do a few day or weekend treks. Then move on to the longer treks.</p>
            <b>Long duration treks</b>
            <p>One of the first discovery you make on a longer duration trek is – the joy you experience is inversely proportional to the baggage you are carrying. I learnt this the hard way. My first trek was Sar Pass and because it was my first trek, I carried a lot of things that were later proved to be totally unnecessary. May be it is a ‘First Trek Syndrome’. I think everyone does it. But I soon realized that the extra baggage is tiring me out and interfering with the real joy of trekking. So I literally gave the things away. When the baggage got lighter, the trek became easier and the joy so much more. So the joy you derive out of the journey is indeed inversely proportional to the ‘baggage’ you carry. I have applied the same principle hence, not only to my subsequent treks but also to life.</p>
            <p>On longer duration trek you also realize how little you really need to be truly happy. Clean fresh water, clean fresh air and clean healthy food, good family and friends with you along the way and one healthy passion is all that is really needed.</p>
            <p>In trekking, there are treks and then there are the Himalayas. Trekking in the Himalays is an entirely different experience.</p>
            <p>The first thing that happens is the head automatically bows down. It is in part because of the difficult terrain but I suspect it is also because of the majesty of the mountains. It is almost like being in presence of a serene and majestic individual. The pettiness of the mind slowly starts evaporation. The mind starts becoming pure and the head bows down in sheer humility.</p>
            <b>Set your own pace</b>
            <p>You also learn that to keep your own pace is so much wiser than to ’compete’ with your fellow trekkers. I remember on some Himalayan treks, some trekkers were going very fast on the first day. By the second and the third day, they got so exhausted that they were about to give up. So you learn to keep your own pace, to take frequent breaks, to enjoy the way itself rather than only the destination. Smell the wildflowers along the way, enjoy the beautiful sites and the sounds and before you know, the journey itself becomes the destination.</p>
            <p>You also learn that rationality is important. You will use it for a lot of things like to decide what to take, what not to take, how to pack, how not to pack etc. There is a whole lot of scientific rational thought behind these seemingly simple acts. And mountains sometimes don’t forgive mistakes. So safety precautions become very important. And for that SRT (scientific rational thought, not the acronym for the God of cricket J), is a must. So use SRT to make your preparations.</p>
            <p>But once the basic preparations and the safety measures are in place and you begin your trek, you realize something much more important. That there are times when to use SRT, but more importantly, when to leave it behind. While watching the Sun set on the golden peaks, if one doesn’t experience the oneness with that majesty and serenity and only thinks about ‘A planet rotating around a star is doing this. Happens every day. So what?’ Or some such equally stupid rational thoughts, then I think the entire joy of life will be missed. So yes, SRT is important but the wisdom when to use SRT and when not to is much more important.</p>
            <b>Help. Seek Help</b>
            <p>There are times when your co-trekkers need help and you are in fortunate position to give it. Cherish those times because at that instance, the Providence wants you to be her emissary in propagating the good will, the peace, the harmony that should exist among fellow human beings. Do what is needed and be grateful that you were given this chance and the ability. That person may be a complete stranger. You may not even meet him again in this lifetime. But the joy and satisfaction you will get out of this will be so enriching. But also know that it is not you. It is just the Providence, using you as a conduit, to promote peace and good will and harmony.</p>
            <p>And then there are times when we need help. I used to be so conceited that I never thought I would need help till my chest injury. And when something like that happens, the first reaction was – how can I ask for help? But when things get bad and there is no other alternative but to ask for help and sometimes even after asking, the right help doesn’t come. Those are the times which test and teach us the most in life. That when things are so bleak, that when we are about to give up, that when going even one step further seems impossible….., that is the time she sends her new emissary to give us a helping hand. To guide us to a safer place. And when we do reach the safe harbor and look back, we realize that it was foolish on our part to doubt in the first place. And this knowledge is faith. It is beyond reason. It is beyond SRT. In fact, one of the greatest assets one can have on trek and in life is the faith.</p>
            <p>The current paradigm is ‘Life is a race’. It is true that some amount of healthy competition is necessary and also is fun.</p>
            <p>But when race becomes a rat race, it becomes a problem because even if one wins a rat race, he still is a rat. Instead, if we change the paradigm a bit and change it to – life is a trek. (For trek, you can substitute any other activity that you really and truly enjoy.) That we stay healthy, stay happy, stay humble, do what we love, help each other, have patience and faith that all will be well….</p>
            <p>So trekking did try to teach me many things. As always, I have been a bad student and haven’t learnt the lessons well. I am still learning.</p>
            <p>But you have been a good student throughout and I am sure you will do great in this new adventure. Nature will reveal different secrets to you. Teach you different lessons. First thing you must take with you is an open mind. Take adequate safety precautions and then just go with the flow. Enjoy. Don’t be discouraged by temporary setbacks. Don’t hang your trekking shoes. Keep them out and keep them in continuous use. Enjoy!</p>
        </div>
        </ANY>
    </article>
</div>