<div ng-include src='"partials/evezplace/product_menu.html"' ng-controller="ProductMenuController"></div>

<ul class="breadcrumb" style="background: transparent; padding-left: 0px; margin-top: 10px;">
    <li><a href="#home">Home</a> <span class="divider"></span></li>
    <li><a href="#evezplace">Marketplace</a> <span class="divider"></span></li>
    <li><a href="#classifieds/browse">Browse Ads & Campaigns</a></li>
    <li class="active">{{classifiedDetails.title}}</li>
</ul>

<div ng-if="classifiedDetails.layout_type == 1" ng-include src='"views/classifieds/create/layout1_partial.html"'></div>

<div ng-if="classifiedDetails.layout_type == 2" ng-include src='"views/classifieds/create/layout2_partial.html"'></div>

<div ng-if="classifiedDetails.layout_type == 3" ng-include src='"views/classifieds/create/layout3_partial.html"'></div>

<div ng-if="classifiedDetails.layout_type == 4" ng-include src='"views/classifieds/create/layout4_partial.html"'></div>

<script type="text/ng-template" id="rfiClassifiedTemplateId">
    <div class="ngdialog-buttons popuptemplate">
        <h4 style="color: #692668; margin-bottom: 10px;">Ads & Campaigns Enquiry Form</h4>
        <input class="form-control" type="text" placeholder="Name"
               id="name" ng-model="formData.name" style="margin-bottom: 10px;"/>
        <input class="form-control" type="text" placeholder="Mobile Number"
               id="mobile" ng-model="formData.mobileNumber" style="margin-bottom: 10px;"/>
        <input class="form-control" type="text" placeholder="Email Id"
               id="email" ng-model="formData.email" style="margin-bottom: 10px;"/>
        <input class="form-control" type="text" placeholder="City"
               id="city" g-places-autocomplete ng-model="formData.city" style="margin-bottom: 10px;"/>

        <div class="form-group row">
            <div class="col-sm-8">
                <label for="isContactEmail" style="font-weight: 300"> Contact me on email?</label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox"
                       id="isContactEmail" class="pull-right" ng-model="formData.isContactEmail"
                       style="margin-bottom: 10px;"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-8">
                <label for="isContactMobile" style="font-weight: 300; width: 100%"> Contact me on mobile?</label>
            </div>
            <div class="col-sm-4">
                <input type="checkbox"
                       id="isContactMobile" class="pull-right" ng-model="formData.isContactMobile"
                       style="margin-bottom: 10px;"/>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <textarea class="form-control" rows="3" placeholder="Enter information"
                          ng-model="formData.classifiedEnquiryInfo" style="margin-bottom: 10px;"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <textarea class="form-control" rows="3"
                          placeholder="Explain your interest/conditions/any other feedback related to the classified"
                          ng-model="formData.classifiedFeedback" style="margin-bottom: 10px;"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <textarea class="form-control" rows="3" placeholder="Comments"
                          ng-model="formData.classifiedComments" style="margin-bottom: 10px;"></textarea>
            </div>
        </div>

        <button class="btn btn-primary pull-right form-control" type="button" ng-click="saveRfiDetails()">Submit</button>
    </div>
</script>
