<div class="jumbotron alert alert-dismissible inner-jumbotron shadow switch" id="no-border-round" role="alert">
    <button type="button" class="close " data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    
        <h1 style="color: #e51385">Step 2</h1>

        <p>Select the type of store you prefer. Provide your contact details and billing information. Upload the signed copy of the contract. <a href="" style="text-decoration:none;">Click here</a> to know more about contract document</p>
</div>

<ul class="breadcrumb create-store-breadcrumb">
    <li><a href="#evezplace">MarketPlace</a></li>
    <li><a href="#whatdoiget">Create Store Info</a></li>
    <li>Create Store Front</li>
</ul>

<div ng-include src='"partials/evezplace/create_store_menu.html"' ng-controller="CreateStoreController"></div>

<div class="create-store-section">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3 style="color: #e51385">Store Selection</h3>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <label for="storeType">What type of store would you like to select <b style="color:red;">*</b></label>
            </div>
            <div class="col-md-4">
                <select class="form-control"  id="sub-visibilities-type" id="storeType"
                        ng-options="subscription as subscription.name for subscription in storeSubscription"
                        ng-model="selectedSubscription" ng-change="SetStoreSubscription(selectedSubscription)" required>
                </select>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <label for="panNumber">Business Information</label>
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="PAN Number" class="form-control" id="panNumber" name="panNumber"
                       ng-model="formData.panNumber">
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
        <div class="form-group">
            <div class="col-md-offset-6 col-md-4">
                <input type="text" placeholder="TIN Number" class="form-control" id="tinNumber" name="tinNumber"
                       ng-model="formData.tinNumber">
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
        <div class="form-group">
            <div class="col-md-offset-6 col-md-4">
                <input type="text" placeholder="VAT Number" class="form-control" id="vatNumber" name="vatNumber"
                       ng-model="formData.vatNumber">
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
        <div class="form-group">
            <div class="col-md-offset-6 col-md-4">
                <input type="text" placeholder="Service Tax ID" class="form-control" id="serviceTaxId"
                       name="serviceTaxId" ng-model="formData.serviceTaxId">
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
        <div class="form-group">
            <div class="col-md-offset-6 col-md-4">
                <input type="text" placeholder="TAN Number" class="form-control" id="tanNumber"
                       name="tanNumber" ng-model="formData.tanNumber">
            </div>
        </div>
    </div>

<!--     <div class="row" style="margin-top: 10px; margin-bottom: 10px">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <label for="evezownContract">Contract with Evezown</br><span style="font-weight:normal;">(xml/Excel/Doc)</span></label>
            </div>
            <div class="fileUpload btn btn-primary col-md-2 col-md-offset-6" style="margin-left: 20px;">
                <span><i class="fa fa-file"></i> Select Contract</span>
                <input type="file" class="upload" id="evezownContract" name="evezownContract" nv-file-select="" ng-model="formData.evezownContract" uploader="uploader5"
                       single/>
            </div>
            <div ng-if="uploader5.queue.length > 0">
                
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" id="upload-cover3-bar"
                         ng-style="{ 'width': uploader5.progress + '%' }"></div>
                </div>
                
            </div>
        </div>
    </div> -->

    <div class="row" style="margin-top: 20px; margin-bottom: 10px">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <label for="billingName">Give your billing Info (required even
                    if you select a free store) <b style="color:red;">*</b></label>
            </div>
            <div class="col-md-4">
                <input type="text" placeholder="Name" class="form-control" id="billingName" name="billingName"
                       ng-model="formData.billingName" required>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
        <div class="form-group">
            <div class="col-md-4 col-md-offset-6">
                <textarea cols="3" placeholder="Address" class="form-control" id="billingAddress" name="billingAddress"
                          ng-model="formData.billingAddress" required/>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
        <div class="form-group">
            <div class="col-md-offset-6 col-md-4">
                <input type="text" onkeypress="return isNumberKey(event)" placeholder="Contact Number" class="form-control" id="billingContactNumber"
                       name="billingContactNumber" ng-model="formData.billingContactNumber" required minlength="10" maxlength="12">
            </div>
        </div>
    </div>
    <!--Contract with Evezown  -->
<div class="row" style="margin-top: 10px; margin-bottom: 10px">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <label for="isPhysicalStore">Contract Agreement</label>
            </div>
            <div class="col-md-4">
                <input  type="checkbox" value="1" ng-click="ContractDownload()" style="width: 16px; height: 16px" id="isPhysicalStore" name="isPhysicalStore" ng-model="formData.contract"> I accept the evezown agreement
            </div>
        </div>
    </div> 
<!--End of Contract with Evezown  -->

    <div class="row" style="margin-top: 40px">
        <div class="col-md-4 col-md-offset-6">
            <a href ng-click="SaveStoreStep2(formData)" class="btn btn-primary btn-lg btn-block" >Next <span class="fa fa-arrow-right"></span></a>
        </div>
    </div>

</div>
<script type="text/ng-template" id="ContractDownload">
    <div class="ngdialog-buttons popuptemplate">
        <div class="col-sm-12" >
            <h4>Evezown contract agreement</h4>
            <p>Please download the Evezown contract. The signed physical contract has to be scanned and uploaded to evezown in doc format within 30 days from now.</p>
            
            <a target="_self" href="http://evezown.com/docs/evezown_contract.doc" class="btn btn-primary btn-lg btn-block" download="foo.pdf">Download Agreement</a><br><br>
        </div>
        
    </div>
</script> 

<SCRIPT language=Javascript>
      
      function isNumberKey(evt)
      {
         var charCode = (evt.which) ? evt.which : event.keyCode
         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
         return true;

      }

   </SCRIPT>
   


