<div class="create-browse-section" ng-controller="createBrowseController">
    <div class="row" id="store-button-section" ng-if="!isClassified">
        <div class="col-md-3" ng-if="Role != 2">
             <a ng-if="!isProductPlusService" href="#whatdoiget" id="btn-create-store" class="btn btn-block">Create Your {{storeType}} <span class="fa fa-angle-right fa-2x pull-right"></span></a>
             <a ng-if="isProductPlusService" href="#whatdoiget" id="btn-create-store" class="btn btn-block">Create {{storeType}} <span class="fa fa-angle-right fa-2x pull-right"></span></a>
        </div>
        <div class="col-md-3" ng-if="Role == 2">
             <a ng-if="!isProductPlusService" href="" id="btn-create-store" class="btn btn-block" ng-click="accessCtrl();" style="opacity:0.3">Create Your {{storeType}} <span class="fa fa-angle-right fa-2x pull-right"></span></a>
             <a ng-if="isProductPlusService" href="" id="btn-create-store" class="btn btn-block" ng-click="accessCtrl();" style="opacity:0.3">Create {{storeType}} <span class="fa fa-angle-right fa-2x pull-right"></span></a>
        </div>
        <div class="col-md-3">
             <a ng-if="!isProductPlusService" href="#store/browse" id="btn-browse-store" class="btn btn-block">Browse Existing {{storeType}} <span class="fa fa-angle-right fa-2x pull-right"></span></a>
             <a ng-if="isProductPlusService" href="#store/browse" id="btn-browse-store" class="btn btn-block">Browse {{storeType}} <span class="fa fa-angle-right fa-2x pull-right"></span></a>
        </div>

        <div class="col-md-3" ng-if="Role != 2">
             <a href="#classifieds/create/step1" id="btn-create-classifieds" class="btn btn-block">Create Ads & Campaigns <span class="fa fa-angle-right fa-2x pull-right"></span></a>
        </div>
        <div class="col-md-3" ng-if="Role == 2">
             <a href="" id="btn-create-classifieds" class="btn btn-block" ng-click="accessCtrl();" style="opacity:0.3">Create Ads & Campaigns <span class="fa fa-angle-right fa-2x pull-right"></span></a>
        </div>
        <div class="col-md-3">
             <a href="#classifieds/browse" id="btn-browse-classifieds" class="btn btn-block">Browse Ads & Campaigns <span class="fa fa-angle-right fa-2x pull-right"></span></a>
        </div>
    </div>
    <div class="row" id="store-button-section" ng-if="isClassified">
        <div class="col-md-6" ng-if="Role != 2">
             <a href="#classifieds/create/step1" id="btn-create-classifieds" class="btn btn-block">Create Ads & Campaigns <span class="fa fa-angle-right fa-2x pull-right"></span></a>
        </div>
        <div class="col-md-6" ng-if="Role == 2">
             <a href="" id="btn-create-classifieds" class="btn btn-block" ng-click="accessCtrl();" style="opacity:0.3">Create Ads & Campaigns <span class="fa fa-angle-right fa-2x pull-right"></span></a>
        </div>
        <div class="col-md-6">
             <a href="#classifieds/browse" id="btn-browse-classifieds" class="btn btn-block">Browse Ads & Campaigns <span class="fa fa-angle-right fa-2x pull-right"></span></a>
        </div>
    </div>
</div>