<div ng-include src='"partials/evezplace/store_info_jumbotron.html"' ng-controller="StoreInfoController"></div>

<div ng-include src='"partials/evezplace/store_info_menu.html"' ng-controller="StoreInfoController"></div>

<div class="text-center">
    <div class="row">
        <h2 style="color: #e51385; margin-top: 20px; margin-bottom: 20px">FAQs on <b>Store</b></h2>
    </div>
</div>
<div class="row">
    <div class="panel list-group">
        <!--FAQ 1-->
        <a class="list-group-item" data-toggle="collapse" data-target="#sm1" data-parent="#menu">FAQ 1 : Open Store</a>

        <div id="sm1" class="sublinks">
            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> How to open an Store?</a>
            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> Who can open an Store?</a>
            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> How many stores can i open?</a>
        </div>
        <!--FAQ 2-->
        <a class="list-group-item" data-toggle="collapse" data-target="#sm2" data-parent="#menu">FAQ 1 : Manage Products</a>

        <div id="sm2" class="sublinks collapse">
            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> How do i manage my products?</a>
            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> How many products can i add under free store?</a>
            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> How many SKU's can be added?</a>
        </div>
        <!--FAQ 3-->
        <a class="list-group-item" data-toggle="collapse" data-target="#sm3" data-parent="#menu">FAQ 1 : Manage Customers</a>

        <div id="sm3" class="sublinks collapse">
            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> How do i manage my products?</a>
            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> How many products can i add under free store?</a>
            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> How many SKU's can be added?</a>
        </div>
    </div>
</div>
<!-- End Carousel -->
<div class="text-center">
    <div ng-include src='"partials/evezplace/get_started.html"' ng-controller="StoreInfoController"></div>
</div>