<!-- Main component for a primary marketing message or call to action -->
<!--description text-->
<div ng-include src='"partials/description/evezown.html"'>
</div>
<!--description text ends-->
<div ng-include src='"partials/evezplace/create_browse_partial.html"'></div>

<div class="col-md-12" ng-include src='"partials/evezplace/product_menu.html"'
     ng-controller="ProductMenuController"></div>

<div ng-include src='"partials/evezplace/promotion_partial.html"'></div>



<div class="row">
    <div ng-include src='"partials/evezplace/products_partial.html"'></div>
    <div ng-include src='"partials/evezplace/article_news_interviews_partial.html"'></div>
</div>

<div ng-include src='"partials/video_interview_partial.html"'></div>
