<div class="col-xs-12 col-sm-9" ng-controller="evezplaceRecommendationCtrl">
    <div class="evezplace-reco-products-section">

        <div class="col-sm-12" style="padding-left: 0px" id="evezplace-reco-title">
            <div class="col-sm-9">
                <h5>MarketPlace Recommendations </h5>
            </div>
            <div class="col-sm-3" style="padding-right: 0px">
                <a href="" class="btn btn-link pull-right">Show All <span
                        class="fa fa-angle-right fa-2x pull-right"></span></a>
            </div>
        </div>
        <div class="row" ng-repeat="recommendations4 in recommendations">
            <div class="col-md-3 recommendation-box" ng-repeat="recommendation in recommendations4">
                <div class="living_box">
                    <a href="{{recommendation.link}}">
                        <img ng-if="recommendation.image != null"
                             ng-src="{{imageUrl}}image/show/{{recommendation.image.large_image_url}}/195/195'}}"
                             alt="" style="width: 100%;"
                             class="img-responsive center-block">
                        <img ng-if="recommendation.image == null"
                             ng-src="http://placehold.it/195x195/692668/ffffff"
                             alt="" style="width: 100%;"
                             class="img-responsive center-block">
                    </a>
                </div>
                <div class="col-sm-12 text-center">
                    <p>{{recommendation.title}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="trending-products-section">
        <div class="col-sm-12" style="padding-left: 0px" id="trending-products-title">
            <div class="col-sm-9">
                <h5>Trending This Month</h5>
            </div>
            <div class="col-sm-3" style="padding-right: 0px">
                <!-- <a href="#store/products" class="btn btn-link pull-right">Show All <span
                        class="fa fa-angle-right fa-2x pull-right"></span></a> -->
                <a href="" class="btn btn-link pull-right">Show All <span
                        class="fa fa-angle-right fa-2x pull-right"></span></a>
            </div>
        </div>
        <div class="row" ng-repeat="trendingItems4 in trendingItems">
            <div class="col-md-3 recommendation-box" ng-repeat="trendingItem in trendingItems4">
                <div class="living_box">
                    <a href="{{trendingItem.link}}">
                        <img ng-if="trendingItem.image != null"
                             ng-src="{{imageUrl}}image/show/{{trendingItem.image.large_image_url}}/195/195'}}"
                             alt="" style="width: 100%;"
                             class="img-responsive center-block">
                        <img ng-if="trendingItem.image == null"
                             ng-src="http://placehold.it/195x195/692668/ffffff"
                             alt="" style="width: 100%;"
                             class="img-responsive center-block">
                    </a>
                </div>
                <div class="col-sm-12 text-center">
                    <p>{{trendingItem.title}}</p>
                </div>
            </div>
        </div>
    </div>
</div>