<div class="jumbotron alert alert-dismissible inner-jumbotron shadow switch store-info-jumbotron" id="no-border-round" role="alert"
     ng-controller="OpenStoreController" ng-switch="" on="article" ng-animate="'animate'" style="min-height:360px;">
    <button type="button" class="close " data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <div class="row ng-scope" ng-switch-when="1">
        <div class="col-md-8 list">
            <h1 style="text-transform: uppercase">Unique Opportunity</h1>

            <h1 style="text-transform: uppercase; font-weight: 900">MarketPlace</h1>

            <p>Marketplace for showcasing stores and business services in 5 key categories</p>
            <ul style="margin-top: 20px; border-radius: 10px ; display:block">
                <li>Health, Wellness Fitness</li>
                <li>Food & Nutrition</li>
                <li>Beauty & Fashion</li>
                <li>Education, Care & Parenting</li>
                <li>Lifestyle</li>
            </ul>
            <a href="#store/create/step1" class="btn btn-primary btn-lg" style="margin-top: 20px; border-radius: 10px">Get
                Started <span class="fa fa-chevron-right"></span></a>
        </div>
        <div class="col-md-4">
            <img src="img/evezplace/cart_icon.png" class="center-block" style="width: 180px; margin-top: 20px" alt=""/>
        </div>
    </div>
    <div class="row ng-scope" ng-switch-when="2">
        <div class="col-md-8 list">
            <h1 style="text-transform: uppercase">Unique Opportunity</h1>

            <h1 style="text-transform: uppercase; font-weight: 900">Marketplace</h1>

            <p>You can open</p>

            <ul style="margin-top: 20px; border-radius: 10px ; display:block">
                <li>Product Store</li>
                <li>Business Store</li>
                <li>Store + Business</li>
            </ul>

            <a href="#store/create/step1" class="btn btn-primary btn-lg" style="margin-top: 20px; border-radius: 10px">Get
                Started <span class="fa fa-chevron-right"></span></a>
        </div>
        <div class="col-md-4">
            <img src="img/evezplace/open_store.png" class="center-block" style="width: 180px; margin-top: 20px" alt=""/>
        </div>
    </div>
    <div class="row ng-scope" ng-switch-when="3">
        <div class="col-md-8">
            <h1 style="text-transform: uppercase">Unique Opportunity</h1>

            <h1 style="text-transform: uppercase; font-weight: 900">Marketplace</h1>

            <p>If you are in business, go ahead an open your store. If your business is focused on women as a consumer, contact us. We will help you open a store</p>
            <a href="#contactus" class="btn btn-primary btn-lg" style="margin-top: 20px; border-radius: 10px;">Contact Us <span class="fa fa-chevron-right"></span></a>
        </div>
        <div class="col-md-4">
            <img src="img/evezplace/evezown_contact.png" class="center-block" style="width: 180px; margin-top: 20px;" alt=""/>
        </div>
    </div>

</div>