<div ng-include src='"partials/evezplace/store_info_jumbotron.html"' ng-controller="StoreInfoController"></div>

<div ng-include src='"partials/evezplace/store_info_menu.html"' ng-controller="StoreInfoController"></div>

<div class="text-center">
    <div class="row">
        <h2 style="color: #e51385; margin-top: 20px; margin-bottom: 20px">Types of <b>Eve-Stores</b></h2>
    </div>

    <div class="row" style="padding: 0px 80px">
        <h4 style="line-height: 2;text-align:justify;">We offer three type of stores - Basic Store, Marketplace Standard Store and Customised Store. Basic store is full featured store with visibility limited to closed private community of the store owner and it resides on member's Mysite. Paid standard provides full features and visibility in browse store section on Marketplace. Apart from providing customer features, Customised Stores provides unlimited visibility with visibility in browse store section on Marketplace with customised priority on Evezown landing pages as well.</h4>
    </div>
</div>
<!-- Main component for a primary marketing message or call to action -->

       <div class="col-md-12" ng-controller="articlesCtrl" style="padding-bottom:40px;">
        <tabset justified="true" id="store-type-catalogue-menu">

            <!--free basic-->
            <tab class="tab-item" heading="Basic store (free)">
               <div class="col-md-12">
                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Access</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Open to all members,free for members</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Create Store</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Through Mysite or Marketplace</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Visibility</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Limited - only to private community of the store owner</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Features</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> All Store elements enabled but visiblity limited to private circles.</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Store Listing</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Listed under 250 plus sub-categories</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                         <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Streaming</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Closed users, private Community</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Ads & Campaigns feature</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Link to Ads & Campaigns for streaming for eg special deals, new product launch etc.,</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Pricing of Stores</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Transaction fee per transaction for using the payment gateway services. Logistics, Packaging, Frieght & other charges are not included</p>
                    </div>
                </div>
            </tab>

            <!--standard-->
            <tab heading="MarketPlace Standard Store">
                <div class="col-md-12">
                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Access</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Open to all members</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Create Store</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Through Mysite or Marketplace</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Visibility</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Unlimited</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Features</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> All store elements  enabled</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Store Listing</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Listed under 250 plus sub-categories</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                         <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Streaming</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Closed users, private Community</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Ads & Campaigns feature</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Link to  Ads & Campaigns for streaming for eg special deals, new product launch etc.,</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Pricing of Stores</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Fixed price, Rs.24000 per annum ( limted to Rs.5Lac per annum revenue) Payment Gateway charges are additional, Logistics, Packaging, Frieght & other charges are not included</p>
                    </div>
                </div>
            </tab>

            <!--customized-->
            <tab heading="MarketPlace Customised">
                <div class="col-md-12">
                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Access</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Open to all members and non members who want to purchase this option.</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Create Store</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Through Marketplace with customised admin controls and offline intervention</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Visibility</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Unlimited Visibility like Paid standard, in addition customised priority on Evezown, MarketPlace landing pages.</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Features</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> All store elements  enabled , in addition customisation and add-ons can be done as per requirement,for eg. Visual presentation, analytics, promotion & branding can be enhanced</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Store Listing</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Listed under 250 plus sub-categories,special sub category can be created if required to improve searchability.</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                         <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Streaming</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Standard promotion features plus additional customised web pomotional features as per requirement of the category, subcategory</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Ads & Campaigns feature</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Paid Store features plus additional customised branding and marketing features as per requirement</p>
                    </div>

                    <div class="col-md-4" style="padding-left:60px;">
                        <p><span class="fa fa-square"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Pricing of Stores</p>
                    </div>
                    <div class="col-md-8">
                        <p><span class="fa fa-check"
                             style="color: #e51385; margin-top: 5px; margin-bottom: 5px"></span> Custom Pricing based on member requirement specification, would be quoted offline</p>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>

<!-- End Carousel -->
<div class="text-center">
    <div ng-include src='"partials/evezplace/get_started.html"' ng-controller="StoreInfoController"></div>
</div>