<div class="col-sm-12" ng-if="!isOrderSuccess">
    <h3>Orders</h3>
</div>

<div class="row" ng-controller="BuyerOrdersCtrl" style="margin-bottom: 40px">
        <div class="col-sm-12">
            <div class="col-sm-12">
                <div class="col-sm-12 well well-lg">
                    <div class="row">
                        <p style="color: #e50880;">Enter order transaction id or email or phone or buyer code</p>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-5">
                                    <h5>Email / Transaction Id / Phone / Buyer code</h5>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" ng-model="orderData.buyer.email" class="form-control" required/>
                                </div>
                                <div class="col-sm-2">
                                    <a href ng-click="GetOrderByBuyer(orderData.buyer.email)"
                                       class="btn btn-primary pull-right">
                                        Search
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-repeat="order in orders">
                        <div ng-repeat="orderItem in order.order_items.data">
                            <div class="col-sm-12 well well-sm">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 vcenter">
                                        <img
                                                ng-src="{{service_url}}image/show/{{orderItem.productSku.image.large_image_url}}/80"
                                                class="img-responsive img-thumbnail"
                                                alt="{{orderItem.productSku.title}}"/>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4 vcenter">
                                        {{orderItem.productSku.title}}
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 vcenter">
                                        <!--<a class="btn btn-primary btn-sm pull-right" ng-click="isCollapsed = !isCollapsed">-->
                                            <!--<span ng-if="isCollapsed">show details</span>-->
                                            <!--<span ng-if="!isCollapsed">hide details</span>-->
                                        <!--</a>-->
                                    </div>
                                </div>
                                <div class="show-section" uib-collapse="isCollapsed">
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-2 col-md-2 col-lg-2 vcenter">
                                            <p style="font-weight: bold;">Price : </p>INR {{orderItem.price}}
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2 vcenter">
                                            <p style="font-weight: bold;">Quantity :</p>{{orderItem.quantity}}
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 vcenter">
                                            <!--expected_shipping_date-->
                                            <p style="font-weight: bold;">Expected shipping date :</p>
                                            {{orderItem.expected_shipping_date}}
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4 vcenter">
                                            <!--expected_delivery_date-->
                                            <p style="font-weight: bold;">Expected delivery date :</p>
                                            {{orderItem.expected_delivery_date}}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-2 col-md-2 col-lg-6 vcenter">
                                            <p style="font-weight: bold;">Comments : </p>
                            <p>{{orderItem.order_item_status[orderItem.order_item_status.length-1].status_comment}}
                            </p>
                                        </div>

                                        <div class="col-sm-2 col-md-2 col-lg-6 vcenter" style="margin-bottom: 10px;">
                                            <p style="font-weight: bold;">Order Item Status :</p><div ng-repeat="status in statuses"><p ng-if="orderItem.order_item_status[orderItem.order_item_status.length-1].status_id == status.id">{{status.status}}</p></div>
                                        </div>
                                        <div class="row" style="margin-top: 40px;margin-bottom: 20px;">
                                            <div class="col-sm-5" ng-if="orderItem.order_item_status[orderItem.order_item_status.length-1].status_id == 1 || orderItem.order_item_status[orderItem.order_item_status.length-1].status_id == 2 || orderItem.order_item_status[orderItem.order_item_status.length-1].status_id == 3">
                                                <a href class="btn btn-primary btn-block" ng-click="CancelOrderItem(orderItem,orderItem.order_item_status[orderItem.order_item_status.length-1].status_comment,order.id,orderData.buyer.email)">Cancel Item</a>
                                            </div>
                                            <div class="col-sm-5" ng-if="orderItem.order_item_status[orderItem.order_item_status.length-1].status_id == 4 || orderItem.order_item_status[orderItem.order_item_status.length-1].status_id == 5 || orderItem.order_item_status[orderItem.order_item_status.length-1].status_id == 6">
                                                <a href class="btn btn-primary btn-block" ng-click="CancelOrderItem(orderItem,orderItem.order_item_status[orderItem.order_item_status.length-1].status_comment,order.id,orderData.buyer.email)" disabled="">Cancel Item</a>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-2">
                                                <form action="https://secure.payu.in/_payment" method="post" target="_top" name="payuForm" id="payuForm" data-ng-init="getHash(orderItem,order)">
                                                <!-- <form action="https://test.payu.in/_payment" method="post" target="_top" name="payuForm" id="payuForm" data-ng-init="getHash(orderItem,order)"> -->
                                                    <input type="hidden" name="key"  ng-value="MERCHANT_KEY" />
                                                    <input type="hidden" name="hash"  ng-value="encrypttext"/>
                                                    <input type="hidden" name="txnid"  ng-value="order.transaction_id" />
                                                    <input type="hidden" name="amount"  ng-value="orderItem.price" />
                                                    <input type="hidden" name="productinfo"  ng-value="orderItem.productSku.product.title" />
                                                    <input type="hidden" name="surl"  ng-value="surl" />
                                                    <input type="hidden" name="furl"  ng-value="furl" />
                                                    <input type="hidden" name="firstname"  ng-value="order.buyer.code" />
                                                    <input type="hidden" name="email"  ng-value="order.buyer.email" />
                                                    <input type="hidden" name="phone"  ng-value="order.buyer.phone" />
                                                    <input type="hidden" name="service_provider" value="payu_paisa" />

                                                    <input name="lastname" id="lastname" type="hidden" ng-value="order.buyer.code" />
                                                    <input name="curl" ng-value="curl" type="hidden"/>
                                                    <input name="address1" type="hidden" ng-value="" />
                                                    <input name="address2" type="hidden" ng-value="" />
                                                    <input name="city" type="hidden" ng-value="" />
                                                    <input name="state" type="hidden" ng-value="" />
                                                    <input name="country" type="hidden" ng-value="" />
                                                    <input name="zipcode" type="hidden" ng-value="" />
                                                    <input name="udf1" type="hidden" ng-value="" />
                                                    <input name="udf2" type="hidden" ng-value="" />
                                                    <input name="udf3" type="hidden" ng-value="" />
                                                    <input name="udf4" type="hidden" ng-value="" />
                                                    <input name="udf5" type="hidden" ng-value="" />
                                                   <!--  <input name="pg" type="hidden" ng-value="" /> -->
                                                    <input ng-if="orderItem.order_item_status[orderItem.order_item_status.length-1].status_id == 1" type="submit" class="btn btn-primary btn-block" type="submit" value="Pay Now" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
</div>

