<div class="create-store-section text-center">
    <div class="row">
        <div class="col-md-12">
            <h5 style="color: #e51385; font-weight: 700; font-size: 2.0em; margin-bottom: 20px">You have sent your invitation request successfully.</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="fa-stack fa-lg fa-4x">
              <i class="fa fa-circle fa-stack-2x" style="color: #ffffff"></i>
              <i class="fa fa-check fa-stack-1x fa-inverse" style="color: #009966"></i>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="padding: 20px 80px">
            <p style="font-weight: 400; font-size: 1.2em">Thank you for your interest to be a member of evezown.com.</p>
            <p style="font-weight: 400; font-size: 1.2em">You will get an email from us soon.</p>
            <p style="font-weight: 400; font-size: 1.2em">Editor, Evezown</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <a href="#home" class="btn btn-primary btn-lg">Back to Evezown</a>
        </div>
    </div>

</div>