<div class="ngdialog-buttons popuptemplate">
    <h4 style="color: #692668; margin-bottom: 10px">Product Enquiry Form</h4>
    <input class="form-control" type="text" placeholder="Name"
           id="name" ng-model="rfiData.name" style="margin-bottom: 10px;"/>
    <input class="form-control" type="text" onkeypress="return isNumberKey(event)" placeholder="Mobile Number"
           id="mobile" ng-model="rfiData.mobileNumber" style="margin-bottom: 10px;"/>

    <input class="form-control" type="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="Email Id"
           id="email" ng-model="rfiData.email" style="margin-bottom: 10px;"/>


    <input type="text"
           id="city"
           class="form-control"
           placeholder="City"
           name="city"
           g-places-autocomplete
           ng-model="rfiData.city"
           style="margin-bottom: 10px;"/>

    <div class="form-group row">
        <div class="col-sm-8">
            <label for="isContactEmail" style="font-weight: 300"> Contact me on email?</label>
        </div>
        <div class="col-sm-4">
            <input type="checkbox"
                   id="isContactEmail" class="pull-right" ng-model="rfiData.isContactEmail"
                   style="margin-bottom: 10px;"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-8">
            <label for="isContactMobile" style="font-weight: 300; width: 100%"> Contact me on mobile?</label>
        </div>
        <div class="col-sm-4">
            <input type="checkbox"
                   id="isContactMobile" class="pull-right" ng-model="rfiData.isContactMobile"
                   style="margin-bottom: 10px;"/>
        </div>
    </div>

    <div class="row" style="margin-bottom: 10px">
        <div class="form-group">
            <div class="col-sm-12">
                <label for="expectedDeliveryDate" style="font-weight: 300">Required Date of Delivery</label>
            </div>
            <div class="col-md-12">
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}"
                           ng-model="rfiData.expectedDeliveryDate"
                           id="expectedDeliveryDate"
                           is-open="datepickers.expectedDeliveryDate" min-date="minDate"
                           datepicker-options="dateOptions"
                           ng-required="true" close-text="Close"/>
                              <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="open($event, 'expectedDeliveryDate')"><i
                                            class="glyphicon glyphicon-calendar"></i>
                                    </button>
                              </span>
                </p>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <input type="number"
                   id="quantity" ng-model="rfiData.quantity"
                   class="form-control"
                   placeholder="Quantity"
                   style="margin-bottom: 10px;"/>
        </div>
    </div>

    <div class="row" style="margin-bottom: 10px">
        <div class="form-group">
            <div class="col-sm-12">
                <label for="expectedPurchaseDate" style="font-weight: 300">Likely Date of Purchase
                    (Optional)</label>
            </div>
            <div class="col-md-12">
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}"
                           ng-model="rfiData.expectedPurchaseDate"
                           id="expectedPurchaseDate"
                           is-open="datepickers.expectedPurchaseDate" min-date="minDate"
                           datepicker-options="dateOptions"
                           ng-required="true" close-text="Close"/>
                              <span class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="open($event, 'expectedPurchaseDate')"><i
                                            class="glyphicon glyphicon-calendar"></i>
                                    </button>
                              </span>
                </p>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <input g-places-autocomplete
                   type="text"
                   id="deliveryCity"
                   ng-model="rfiData.deliveryLocation"
                   class="form-control"
                   placeholder="Delivery City"
                   style="margin-bottom: 10px;"/>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
                <textarea class="form-control" rows="3" placeholder="Any other information"
                          ng-model="rfiData.otherInfo" style="margin-bottom: 10px;"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
                <textarea class="form-control" rows="3"
                          placeholder="Explain your interest/conditions/any other feedback related to purchase"
                          ng-model="rfiData.feedbackPurchase" style="margin-bottom: 10px;"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
                <textarea class="form-control" rows="3" placeholder="Comments"
                          ng-model="rfiData.comments" style="margin-bottom: 10px;"></textarea>
        </div>
    </div>

    <button class="btn btn-primary pull-right form-control" type="button" ng-click="saveProductRfiDetails()">Send</button>
</div>

<!--phone number-->
<SCRIPT language=Javascript>
     
      function isNumberKey(evt)
      {
         var charCode = (evt.which) ? evt.which : event.keyCode
         if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
         return true;

      }
     
   </SCRIPT>
   