<div ng-include src='"partials/evezplace/product_menu.html"' ng-controller="ProductMenuController"></div>

<ul class="breadcrumb" style="background: transparent; padding-left: 0px; margin-top: 10px;">
    <li><a href="#home">Home</a> <span class="divider"></span></li>
    <li><a href="#evezplace">Marketplace</a> <span class="divider"></span></li>
    <li><a href="#store/browse">Browse Stores</a></li>
    <li><a href="#store/{{productDetails.store.id}}">{{productDetails.store.name}}</a></li>
    <li class="active">{{productDetails.title}}</li>
</ul>

<div class="row" ng-controller="ProductDetailsCtrl" style="margin-top: 10px; background-color: #f2f2f2">

    <div class="col-sm-6">
        <flex-slider flex-slide="image in productDetails.images" style="margin-top: 10px; padding: 20px">
            <li>
                <img ng-src="{{image}}">
            </li>
        </flex-slider>
    </div>

    <div class="col-sm-6">
        <div class="row" style="padding: 20px">
            <h3 style="font-weight: 600">{{productDetails.title}}</h3>
            <h4 style="font-weight: 300">Store Name: {{productDetails.store.name}}</h4>

            <h1>&#8377; {{productDetails.price}}</h1>
            <h4 style="margin-top: 20px">Description</h4>

            <p>{{productDetails.description}}</p>

            <div class="row">

                <div class="col-sm-6">
                    <h4 style="margin-top: 20px" ng-if="productDetails.color_options.length > 0">Choose Color</h4>

                    <div class="btn-group input-group" data-toggle="buttons"
                         ng-if="productDetails.color_options.length > 0">
                        <a class="btn" id="btn-prod-color" style="width: 32px; height: 32px; margin-right: 5px"
                           href="javascript:void(0)"
                           ng-repeat="color in productDetails.color_options"
                           ng-class="{ 'active' : selectedProduct.color == color }"
                           ng-style="{backgroundColor: color}"
                           ng-click="selectColorOption(color)">

                        </a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4 style="margin-top: 20px" ng-if="productDetails.size_options.length > 0">Choose Size</h4>

                    <div class="row" ng-if="productDetails.size_options.length > 0">
                        <div class="col-sm-12">
                            <select name="size" id="productSize" class="form-control"
                                    ng-model="selectedProduct.size"
                                    ng-options="size for size in productDetails.size_options"
                                    ng-change="selectSizeOption(selectedProduct.size)"
                                    default-option="choose size...">

                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row" style="margin-bottom: 10px">

                <div class="col-sm-6">
                    <h4 style="margin-top: 20px" ng-if="productDetails.weight_options.length > 0">Choose Weight</h4>

                    <div class="row" ng-if="productDetails.weight_options.length > 0">
                        <div class="col-sm-12">
                            <select name="size" id="productWeight" class="form-control"
                                    ng-model="selectedProduct.weight"
                                    ng-options="weight for weight in productDetails.weight_options"
                                    default-option="choose weight in kg...">

                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4 style="margin-top: 20px" ng-if="productDetails.volume_options.length > 0">Choose Volume</h4>

                    <div class="row" ng-if="productDetails.volume_options.length > 0">
                        <div class="col-sm-12">
                            <select name="size" id="productVolume" class="form-control"
                                    ng-model="selectedProduct.volume"
                                    ng-options="volume for volume in productDetails.volume_options"
                                    default-option="choose volume in ml..">

                            </select>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row" style="margin-top: 30px">
                <div class="col-sm-12" ng-if="productDetails.isInStock">
                    <a ng-if="!isAlreadyAddedToCart" ng-click="addProductToCart(productSkuVariants)"
                       class="btn btn-primary btn-block btn-lg">
                        <span class="fa fa-shopping-cart"></span> Add To Cart</a>
                    <a ng-if="isAlreadyAddedToCart" class="btn btn-default btn-block btn-lg">
                        <span class="fa fa-shopping-cart"></span> Already added to cart</a>
                    <a ng-click="buyProduct(productSkuVariants)" class="btn btn-primary btn-block btn-lg">Buy</a>
                    <a class="btn btn-primary btn-block btn-lg"
                       ng-click="openRequestInfoForm(productDetails.id)">Enquiry/Request for
                        Information (RFI)</a>
                </div>
                <div class="col-sm-12" ng-if="!productDetails.isInStock">
                    <a class="btn btn-default btn-block btn-lg">Out of Stock</a>
                    <a class="btn btn-primary btn-block btn-lg"
                       ng-click="openRequestInfoForm(productDetails.id)">Enquiry/Request for
                        Information (RFI)</a>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="row" style="margin-top: 10px" ng-if="productDetails.hasRelatedProducts">
    <div class="col-sm-12">
        <h4 style="color: #692668; font-weight: 600">Related products from the same store</h4>
        <hr/>
    </div>

    <div class="col-sm-3 text-center" ng-repeat="relatedProduct in productDetails.related_products">
        <div style="height: 250px; border: 1px solid #e50880">
            <img ng-src="{{relatedProduct.imagePath}}" style="width: 100%; height: 220px" alt=""/>
        </div>
        <p>{{relatedProduct.title}}</p>
    </div>
</div>

<div ng-include src='"partials/video_interview_partial.html"'></div>