<div class="col-md-12" ng-include src='"partials/evezplace/product_menu.html"' ng-controller="ProductMenuController"></div>

<div class="row" id="promotion-section">
    <div class="col-md-12">
        <div class="col-md-8 large-cover-pic ">
            <img ng-src="{{storefront.collageImages[0]}}"
                 class="img-responsive" alt=""/>
        </div>
        <div class="col-md-4 small-cover-pic">
            <div class="small-cover-pic-top">
                <img ng-src="{{storefront.collageImages[1]}}"
                     class="img-responsive" alt=""/>
            </div>
            <div class="small-cover-pic-bottom">
                <img ng-src="{{storefront.collageImages[2]}}"
                     class="img-responsive" alt=""/>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-controller="StoreFrontController">
    <ul class="breadcrumb" style="background: transparent; padding-left: 0px">
        <li><a href="#home">Home</a> <span class="divider"></span></li>
        <li><a href="#evezplace">Marketplace</a> <span class="divider"></span></li>
        <li><a href="#store/browse">Browse Stores</a></li>
        <li class="active">{{storefront.title}}</li>
    </ul>

    <div class="row custom-store-header">
        <div class="col-md-12 store-front-profile">
            <div class="col-md-3" style="padding-left: 0px">
                <img ng-src="{{storefront.profile_image}}"
                     style="width: 100%" class="img-responsive"/>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-8" style="padding:0px;">
                        <h1>{{storefront.title}}</h1>
                    </div>
                    <div class="col-md-2" style="padding:0px;">
                        <a ng-if="isStoreOwner" href="#store/{{storefront.id}}/manage/store_info" class="btn btn-primary btn-sm pull-right">Manage store</a>
                    </div>
                        <div class="col-md-2" style="padding:0px;">
                        <a ng-if="isStoreOwner" ng-click="PublishStore(storefront.id)" class="btn btn-primary btn-sm pull-right">Publish store</a>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <p style="text-align:justify;">{{storefront.description}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div ng-include src='"partials/recco_woice_comment_partial.html"'></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" style="background: #fafafa; padding: 0px">
            <div class="col-sm-6" style="padding: 10px 5px 10px 0px">
                <a href ng-click="openPriceList()" class="btn btn-primary btn-lg btn-block"><span class="fa fa-list"></span> Price List at a
                    Glance</a>
            </div>
            <div class="col-sm-6" style="padding: 10px 0px 10px 5px">
                <a href="" class="btn btn-primary btn-block btn-lg pull-right"
                   ng-click="openRequestForQueryForm()"><span class="fa fa-mail-reply"></span>
                    Request for Quote</a>
            </div>
        </div>
    </div>

    <div ng-include src='"partials/evezplace/storefront_offers_partial.html"'
         ng-controller="StoreFrontOfferController"></div>

    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div class="evezplace-reco-products-section" ng-repeat="productLine in storefront.productLines">

                <div class="col-sm-12" style="padding-left: 0px" id="evezplace-reco-title">
                    <div class="col-sm-9">
                        <h5>{{productLine.title}} </h5>
                    </div>
                    <div class="col-sm-3" style="padding-right: 0px">
                        <a href="#store/productline/{{productLine.id}}" class="btn btn-link pull-right">Show All <span
                                class="fa fa-angle-right fa-2x pull-right"></span></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <slick infinite="true" slides-to-show="4" slides-to-scroll="1" autoplay="true">
                            <div class="col-md-3" ng-repeat="product in productLine.products">
                                <div class="living_box" style="max-height: 100px;">
                                    <a href="#store/products/{{product.id}}">
                                        <img ng-src="{{imageUrl + product.product_sk_u[0].product_images[0].image.large_image_url +
                                                    '/600/600'}}" style="width: 100%;"
                                                    class="img-responsive center-block"
                                                    alt="{{product.title}}">
                                    </a>
                                </div>
                                <div class="col-sm-12 text-center" style="margin: 10px 0px; font-weight: 600">
                                    <h4 style="color: #333333">{{product.title}}</h4>
                                    <p style="color: #777777">&#8377; {{product.product_sk_u[0].price}}</p>
                                </div>
                            </div>
                        </slick>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sx-12 col-sm-3" ng-controller="ArticlesNewsInterviewsCtrl">
           <!--Articles-->
            <div class="panel panel-primary panel-custom">
                <div class="panel-heading panel-heading-custom">
                    <h3 class="panel-title">Related Articles</h3>
                </div>
                <div class="panel-body panel-body-custom">
                    <div class="interviews-section">
                        <div class="row" ng-repeat="article in articles | limitTo:6">
                            <div class="col-md-12" style="text-align:justify;">
                                <p>{{article.title}}<span style="color: #e50880"><a href="{{article.link}}" target="blank"> [Read More] </a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Interviews-->
            <div class="panel panel-primary panel-custom">
                <div class="panel-heading panel-heading-custom">
                    <h3 class="panel-title">Interviews</h3>
                </div>
                <div class="panel-body panel-body-custom">
                    <div class="interviews-section">
                        <div class="row" ng-repeat="interview in interviews | limitTo:6">
                            <div class="col-md-12" style="text-align:justify;">
                                <p>{{interview.title}}<span style="color: #e50880"><a href="{{interview.link}}" target="blank"> [Read More] </a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row feedback-section">
    <div class="col-sm-12 payment-options">
        <div class="col-sm-4">
            <h4 style="text-transform: uppercase">Payment Options:</h4>
        </div>
        <div class="col-sm-1">
            <img style="width: 100%;" ng-src="img/evezplace/payment/visa.png" alt="visa"/>
        </div>
        <div class="col-sm-1">
            <img style="width: 100%;" ng-src="img/evezplace/payment/master_card.png" alt="master"/>
        </div>
        <div class="col-sm-1">
            <img style="width: 100%;" ng-src="img/evezplace/payment/american_express.png" alt="master"/>
        </div>
    </div>
</div>
<div class="col-sm-9" ng-controller="StoreFrontController">
    <div ng-include src='"store/' + $rootScope.currentStoreId + '/manage/store_crm"'></div>

            <div class="col-sm-6">
                <h4 style="text-transform: uppercase"><b>Additional/Mandatory Disclosures/Info</b></h4>

               <p> <a href="{{storefront.DisclosureLink.Link1}}" target="_blank"> {{storefront.DisclosureLink.Link1}}</a></p>
               <P> <a href="{{storefront.DisclosureLink.Link2}}" target="_blank">{{storefront.DisclosureLink.Link2}}</a></p>
               <p> <a href="{{storefront.DisclosureLink.Link3}}" target="_blank"> {{storefront.DisclosureLink.Link3}}</a></p>
                
            </div>
        </div>

<div class="row store-front feedback-section">
    <div class="col-sm-12 aboutus">
        <div class="row">
            <div class="col-sm-6">
                <h4 style="text-transform: uppercase"><b>About Us</b></h4>

                <p>{{storefront.aboutus}}</p>
                <p>{{storefront.target_audience}}</p>
                <p>{{storefront.offerings}}</p>
                <p>{{storefront.motto}}</p>
                <p>{{storefront.vision}}</p>
                <p>{{storefront.purpose}}</p>
            </div>
            <div class="col-sm-6">
                <h4 style="text-transform: uppercase"><b>Contact Us</b></h4>

                <p>{{storefront.title}}</p>
                <p>{{storefront.contactDetails.primary_phone}}</p>
                <p>{{storefront.contactDetails.secondary_phone}}</p>
                <p>{{storefront.contactDetails.email}}</p>
                <p>{{storefront.contactDetails.address}}</p>
                <p>{{storefront.contactDetails.city}}</p>
                <p>{{storefront.contactDetails.state}}</p>
                <p>{{storefront.contactDetails.country}}</p>
                <p>{{storefront.contactDetails.pincode}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h4 style="text-transform: uppercase"><b>Shipping and Returns</b></h4>

                <p>{{storefront.shippingReturn}}</p>
            </div>
            <div class="col-sm-6">
                <h4 style="text-transform: uppercase"><b>Privacy Policy</b></h4>

                <p>{{storefront.privacy}}</p>
            </div>
        </div>
    </div>
</div>

<div ng-include src='"partials/video_interview_partial.html"'></div>

<script type="text/ng-template" id="statustemplateId">
    <div class="ngdialog-buttons popuptemplate" ng-controller="StoreFrontController">
        <h4>Are you sure you want to publish this store ?</h4>
        <button class="btn primary pull-right form-control" type="button" ng-click="Publish()">Publish</button>
        <button class="btn primary pull-right form-control" type="button" ng-click="CancelPublish()">Cancel</button>
    </div>
</script>
