<ul class="breadcrumb create-store-breadcrumb" style="background: transparent">
    <li><a href="#admin/store">Admin</a></li>
    <li>Manage Store</li>
</ul>

<div ng-include src='"partials/admin/Manage/manage_store_left_menu.html"'></div>

<!--Description starts-->
<div class="col-sm-9 jumbotron alert alert-dismissible inner-jumbotron shadow"  id="no-border-round" role="alert" style="padding:0px 28px 10px 16px;font-size:12px;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
    </button>
    <h1>Stock Management</h1>

    <p style="text-align:justify;font-size:16px;">You can manage the individual store product or business services here. You can view individual stock information, edit the price, discounts, size and other dimensions of the Store products/Business services.
    </p>
</div>
<!--Description Ends-->

<div class="col-sm-9" ng-controller="ManageStoreCtrl">
    <div class="row">
        <div class="create-store-section">

        <div style="border: 1px solid #ffffff; border-radius: 5px; margin-top: 20px">
        <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <div class="row" style="margin-top: 10px">
            <div class="col-sm-3">
                <h5 style="color: #e51385; font-weight: 600">Stores/Business</h5>
            </div>
            <div class="col-sm-3">
                <select class="form-control"  id="product-line" id="selectproductLine"
                        ng-options="productLine as productLine.title for productLine in AllProductLines"
                        ng-model="selectedProductLine" ng-change="SelectProductLine(selectedProductLine)">
                </select>
            </div>
            <!--<div class="col-sm-3">-->
                <!--<a href="" class="btn btn-primary btn-sm btn-block">Set Trending Products</a>-->
            <!--</div>-->
            <!--<div class="col-sm-3">-->
                <!--<a href="" class="btn btn-primary btn-sm btn-block">Set What's New Products</a>-->
            <!--</div>-->
        </div>

        <table ng-table="productCatalogueTableParams" template-pagination="custom/pager" class="table table-productlines table-bordered">
            <tr ng-repeat="product in AllProducts" class="text-center">
                <td data-title="'#'">{{$index+1}}</td>
                <td data-title="'Title'">{{product.title}}</td>
                <td data-title="'Description'">{{product.description}}</td>
                <td data-title="'Variants'">
                    <div>({{product['product_sk_u'].length}}) | <a href ng-click="ShowVariants(product['product_sk_u'])">View</a>
                        <!--/ <a href ng-click="AddProductVariant(product)">Add</a>-->
                    </div>
                </td>
                <!--<td data-title="''">-->
                    <!--&lt;!&ndash;<a href ng-click="UpdateProduct(product)" class="btn btn-link"><span&ndash;&gt;-->
                        <!--&lt;!&ndash;style="color: #e51385">update</span></a>&ndash;&gt;-->
                <!--</td>-->
                <!--<td data-title="''">-->
                    <!--&lt;!&ndash;<a href="" class="btn btn-link"><span style="color: #e51385">delete</span></a>&ndash;&gt;-->
                <!--</td>-->
            </tr>
        </table>
        <div class="ngdialog-buttons popuptemplate" ng-show="showAddVariant">
            <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                <div class="form-group">
                    <div class="col-sm-6">
                        <input type="text" placeholder="Price in INR" class="form-control"
                               id="productPrice" name="productPrice"
                               ng-model="product.productPrice">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" placeholder="Discount (If Applicable)" class="form-control"
                               id="productDiscount" name="productDiscount"
                               ng-model="product.productDiscount">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                <div class="form-group">
                    <div class="col-sm-6">
                        <input type="text" placeholder="Shipment Charges (INR)" class="form-control"
                               id="productShipmentCharges" name="productShipmentCharges"
                               ng-model="product.productShipmentCharges">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                <div class="form-group">
                    <div class="col-sm-12" ng-if="product.productPrice">
                        <p class="pull-right" style="font-weight: 600">Total Price: &#x20b9; {{parseDouble(product.productPrice) +  parseDouble(product.productShipmentCharges) + (parseDouble(product.productPrice) * parseDouble(product.productDiscount)/100) }}</p>
                    </div>
                </div>
            </div>
            <hr style="border-top-color: #ddd; margin-top: 0px; margin-bottom: 0px"/>
            <div class="row" style="margin-top: 20px; margin-bottom: 10px">
                <div class="form-group">
                    <div class="col-sm-6">
                        <input type="text" placeholder="Add Size (if applicable)" class="form-control"
                               id="productSize" name="productSize"
                               ng-model="product.productSize">
                    </div>
                    <div class="col-sm-6">
                        <input colorpicker="hex" type="text" placeholder="Choose Color in Hex Code (If Applicable)"
                               class="form-control"
                               id="productColor" name="productColor"
                               ng-model="product.productColor">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                <div class="form-group">
                    <div class="col-sm-6">
                        <input type="text" placeholder="Add Weight in Kg (If Applicable)" class="form-control"
                               id="productWeight" name="productWeight"
                               ng-model="product.productWeight">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" placeholder="Add Volume in ml (If Applicable)" class="form-control"
                               id="productVolume" name="productVolume"
                               ng-model="product.productVolume">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                <div class="form-group">
                    <!--<div class="col-md-offset-2 col-md-4">-->
                    <!--<label for="productExpiry">Expiry Date (Optional)</label>-->
                    <!--</div>-->
                    <div class="col-md-6">
                        <input date-range-picker
                               options="{format: 'MMM/DD/YYYY', timePicker: true, timePickerIncrement: 30}"
                               id="productExpiry" class="form-control date-picker"
                               type="text"
                               ng-model="product.productExpiry" placeholder="Date of packing/Expiry (If Applicable)"/>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" placeholder="Add available stock (Default 0)" class="form-control"
                               id="productStock" name="productStock"
                               ng-model="product.productStock">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 15px; margin-bottom: 20px">
                <div class="form-group">
                    <div class="col-sm-6">
                        <h5 style="font-weight: 600">Product/Service Images</h5>
                    </div>
                    <div class="col-sm-6">
                        <div class="fileUpload btn btn-default btn-block">
                            <span><i class="fa fa-camera"></i> Upload Product Image (4 Max)</span>
                            <input type="file" class="upload" id="productImages" name="productImages"
                                   nv-file-select="" uploader="uploader"
                                   multiple/>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                <div class="col-sm-6 col-sm-offset-6 progress" style="" ng-if="uploader.queue.length > 0">
                    <div class="progress-bar" role="progressbar" id="upload-progress-bar"
                         ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <h4 style="color: #e51385">Product Description</h4>
            <hr style="border-top-color: #ddd; margin-top: 0px; margin-bottom: 0px"/>
            <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea rows="4" placeholder="Product Description" class="form-control"
                                  id="productDeliveryConditions" name="productDescription"
                                  ng-model="product.productDescription"></textarea>
                    </div>

                </div>

            </div>
            <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                <div class="form-group">
                    <div class="col-sm-6">
                        <button class="btn primary pull-right form-control" type="button" ng-click="AddProductSKU(product)">Add Variant</button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn primary pull-right form-control" type="button" ng-click="Cancel()">Cancel</button>
                    </div>
                </div>

            </div>


        </div>
        <table ng-table="productTableParams" template-pagination="custom/pager" class="table table-productlines table-bordered" ng-show="showvariantlist">
            <tr ng-repeat="productsku in AllProductSKU" class="text-center">
                <td data-title="'#'">{{$index+1}}</td>
                <td data-title="'Image'"><img ng-src="{{service_url+'image/show/'+productsku['product_images'][0]['image']['large_image_url']}}/40/40"
                                              class="img-thumbnail"/></td>
                <td data-title="'Price'">{{productsku.price}}</td>
                <td data-title="'Stock'">
                    {{productsku.product_stock.quantity}}
                </td>
                <td data-title="''"><a href ng-click="UpdateProductStock(productsku)" class="btn btn-link"><span
                        style="color: #e51385">update</span></a>
                </td>
                <!--<td data-title="''"><a href="" class="btn btn-link"><span style="color: #e51385">delete</span></a>-->
                <!--</td>-->
            </tr>
            <tr>
                <td colspan="8" data-title="'#'"> <button class="btn primary pull-right form-control" type="button" ng-click="CancelShow()">Cancel</button></td>
            </tr>
        </table>
        <!--<script type="text/ng-template" id="custom/pager">-->
            <!--<ul class="pager ng-cloak">-->
                <!--<li ng-repeat="page in pages"-->
                    <!--ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"-->
                    <!--ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">-->
                    <!--<a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>-->
                    <!--<a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="btn-group">-->
                        <!--<button type="button" ng-class="{'active':params.count() == 5}" ng-click="params.count(5)" class="btn btn-default">5</button>-->
                        <!--<button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>-->
                        <!--<button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>-->
                        <!--<button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>-->
                        <!--<button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</script>-->
        <p class="pull-right">{{products.length}} of {{productCount}} products added (<a
                href=""><span style="color: #e51385">upgrade</span></a> to add more)</p>
        </div>
        </div>
        </div>

        </div>
    </div>
</div>

<script type="text/ng-template" id="editProduct">
    <div class="ngdialog-buttons popuptemplate" ng-controller="ManageStoreCtrl">
        <h4>Edit Product</h4>
        <input class="form-control" type="text" placeholder="Product Title"
               id="product" ng-model="currentProduct.title" style="margin-bottom: 10px; height: 50px; font-size: 18px"/>
        <textarea class="form-control" rows="4" placeholder="Product Description"
                  ng-model="currentProduct.description"/>
        <div class="col-sm-12" >
            <h5>Product line type</h5>
            <select class="form-control"  id="sub-product-line" id="productLine"
                    ng-options="productLine as productLine.title for productLine in AllProductLines"
                    ng-model="selectedProductLine" ng-change="SetProductLine(selectedProductLine)">
            </select>
        </div>
        <button class="btn primary pull-right form-control" type="button" ng-click="SubmitProductEdit(currentProduct)">Save</button>
    </div>
</script>

<script type="text/ng-template" id="editProductStock">
    <div class="ngdialog-buttons popuptemplate" ng-controller="ManageStoreCtrl">
        <h4>Edit Product Stock</h4>
        <input class="form-control" type="text" placeholder="Product Title"
               id="productSKU" ng-model="currentProductSKU.product_stock.quantity" style="margin-bottom: 10px; height: 50px; font-size: 18px"/>
        <button class="btn primary pull-right form-control" type="button" ng-click="SubmitProductStock(currentProductSKU)">Save</button>
    </div>
</script>