<div class="col-md-12" ng-include src='"partials/evezplace/product_menu.html"'
     ng-controller="ProductMenuController"></div>

<div ng-controller="storeProductlineCtrl">
    <div class="col-sm-12" style="margin: 10px 0px">
        <ul class="breadcrumb" style="background: transparent; padding-left: 0px">
            <li><a href="#home">Home</a> <span class="divider"></span></li>
            <li><a href="#evezplace">MarketPlace</a> <span class="divider"></span></li>
            <li><a href="#store/browse">Browse Stores</a></li>
            <li class="active"><a href="#store/{{storefront.id}}">{{storefront.title}}</a></li>
        </ul>
    </div>

    <div class="col-md-12 store-front-profile">
        <div class="col-md-3">
            <img ng-src="{{storefront.profile_image}}"
                 style="width: 100%" class="img-responsive"/>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12" style="padding:0px;">
                    <div class="col-md-8" style="padding:0px;">
                        <h1>{{storefront.title}}</h1>
                    </div>
                    <div class="col-md-2" style="padding:0px;">
                        <a ng-if="isStoreOwner" href="#store/{{storefront.id}}/manage/store_info"
                           class="btn btn-primary btn-sm pull-right">Manage store</a>
                    </div>
                    <div class="col-md-2" style="padding:0px;">
                        <a ng-if="isStoreOwner" ng-click="PublishStore(storefront.id)"
                           class="btn btn-primary btn-sm pull-right">Publish store</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <p style="text-align:justify;">{{storefront.description}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div class="evezplace-reco-products-section">
                <div class="col-sm-12" style="padding-left: 0px" id="evezplace-reco-title">
                    <div class="col-sm-12">
                        <h5>{{productline.title}} </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <slick infinite="true" slides-to-show="4" slides-to-scroll="1" autoplay="true">
                            <div class="col-md-3" ng-repeat="product in productline.products">
                                <div class="living_box" style="max-height: 100px;">
                                    <a href="#store/products/{{product.id}}">
                                        <img ng-src="{{imageUrl + product.product_sk_u[0].product_images[0].image.large_image_url +
                                                    '/600/600'}}" style="width: 100%;"
                                             class="img-responsive center-block"
                                             alt="{{product.title}}">
                                    </a>
                                </div>
                                <div class="col-sm-12 text-center" style="margin: 10px 0px; font-weight: 600">
                                    <h4 style="color: #333333">{{product.title}}</h4>

                                    <p style="color: #777777">&#8377; {{product.product_sk_u[0].price}}</p>
                                </div>
                            </div>
                        </slick>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sx-12 col-sm-3" ng-controller="ArticlesNewsInterviewsCtrl">
            <!--Articles-->
            <div class="panel panel-primary panel-custom">
                <div class="panel-heading panel-heading-custom">
                    <h3 class="panel-title">Related Articles</h3>
                </div>
                <div class="panel-body panel-body-custom">
                    <div class="interviews-section">
                        <div class="row" ng-repeat="article in articles | limitTo:6">
                            <div class="col-md-12" style="text-align:justify;">
                                <p>{{article.title}}<span style="color: #e50880"><a href="{{article.link}}"
                                                                                    target="blank"> [Read
                                    More] </a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Interviews-->
            <div class="panel panel-primary panel-custom">
                <div class="panel-heading panel-heading-custom">
                    <h3 class="panel-title">Interviews</h3>
                </div>
                <div class="panel-body panel-body-custom">
                    <div class="interviews-section">
                        <div class="row" ng-repeat="interview in interviews | limitTo:6">
                            <div class="col-md-12" style="text-align:justify;">
                                <p>{{interview.title}}<span style="color: #e50880"><a href="{{interview.link}}"
                                                                                      target="blank"> [Read
                                    More] </a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div ng-include src='"partials/video_interview_partial.html"'></div>

<script type="text/ng-template" id="statustemplateId">
    <div class="ngdialog-buttons popuptemplate" ng-controller="StoreFrontController">
        <h4>Are you sure you want to publish this store ?</h4>
        <button class="btn primary pull-right form-control" type="button" ng-click="Publish()">Publish</button>
        <button class="btn primary pull-right form-control" type="button" ng-click="CancelPublish()">Cancel</button>
    </div>
</script>
