<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-8 col-xs-9">
            <div class="col-lg-2 col-md-2 col-sm-2 bhoechie-tab-menu">
                <div ng-include src='"partials/admin/adminLeftMenu.html"'></div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 bhoechie-tab-container" style="margin-bottom: 20px;
                            padding-bottom: 20px; padding-left: 20px" ng-controller="managePromotionCtrl">
                <div ng-include src='"views/admin/evezplace/product_promotion_partial.html"'></div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="leftPromotionImageDialogId">
    <div class="ngdialog-buttons popuptemplate">
        <b>Resize and upload promotion image</b>
        <br/>

        <form>
            <div class="fileUpload btn btn-primary btn-block">
                <span><i class="fa fa-camera"></i> Select promotion image (png or jpg)</span>

                <input type="file"
                       class="upload"
                       ng-file-select="onFileSelect($files)"
                       ng-model="leftPromotionImage.src">
            </div>
            <b>Preview:</b>
            <br/>
            <i ng-hide="leftPromotionImage.src">No image chosen</i>

            <ng-crop data-src="leftPromotionImage.src"
                     ratio={{leftPromotionImage.cropConfig.aspectRatio}}
                     box-width={{leftPromotionImage.boxWidth}}
                     selected='leftPromotionImage.selected(cords)'>
            </ng-crop>
            <br/>
            <a ng-click="uploadLeftPromotionImage()" class="btn btn-primary pull-right" style="width:120px;">Upload
            <span style="position:absolute;margin-top:10px;margin-left:18px;" us-spinner="{radius:6, width:2, length: 2,color: '#FFFFFF'}" spinner-key="spinner-1" spinner-start-active="false"></span>
            </a>
            <p style="color:#0992F0">Please crop the image before upload</p>
            <br/>
        </form>
    </div>
</script>

<script type="text/ng-template" id="rightTopPromotionImageDialogId">
    <div class="ngdialog-buttons popuptemplate">
        <b>Resize and upload promotion image</b>
        <br/>

        <form>
            <div class="fileUpload btn btn-primary btn-block">
                <span><i class="fa fa-camera"></i> Select promotion image (png or jpg)</span>

                <input type="file"
                       class="upload"
                       ng-file-select="onFileSelect($files)"
                       ng-model="rightTopPromotionImage.src">
            </div>
            <b>Preview:</b>
            <br/>
            <i ng-hide="rightTopPromotionImage.src">No image chosen</i>

            <ng-crop data-src="rightTopPromotionImage.src"
                     ratio={{rightTopPromotionImage.cropConfig.aspectRatio}}
                     box-width={{rightTopPromotionImage.boxWidth}}
                     selected='rightTopPromotionImage.selected(cords)'>
            </ng-crop>
            <br/>
            <a ng-click="uploadRightTopPromotionImage()" class="btn btn-primary pull-right" style="width:120px;">Upload
            <span style="position:absolute;margin-top:10px;margin-left:18px;" us-spinner="{radius:6, width:2, length: 2,color: '#FFFFFF'}" spinner-key="spinner-1" spinner-start-active="false"></span>
            </a>
            <p style="color:#0992F0">Please crop the image before upload</p>
            <br/>
        </form>
    </div>
</script>

<script type="text/ng-template" id="rightBottomPromotionImageDialogId">
    <div class="ngdialog-buttons popuptemplate">
        <b>Resize and upload promotion image</b>
        <br/>

        <form>
            <div class="fileUpload btn btn-primary btn-block">
                <span><i class="fa fa-camera"></i> Select promotion image (png or jpg)</span>

                <input type="file"
                       class="upload"
                       ng-file-select="onFileSelect($files)"
                       ng-model="rightBottomPromotionImage.src">
            </div>
            <b>Preview:</b>
            <br/>
            <i ng-hide="rightBottomPromotionImage.src">No image chosen</i>

            <ng-crop data-src="rightBottomPromotionImage.src"
                     ratio={{rightBottomPromotionImage.cropConfig.aspectRatio}}
                     box-width={{rightBottomPromotionImage.boxWidth}}
                     selected='rightBottomPromotionImage.selected(cords)'>
            </ng-crop>
            <br/>
            <a ng-click="uploadRightBottomPromotionImage()" class="btn btn-primary pull-right" style="width:120px;">Upload
            <span style="position:absolute;margin-top:10px;margin-left:18px;" us-spinner="{radius:6, width:2, length: 2,color: '#FFFFFF'}" spinner-key="spinner-1" spinner-start-active="false"></span>
            </a>
            <p style="color:#0992F0">Please crop the image before upload</p>
            <br/>
        </form>
    </div>
</script>