<div style="background: #692668; padding: 5px 10px; color: #ffffff; margin-top: 5px">
    <div class="row">
        <div class="col-sm-12">
            <select class="form-control"
                    ng-model="selectedSectionId"
                    style="font-weight: 700"
                    default-option="Choose MarketPlace Section"
                    ng-change="chooseSectionPromotion(selectedSectionId)"
                    ng-options="section.id as section.name for section in sections"
                    required>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h5 style="font-weight: 600">Left Promotion Pic</h5>
    </div>
    <div class="col-sm-8">
        <img ng-src="{{promotion.left_image.large_image_url}}"
             class="img-responsive" alt="" style="width: 100%"/>
        <a href ng-click="uploadLeftPromotionPic()" class="btn btn-primary"
           style="position: absolute; bottom: 5px; right: 20px; opacity: 0.8">Upload</a>
    </div>
    <div class="col-sm-4">
        <h5>Small Caption</h5>
                        <textarea class="form-control"
                                  ng-model="promotion.left_small_caption"
                                  rows="2">
                        </textarea>
        <h5>Large Caption</h5>
                        <textarea class="form-control"
                                  ng-model="promotion.left_large_caption"
                                  rows="2">
                        </textarea>
        <h5>Promotion Button Text</h5>
        <input type="text" class="form-control"
               ng-model="promotion.left_button_text">
        </input>
        <h5>Promotion Link</h5>
        <input type="text" class="form-control"
               ng-model="promotion.left_link"
               rows="1">
        </input>
    </div>
    <div class="col-sm-12">
        <h5 style="font-weight: 600">Right Top Promotion Pic</h5>
    </div>
    <div class="col-sm-8">
        <img ng-src="{{promotion.right_top_image.large_image_url}}"
             class="img-responsive" alt="" style="width: 100%"/>
        <a href ng-click="uploadRightTopPromotionPic()" class="btn btn-primary"
           style="position: absolute; bottom: 5px; right: 20px; opacity: 0.8">Upload</a>
    </div>
    <div class="col-sm-4">
        <h5>Small Caption</h5>
                        <textarea class="form-control"
                                  ng-model="promotion.right_top_small_caption"
                                  rows="2">
                        </textarea>
        <h5>Promotion Link</h5>
        <input type="text" class="form-control"
               ng-model="promotion.right_top_link"
               rows="1">
        </input>
    </div>
    <div class="col-sm-12">
        <h5 style="font-weight: 600">Right Bottom Promotion Pic</h5>
    </div>
    <div class="col-sm-8">
        <img ng-src="{{promotion.right_bottom_image.large_image_url}}"
             class="img-responsive" alt="" style="width: 100%"/>
        <a href ng-click="uploadRightBottomPromotionPic()" class="btn btn-primary"
           style="position: absolute; bottom: 5px; right: 20px; opacity: 0.8">Upload</a>
    </div>
    <div class="col-sm-4">
        <h5>Small Caption</h5>
                        <textarea class="form-control"
                                  ng-model="promotion.right_bottom_small_caption"
                                  rows="2">
                        </textarea>
        <h5>Promotion Link</h5>
        <input type="text" class="form-control"
               ng-model="promotion.right_bottom_link"
               rows="1">
        </input>
    </div>
    <div class="col-sm-12">
        <hr>
        <div class="row">
            <div class="col-sm-offset-8 col-sm-2">
                <button ng-click="discardPromotionDetails()" class="btn btn-default btn-block">Discard</button>
            </div>
            <div class="col-sm-2">
                <button ng-click="savePromotionDetails()" class="btn btn-primary btn-block">Save</button>
            </div>
        </div>
    </div>
</div>