<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-8 col-xs-9 bhoechie-tab-container">
            <div class="col-lg-2 col-md-2 col-sm-2 bhoechie-tab-menu">
                <div
                        ng-include src='"partials/admin/adminLeftMenu.html"'>
                </div>
            </div>

            <div class="col-lg-10 col-md-10 col-sm-10 bhoechie-tab">
                <!-- flight section -->

                <div class="bhoechie-tab-content active">
              
                        <div ng-controller="AdminAddUser">
                            <div class="col-md-12 user-menu user-pad">
                                <div class="signup-section">
                                    <form>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-8 col-md-12">
                                                <center><h4 style="margin-top: 22px; margin-bottom: 20px; color: #800080; font-weight: 400; font-size: 22px">Add New User </h4></center>
                                            </div>

                                            <div class="col-xs-12 col-sm-8 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" name="first_name" id="first_name" class="form-control input-lg"
                                                           placeholder="Name" tabindex="1" ng-model="master.firstname" required>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-6">
                                                <div class="form-group">
                                                    <input type="text" name="last_name" id="last_name" class="form-control input-lg"
                                                           placeholder="Surname" tabindex="2" ng-model="master.lastname" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-8 col-md-6">
                                                <div class="form-group">
                                                    <input type="email" name="email" id="email" class="form-control input-lg"
                                                   placeholder="Email Address" tabindex="4" ng-model="master.emailId" required>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-6">
                                                <div class="form-group">
                                                    <select ng-model="role" class="form-control input-lg"
                                                    style="margin-bottom: 5px; height: 45px" default-option="User Type" required>
                                                        <option value="2">Member</option>
                                                        <option value="3">Business</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-8 col-md-6">
                                                <div class="form-group">
                                                    <input type="password" name="password" id="password" class="form-control input-lg"
                                                           placeholder="Password" tabindex="5" ng-model="master.password" required>
                                                </div>
                                                <!--<div ng-password-strength="password" strength="passwordStrength"> .... </div>-->
                                            </div>
                                            <div class="col-xs-12 col-sm-8 col-md-6">
                                                <div class="form-group">
                                                    <input type="password" name="password_confirmation" id="password_confirmation"
                                                           class="form-control input-lg" placeholder="Confirm Password" tabindex="6" ng-model="master.cpassword" required>
                                                </div>
                                            </div>
                                            <ul id="strength" check-strength="master.password"></ul>
                                        </div>

                                        <span us-spinner="{radius:6, width:2, length: 2,color: '#e50880'}" spinner-key="spinner-1" ></span>
                                        <div class="row">
                                            <div class="col-xs-12 col-md-8 col-md-offset-2" style="margin-top: 10px">
                                                <button
                                                        class="btn btn-primary btn-block btn-lg"
                                                        tabindex="22" ng-click="saveUserInfo(master)" style="height: 40px">Save</button>
                                            </div>
                                        </div>


                                    </form>


                                    <!--<pre>form = {{user | json}}</pre>-->
                                    <!--<pre>master = {{master | json}}</pre>-->
                                </div>
                            </div>
                        </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
