<div class="container">
    <span us-spinner="{radius:6, width:2, length: 2,color: '#e50880'}" spinner-key="spinner-1"
          spinner-start-active="true">
    </span>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-8 col-xs-9 bhoechie-tab-container">
            <div class="col-lg-2 col-md-2 col-sm-2 bhoechie-tab-menu">
                <div ng-include src='"partials/admin/adminLeftMenu.html"'></div>
            </div>

            <div class="col-lg-10 col-md-10 col-sm-10 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
                    <div class="table-responsive" ng-controller="bloglists" ng-cloak="">
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 style="font-weight: 600">Search Blog</h5>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" placeholder="search based on title"
                                       ng-model="blogSearchText">
                            </div>
                        </div>
                        <table ng-table="blogAdminTableParams" template-pagination="custom/pager"
                               class="table table-condensed table-striped">

                            <tr ng-repeat="blog in blogs | filter:blogSearchText">
                                <td data-title="'blog'" header-class="text-left">
                                    <h5 style="font-weight: 600">{{blog.title}}</h5>
                                    <span ng-bind-html="blog.content | addLimitEllipsis : 250"></span>
                                    <span style="font-weight: 300; color: #666666">
                                        Author: <a style="color: #e51385" href="#profile/{{blog.author.id}}">{{blog.author.firstname}}
                                        {{blog.author.lastname}}</a>
                                        Category: <a style="color: #e51385" href>{{blog.subcategory.category.category_name}}
                                    </a></span>
                                </td>
                                <td data-title="'Show in marketplace?'" class="text-center"
                                    style="vertical-align: middle">
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox"
                                               id="{{blog.id}}"
                                               ng-checked="blog.trending.is_show_evezplace"
                                               ng-click="showInEvezplaceDialog(blog)"/>
                                        <label for="{{blog.id}}"></label>
                                    </div>
                                </td>

                                <td data-title="'Edit'" class="text-center" style="vertical-align: middle">
                                    <a href ng-click="EditBlog(blog)">
                                        <span style="color: #e51385; font-size: 18px" class="fa fa-edit"></span>
                                    </a>
                                </td>
                                <td data-title="'Delete'" class="text-center" style="vertical-align: middle">
                                    <a href ng-click="DeleteBlogDialog(blog.id)">
                                        <span style="color: #e51385; font-size: 18px" class="fa fa-remove"></span>
                                    </a>
                                </td>
                        </table>
                        <script type="text/ng-template" id="custom/pager">
                            <ul class="pager ng-cloak">
                                <li ng-repeat="page in pages"
                                    ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                                    ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                                    <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo;
                                        Previous</a>
                                    <a ng-switch-when="next" ng-click="params.page(page.number)"
                                       href="">Next &raquo;</a>
                                </li>
                                <li>
                                    <div class="btn-group">
                                        <button type="button" ng-class="{'active':params.count() == 10}"
                                                ng-click="params.count(10)" class="btn btn-default">10
                                        </button>
                                        <button type="button" ng-class="{'active':params.count() == 25}"
                                                ng-click="params.count(25)" class="btn btn-default">25
                                        </button>
                                        <button type="button" ng-class="{'active':params.count() == 50}"
                                                ng-click="params.count(50)" class="btn btn-default">50
                                        </button>
                                        <button type="button" ng-class="{'active':params.count() == 100}"
                                                ng-click="params.count(100)" class="btn btn-default">100
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="deleteBlogTemplateId">
    <div class="ngdialog-buttons popuptemplate">
        <p>Are you sure you want to delete the Blog?</p>

        <div class="col-sm-12">
            <div class="col-sm-6">
                <button class="btn btn-primary pull-right form-control" type="button"
                        ng-click="deleteBlog()">Delete
                </button>
            </div>
            <div class="col-sm-6">
                <button class="btn pull-right form-control" type="button"
                        ng-click="cancelDeleteBlog()">Cancel
                </button>
            </div>
        </div>

    </div>
</script>

<script type="text/ng-template" id="showInEvezplaceTemplateId">
    <div class="ngdialog-buttons popuptemplate" style="line-height: 1em">
        <div class="col-sm-12">
            <p>Choose Options:</p>
        </div>

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <h5>Show in marketplace?</h5>
                </div>
                <div class="col-sm-6">
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox"
                               id="showEvezplace"
                               ng-model="options.is_show_evezplace"
                               ng-checked="options.is_show_evezplace"
                               ng-true-value="1"
                               ng-false-value="0"/>
                        <label for="showEvezplace"></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                   <h5 tooltip="priority will keep the blog at the top in marketplace section">Set Priority (default 0)</h5>
                </div>
                <div class="col-sm-6">
                    <input type="number" class="form-control"
                           value="{{options.priority}}" ng-model="options.priority"/>
                </div>
            </div>
        </div>

        <div class="col-sm-12" style="margin-top: 10px">

            <div class="row">
                <div class="col-sm-6">
                    <h5 tooltip="priority will keep the blog at the top in marketplace section">Marketplace Section</h5>
                </div>
                <div class="col-sm-6">
                    <select class="form-control"
                            ng-model="options.selectedSectionId"
                            style="font-weight: 700"
                            default-option="Choose Evezplace Section"
                            ng-options="section.id as section.name for section in sections"
                            required>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-12" style="margin-top: 20px">
            <div class="col-sm-6">
                <button class="btn btn-primary pull-right form-control" type="button"
                        ng-click="addBlogShowEvezplace()">Update
                </button>
            </div>
            <div class="col-sm-6">
                <button class="btn pull-right form-control" type="button"
                        ng-click="cancelShowInEvezplaceBlog()">Cancel
                </button>
            </div>
        </div>
    </div>
</script>