<div class="container">
    <span us-spinner="{radius:6, width:2, length: 2,color: '#e50880'}" spinner-key="spinner-1"
          spinner-start-active="true">

    </span>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-8 col-xs-9 bhoechie-tab-container">
            <div class="col-lg-2 col-md-2 col-sm-2 bhoechie-tab-menu">
                <div
                        ng-include src='"partials/admin/adminLeftMenu.html"'>
                </div>
            </div>

            <div class="col-lg-10 col-md-10 col-sm-10 bhoechie-tab">
                <!-- flight section -->

    <div class="bhoechie-tab-content active">
        <center>
            <div class="table-responsive" ng-controller="AdminListUsers" ng-cloak="">

                <div class="col-md-2 col-md-offset-4 pull-right custom-user-button">
                    <a href="#/admin/addNewUser" class="btn btn-primary"><span class="fa fa-plus"></span> Add User</a>
                </div>

                <table ng-table="userAdminTableParams" template-pagination="custom/pager" class="table table-bordred table-striped">
                 <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="search user" ng-model="evesearch"/>
                 </div>

                    <tr ng-repeat="user in getUser | filter:evesearch | orderBy:'firstname':false" class="text-left">
                        <td data-title="'First Name'">{{user.firstname}} </td>
                        <td data-title="'Last Name'">{{user.lastname}}</td>
                        <td data-title="'Email'">{{user.email}}</td>
                        <td data-title="'Status'"><label>
                        		<font color="orange">{{ user.blocked == 1 ? 'Blocked':''}} </font>
                        		<font color="red">{{ user.deleted == 1 ? 'Deleted':''}} </font>
                        		<font color="green">{{ user.blocked == 0 && user.deleted == 0 ? 'Active':'' }} </font></label>
                        </td>
                        <td data-title="'Action'">
                            <p> <span >
                            		<label>| <a href ng-click="getPersonalInfo(user)" class="topic-link">Edit</a> |</label> 
                            		<label ng-if="user.blocked == 0 && user.deleted == 0"><a href ng-click="userAction(user.id,'1','blocked',user.firstname)" class="topic-link">Block</a> |</label>
                            		<label ng-if="user.blocked == 1"><a href ng-click="userAction(user.id,'0','unblocked',user.firstname)" class="topic-link">Unblock</a> |</label>
                            		<label ng-if="user.deleted == 1"><a href ng-click="userAction(user.id,'0','activated',user.firstname)" class="topic-link">Activate</a> |</label>
                            		<label ng-if="user.deleted == 0 && user.blocked == 0"><a href ng-click="userAction(user.id,'1','deleted',user.firstname)" class="topic-link">Delete</a> |</label>
                            </span>
                            </p>
                        </td>
                </table>
                <uib-pagination ng-show="getUser.length > 0" total-items="userPagination.total"
                                ng-model="currentUserPage"
                                max-size="maxSize"
                                class="pagination-custom pagination-sm pull-right"
                                boundary-links="true"
                                rotate="false"
                                num-pages="numPages"
                                ng-change="pageChanged()">
                </uib-pagination>
            </div>
        </div>
    </center>
</div>
</div>
</div>
</div>
</div>















































